#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Rectangle_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  filter: alpha(opacity=60);
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Paragraph_2 {
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Paragraph_6 {
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Paragraph_39 {
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Button_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 13px 13px 13px 13px;
  padding-top: 7px;
  padding-right: 7px;
  padding-bottom: 7px;
  padding-left: 7px;
  width: 201px;
  height: 70px;
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Paragraph_41 {
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: alpha(opacity=70);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Paragraph_47 {
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Button_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 13px 13px 13px 13px;
  padding-top: 7px;
  padding-right: 7px;
  padding-bottom: 7px;
  padding-left: 7px;
  width: 201px;
  height: 70px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: alpha(opacity=70);
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Paragraph_48 {
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Paragraph_49 {
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Line_1 {
  border-top-width: 2px;
  border-top-style: dotted;
  border-top-color: #F28B00;
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Line_1 {
  border-top-width: 2px;
  border-top-style: dotted;
  border-top-color: #F28B00;
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Line_2 {
  border-top-width: 2px;
  border-top-style: dotted;
  border-top-color: #F28B00;
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Line_2 {
  border-top-width: 2px;
  border-top-style: dotted;
  border-top-color: #F28B00;
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Button_5 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 7px 7px 7px 7px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  width: 179px;
  height: 32px;
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Paragraph_50 {
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Paragraph_51 {
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Button_6 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 13px 13px 13px 13px;
  padding-top: 7px;
  padding-right: 7px;
  padding-bottom: 7px;
  padding-left: 7px;
  width: 201px;
  height: 70px;
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Paragraph_52 {
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Paragraph_53 {
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Text_17 {
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Text_18 {
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Text_19 {
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Line_3 {
  border-top-width: 2px;
  border-top-style: dotted;
  border-top-color: #05AADD;
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Line_3 {
  border-top-width: 2px;
  border-top-style: dotted;
  border-top-color: #05AADD;
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Text_24 {
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Line_4 {
  border-top-width: 2px;
  border-top-style: dotted;
  border-top-color: #05AADD;
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Line_4 {
  border-top-width: 2px;
  border-top-style: dotted;
  border-top-color: #05AADD;
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Button_8 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 7px 7px 7px 7px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  width: 179px;
  height: 32px;
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Paragraph_54 {
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Paragraph_55 {
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Paragraph_56 {
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Text_29 {
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Paragraph_57 {
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Button_9 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 13px 13px 13px 13px;
  padding-top: 7px;
  padding-right: 7px;
  padding-bottom: 7px;
  padding-left: 7px;
  width: 201px;
  height: 70px;
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Paragraph_58 {
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Button_10 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 13px 13px 13px 13px;
  padding-top: 7px;
  padding-right: 7px;
  padding-bottom: 7px;
  padding-left: 7px;
  width: 201px;
  height: 70px;
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Paragraph_59 {
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Image_6 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=69);
  filter: alpha(opacity=69);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Paragraph_60 {
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Button_25 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 13px 13px 13px 13px;
  padding-top: 7px;
  padding-right: 7px;
  padding-bottom: 7px;
  padding-left: 7px;
  width: 201px;
  height: 70px;
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Paragraph_61 {
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Image_7 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: alpha(opacity=70);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Paragraph_62 {
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Button_26 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 13px 13px 13px 13px;
  padding-top: 7px;
  padding-right: 7px;
  padding-bottom: 7px;
  padding-left: 7px;
  width: 201px;
  height: 70px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: alpha(opacity=70);
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Paragraph_64 {
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Line_7 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Line_7 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Button_27 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 7px 7px 7px 7px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  width: 179px;
  height: 32px;
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Paragraph_65 {
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Button_28 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 7px 7px 7px 7px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  width: 179px;
  height: 32px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=69);
  filter: alpha(opacity=69);
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Paragraph_66 {
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Line_8 {
  border-top-width: 1px;
  border-top-style: dotted;
  border-top-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Line_8 {
  border-top-width: 1px;
  border-top-style: dotted;
  border-top-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Rectangle_5 {
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Button_29 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 11px 11px 11px 11px;
  padding-top: 6px;
  padding-right: 6px;
  padding-bottom: 6px;
  padding-left: 6px;
  width: 380px;
  height: 57px;
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Paragraph_67 {
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Text_56 {
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Text_57 {
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Image_11 {
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Image_12 {
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Image_19 {
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Image_20 {
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Image_22 {
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Image_23 {
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Paragraph_68 {
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Button_30 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 8px 8px 8px 8px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  width: 157px;
  height: 38px;
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Image_29 {
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Paragraph_69 {
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Button_31 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 8px 8px 8px 8px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  width: 157px;
  height: 38px;
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Image_31 {
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Rectangle_6 {
  border-top-width: 1px;
  border-top-style: dotted;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: dotted;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: dotted;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Image_32 {
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Rectangle_8 {
  border-top-width: 1px;
  border-top-style: dotted;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: dotted;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: dotted;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Text_60 {
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Text_67 {
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Rectangle_16 {
  border-top-width: 1px;
  border-top-style: dotted;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: dotted;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: dotted;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Image_33 {
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Text_70 {
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Text_82 {
  -ms-transform: rotate(180.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Text_83 {
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Text_84 {
  -ms-transform: rotate(180.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Rectangle_17 {
  border-top-width: 1px;
  border-top-style: dotted;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: dotted;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: dotted;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Text_85 {
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Text_106 {
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Text_107 {
  -ms-transform: rotate(180.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Rectangle_18 {
  border-top-width: 1px;
  border-top-style: dotted;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: dotted;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: dotted;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Text_108 {
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Line_28 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Line_28 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Image_48 {
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Button_32 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 7px 7px 7px 7px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  width: 179px;
  height: 32px;
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Paragraph_75 {
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Text_116 {
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Text_117 {
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Text_118 {
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Button_33 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 13px 13px 13px 13px;
  padding-top: 7px;
  padding-right: 7px;
  padding-bottom: 7px;
  padding-left: 7px;
  width: 201px;
  height: 70px;
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Paragraph_76 {
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Paragraph_77 {
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Button_34 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 7px 7px 7px 7px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  width: 179px;
  height: 32px;
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Paragraph_78 {
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Text_120 {
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Text_121 {
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Text_122 {
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Text_123 {
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Text_124 {
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Text_125 {
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Paragraph_79 {
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Text_126 {
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Line_29 {
  border-top-width: 2px;
  border-top-style: dotted;
  border-top-color: #60676E;
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Line_29 {
  border-top-width: 2px;
  border-top-style: dotted;
  border-top-color: #60676E;
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Line_30 {
  border-top-width: 2px;
  border-top-style: dotted;
  border-top-color: #60676E;
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Line_30 {
  border-top-width: 2px;
  border-top-style: dotted;
  border-top-color: #60676E;
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Text_127 {
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Text_128 {
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Text_129 {
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Text_130 {
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Paragraph_80 {
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Text_131 {
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Text_132 {
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Text_133 {
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Line_31 {
  border-top-width: 2px;
  border-top-style: dotted;
  border-top-color: #C32822;
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Line_31 {
  border-top-width: 2px;
  border-top-style: dotted;
  border-top-color: #C32822;
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Text_135 {
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Line_32 {
  border-top-width: 2px;
  border-top-style: dotted;
  border-top-color: #C32822;
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Line_32 {
  border-top-width: 2px;
  border-top-style: dotted;
  border-top-color: #C32822;
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Text_136 {
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Text_137 {
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Paragraph_81 {
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Text_138 {
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Text_139 {
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Text_140 {
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Line_33 {
  border-top-width: 2px;
  border-top-style: dotted;
  border-top-color: #CEDF00;
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Line_33 {
  border-top-width: 2px;
  border-top-style: dotted;
  border-top-color: #CEDF00;
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Text_142 {
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Line_34 {
  border-top-width: 2px;
  border-top-style: dotted;
  border-top-color: #CEDF00;
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Line_34 {
  border-top-width: 2px;
  border-top-style: dotted;
  border-top-color: #CEDF00;
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Text_143 {
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Text_144 {
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Paragraph_82 {
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Text_145 {
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Text_146 {
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Text_147 {
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Text_149 {
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Text_150 {
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Text_151 {
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Image_69 {
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Image_67 {
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Paragraph_3 {
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Paragraph_4 {
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Paragraph_5 {
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Text_15 {
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Text_16 {
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Paragraph_7 {
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Image_68 {
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Image_72 {
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Image_87 {
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Paragraph_12 {
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Image_85 {
  -ms-transform: rotate(90.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Image_8 {
  -ms-transform: rotate(90.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Image_9 {
  -ms-transform: rotate(90.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Paragraph_10 {
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Paragraph_70 {
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Text_20 {
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Text_21 {
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Text_152 {
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Text_153 {
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Text_154 {
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Text_155 {
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Paragraph_63 {
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Paragraph_71 {
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Image_10 {
  -ms-transform: rotate(90.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Image_13 {
  -ms-transform: rotate(90.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Image_14 {
  -ms-transform: rotate(90.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Line_35 {
  border-top-width: 2px;
  border-top-style: dotted;
  border-top-color: #505050;
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Line_35 {
  border-top-width: 2px;
  border-top-style: dotted;
  border-top-color: #505050;
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Line_36 {
  border-top-width: 2px;
  border-top-style: dotted;
  border-top-color: #505050;
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Line_36 {
  border-top-width: 2px;
  border-top-style: dotted;
  border-top-color: #505050;
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Text_13 {
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Text_14 {
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Line_5 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #757873;
  -ms-transform: rotate(89.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Line_5 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #757873;
  -ms-transform: rotate(89.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Line_6 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #757873;
  -ms-transform: rotate(89.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Line_6 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #757873;
  -ms-transform: rotate(89.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Line_9 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #757873;
  -ms-transform: rotate(89.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Line_9 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #757873;
  -ms-transform: rotate(89.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Line_11 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #009FE3;
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Line_11 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #009FE3;
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Line_12 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Line_12 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Line_13 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Line_13 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Text_22 {
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Line_16 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Line_16 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Text_12 {
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Line_10 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #757873;
  -ms-transform: rotate(89.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Line_10 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #757873;
  -ms-transform: rotate(89.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Line_14 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Line_14 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Line_15 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Line_15 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Line_17 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Line_17 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Line_18 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #757873;
  -ms-transform: rotate(89.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Line_18 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #757873;
  -ms-transform: rotate(89.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Rectangle_7 {
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #009FE3;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #009FE3;
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Rectangle_9 {
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Rectangle_19 {
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Rectangle_20 {
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Rectangle_21 {
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Rectangle_22 {
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Rectangle_10 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=87);
  filter: alpha(opacity=87);
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Text_23 {
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Text_25 {
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Paragraph_13 {
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Rectangle_12 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  border-radius: 15px 15px 15px 15px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=97);
  filter: alpha(opacity=97);
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Rectangle_14 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #08A2D8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #08A2D8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #08A2D8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #08A2D8;
  border-radius: 12px 12px 12px 12px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=97);
  filter: alpha(opacity=97);
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Rectangle_11 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #08A2D8;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #08A2D8;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #08A2D8;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #08A2D8;
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Rectangle_13 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #F28F08;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #F28F08;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F28F08;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #F28F08;
  border-radius: 12px 12px 12px 12px;
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Rectangle_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #F28B00;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #F28B00;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #F28B00;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #F28B00;
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Image_15 {
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Rectangle_15 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Paragraph_8 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98);
  filter: alpha(opacity=98);
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Paragraph_14 {
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Button_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 220px;
  height: 23px;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Text_26 {
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Rectangle_26 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Label_11 {
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Rectangle_27 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Label_4 {
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Paragraph_19 {
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Button_7 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 220px;
  height: 23px;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Label_9 {
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Text_27 {
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Text_28 {
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-close-white {
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 #s-Text_30 {
  -ms-transform: rotate(0.0deg);
}
#s-0dc1a67d-724d-4f6d-ae24-bcf51c97ef51 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}