#s-1401035a-9ebb-45b9-9feb-058ef29aeef7 #s-Rectangle_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=48);
  filter: alpha(opacity=48);
  -ms-transform: rotate(0.0deg);
}
#s-1401035a-9ebb-45b9-9feb-058ef29aeef7 #s-Paragraph_2 {
  -ms-transform: rotate(0.0deg);
}
#s-1401035a-9ebb-45b9-9feb-058ef29aeef7 #s-Paragraph_3 {
  -ms-transform: rotate(0.0deg);
}
#s-1401035a-9ebb-45b9-9feb-058ef29aeef7 #s-Rectangle_6 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  border-radius: 14px 14px 14px 14px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=97);
  filter: alpha(opacity=97);
  -ms-transform: rotate(0.0deg);
}
#s-1401035a-9ebb-45b9-9feb-058ef29aeef7 #s-Text_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
  filter: alpha(opacity=99);
  -ms-transform: rotate(0.0deg);
}
#s-1401035a-9ebb-45b9-9feb-058ef29aeef7 #s-Text_4 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
  filter: alpha(opacity=99);
  -ms-transform: rotate(0.0deg);
}
#s-1401035a-9ebb-45b9-9feb-058ef29aeef7 #s-Line_2 {
  border-top-width: 8px;
  border-top-style: solid;
  border-top-color: #F28B00;
  -ms-transform: rotate(0.0deg);
}
#s-1401035a-9ebb-45b9-9feb-058ef29aeef7 #s-Line_2 {
  border-top-width: 8px;
  border-top-style: solid;
  border-top-color: #F28B00;
  -ms-transform: rotate(0.0deg);
}
#s-1401035a-9ebb-45b9-9feb-058ef29aeef7 #s-Paragraph_5 {
  -ms-transform: rotate(0.0deg);
}
#s-1401035a-9ebb-45b9-9feb-058ef29aeef7 #s-Rectangle_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  border-radius: 4px 4px 4px 4px;
  -ms-transform: rotate(0.0deg);
}
#s-1401035a-9ebb-45b9-9feb-058ef29aeef7 #s-Button_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 196px;
  height: 23px;
  -ms-transform: rotate(0.0deg);
}
#s-1401035a-9ebb-45b9-9feb-058ef29aeef7 #s-Button_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 196px;
  height: 23px;
  -ms-transform: rotate(0.0deg);
}
#s-1401035a-9ebb-45b9-9feb-058ef29aeef7 #s-Paragraph_6 {
  -ms-transform: rotate(0.0deg);
}
#s-1401035a-9ebb-45b9-9feb-058ef29aeef7 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-1401035a-9ebb-45b9-9feb-058ef29aeef7 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-1401035a-9ebb-45b9-9feb-058ef29aeef7 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-1401035a-9ebb-45b9-9feb-058ef29aeef7 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-1401035a-9ebb-45b9-9feb-058ef29aeef7 #s-Image_67 {
  -ms-transform: rotate(0.0deg);
}
#s-1401035a-9ebb-45b9-9feb-058ef29aeef7 #s-Paragraph_4 {
  -ms-transform: rotate(0.0deg);
}
#s-1401035a-9ebb-45b9-9feb-058ef29aeef7 #s-Paragraph_7 {
  -ms-transform: rotate(0.0deg);
}
#s-1401035a-9ebb-45b9-9feb-058ef29aeef7 #s-Paragraph_8 {
  -ms-transform: rotate(0.0deg);
}
#s-1401035a-9ebb-45b9-9feb-058ef29aeef7 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-1401035a-9ebb-45b9-9feb-058ef29aeef7 #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-1401035a-9ebb-45b9-9feb-058ef29aeef7 #s-Paragraph_9 {
  -ms-transform: rotate(0.0deg);
}
#s-1401035a-9ebb-45b9-9feb-058ef29aeef7 #s-Image_68 {
  -ms-transform: rotate(0.0deg);
}
#s-1401035a-9ebb-45b9-9feb-058ef29aeef7 #s-Image_72 {
  -ms-transform: rotate(0.0deg);
}
#s-1401035a-9ebb-45b9-9feb-058ef29aeef7 #s-Image_87 {
  -ms-transform: rotate(0.0deg);
}
#s-1401035a-9ebb-45b9-9feb-058ef29aeef7 #s-Paragraph_12 {
  -ms-transform: rotate(0.0deg);
}
#s-1401035a-9ebb-45b9-9feb-058ef29aeef7 #s-Image_69 {
  -ms-transform: rotate(0.0deg);
}
#s-1401035a-9ebb-45b9-9feb-058ef29aeef7 #s-Rectangle_7 {
  -ms-transform: rotate(0.0deg);
}
#s-1401035a-9ebb-45b9-9feb-058ef29aeef7 #s-Rectangle_8 {
  -ms-transform: rotate(0.0deg);
}
#s-1401035a-9ebb-45b9-9feb-058ef29aeef7 #s-Rectangle_16 {
  -ms-transform: rotate(0.0deg);
}
#s-1401035a-9ebb-45b9-9feb-058ef29aeef7 #s-Rectangle_17 {
  -ms-transform: rotate(0.0deg);
}
#s-1401035a-9ebb-45b9-9feb-058ef29aeef7 #s-Rectangle_18 {
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #009FE3;
  -ms-transform: rotate(0.0deg);
}
#s-1401035a-9ebb-45b9-9feb-058ef29aeef7 #s-Rectangle_19 {
  -ms-transform: rotate(0.0deg);
}
#s-1401035a-9ebb-45b9-9feb-058ef29aeef7 #s-Image_86 {
  -ms-transform: rotate(0.0deg);
}
#s-1401035a-9ebb-45b9-9feb-058ef29aeef7 #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-1401035a-9ebb-45b9-9feb-058ef29aeef7 #s-Text_12 {
  -ms-transform: rotate(0.0deg);
}
#s-1401035a-9ebb-45b9-9feb-058ef29aeef7 #s-Text_13 {
  -ms-transform: rotate(0.0deg);
}
#s-1401035a-9ebb-45b9-9feb-058ef29aeef7 #s-Text_14 {
  -ms-transform: rotate(0.0deg);
}
#s-1401035a-9ebb-45b9-9feb-058ef29aeef7 #s-Line_5 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #757873;
  -ms-transform: rotate(89.0deg);
}
#s-1401035a-9ebb-45b9-9feb-058ef29aeef7 #s-Line_5 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #757873;
  -ms-transform: rotate(89.0deg);
}
#s-1401035a-9ebb-45b9-9feb-058ef29aeef7 #s-Line_6 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #757873;
  -ms-transform: rotate(89.0deg);
}
#s-1401035a-9ebb-45b9-9feb-058ef29aeef7 #s-Line_6 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #757873;
  -ms-transform: rotate(89.0deg);
}
#s-1401035a-9ebb-45b9-9feb-058ef29aeef7 #s-Line_7 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #757873;
  -ms-transform: rotate(89.0deg);
}
#s-1401035a-9ebb-45b9-9feb-058ef29aeef7 #s-Line_7 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #757873;
  -ms-transform: rotate(89.0deg);
}
#s-1401035a-9ebb-45b9-9feb-058ef29aeef7 #s-Line_8 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #757873;
  -ms-transform: rotate(89.0deg);
}
#s-1401035a-9ebb-45b9-9feb-058ef29aeef7 #s-Line_8 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #757873;
  -ms-transform: rotate(89.0deg);
}
#s-1401035a-9ebb-45b9-9feb-058ef29aeef7 #s-Line_10 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-1401035a-9ebb-45b9-9feb-058ef29aeef7 #s-Line_10 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-1401035a-9ebb-45b9-9feb-058ef29aeef7 #s-Line_11 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-1401035a-9ebb-45b9-9feb-058ef29aeef7 #s-Line_11 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-1401035a-9ebb-45b9-9feb-058ef29aeef7 #s-Line_12 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #009FE3;
  -ms-transform: rotate(0.0deg);
}
#s-1401035a-9ebb-45b9-9feb-058ef29aeef7 #s-Line_12 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #009FE3;
  -ms-transform: rotate(0.0deg);
}
#s-1401035a-9ebb-45b9-9feb-058ef29aeef7 #s-Line_13 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-1401035a-9ebb-45b9-9feb-058ef29aeef7 #s-Line_13 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-1401035a-9ebb-45b9-9feb-058ef29aeef7 #s-Text_15 {
  -ms-transform: rotate(0.0deg);
}
#s-1401035a-9ebb-45b9-9feb-058ef29aeef7 #s-Line_14 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-1401035a-9ebb-45b9-9feb-058ef29aeef7 #s-Line_14 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-1401035a-9ebb-45b9-9feb-058ef29aeef7 #s-Line_15 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #757873;
  -ms-transform: rotate(89.0deg);
}
#s-1401035a-9ebb-45b9-9feb-058ef29aeef7 #s-Line_15 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #757873;
  -ms-transform: rotate(89.0deg);
}
#s-1401035a-9ebb-45b9-9feb-058ef29aeef7 #s-Text_16 {
  -ms-transform: rotate(0.0deg);
}
#s-1401035a-9ebb-45b9-9feb-058ef29aeef7 #s-Line_17 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-1401035a-9ebb-45b9-9feb-058ef29aeef7 #s-Line_17 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-1401035a-9ebb-45b9-9feb-058ef29aeef7 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}