#s-1401035a-9ebb-45b9-9feb-058ef29aeef7 #s-Rectangle_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=48) ;
  filter: alpha(opacity=48) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1401035a-9ebb-45b9-9feb-058ef29aeef7 #s-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1401035a-9ebb-45b9-9feb-058ef29aeef7 #s-Paragraph_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1401035a-9ebb-45b9-9feb-058ef29aeef7 #s-Rectangle_6 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=97) ;
  filter: alpha(opacity=97) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1401035a-9ebb-45b9-9feb-058ef29aeef7 #s-Text_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99) ;
  filter: alpha(opacity=99) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1401035a-9ebb-45b9-9feb-058ef29aeef7 #s-Text_4 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99) ;
  filter: alpha(opacity=99) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1401035a-9ebb-45b9-9feb-058ef29aeef7 #s-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1401035a-9ebb-45b9-9feb-058ef29aeef7 #s-Paragraph_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1401035a-9ebb-45b9-9feb-058ef29aeef7 #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1401035a-9ebb-45b9-9feb-058ef29aeef7 #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1401035a-9ebb-45b9-9feb-058ef29aeef7 #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1401035a-9ebb-45b9-9feb-058ef29aeef7 #s-Paragraph_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1401035a-9ebb-45b9-9feb-058ef29aeef7 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1401035a-9ebb-45b9-9feb-058ef29aeef7 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1401035a-9ebb-45b9-9feb-058ef29aeef7 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1401035a-9ebb-45b9-9feb-058ef29aeef7 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1401035a-9ebb-45b9-9feb-058ef29aeef7 #s-Image_67 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1401035a-9ebb-45b9-9feb-058ef29aeef7 #s-Paragraph_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1401035a-9ebb-45b9-9feb-058ef29aeef7 #s-Paragraph_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1401035a-9ebb-45b9-9feb-058ef29aeef7 #s-Paragraph_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1401035a-9ebb-45b9-9feb-058ef29aeef7 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1401035a-9ebb-45b9-9feb-058ef29aeef7 #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1401035a-9ebb-45b9-9feb-058ef29aeef7 #s-Paragraph_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1401035a-9ebb-45b9-9feb-058ef29aeef7 #s-Image_68 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1401035a-9ebb-45b9-9feb-058ef29aeef7 #s-Image_72 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1401035a-9ebb-45b9-9feb-058ef29aeef7 #s-Image_87 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1401035a-9ebb-45b9-9feb-058ef29aeef7 #s-Paragraph_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1401035a-9ebb-45b9-9feb-058ef29aeef7 #s-Image_69 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1401035a-9ebb-45b9-9feb-058ef29aeef7 #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1401035a-9ebb-45b9-9feb-058ef29aeef7 #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1401035a-9ebb-45b9-9feb-058ef29aeef7 #s-Rectangle_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1401035a-9ebb-45b9-9feb-058ef29aeef7 #s-Rectangle_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1401035a-9ebb-45b9-9feb-058ef29aeef7 #s-Rectangle_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1401035a-9ebb-45b9-9feb-058ef29aeef7 #s-Rectangle_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1401035a-9ebb-45b9-9feb-058ef29aeef7 #s-Image_86 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1401035a-9ebb-45b9-9feb-058ef29aeef7 #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1401035a-9ebb-45b9-9feb-058ef29aeef7 #s-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1401035a-9ebb-45b9-9feb-058ef29aeef7 #s-Text_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1401035a-9ebb-45b9-9feb-058ef29aeef7 #s-Text_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1401035a-9ebb-45b9-9feb-058ef29aeef7 #s-Line_5 {
  rotation: 89.0;
  margin-left: 14px;
  margin-top: -16px;
}
#s-1401035a-9ebb-45b9-9feb-058ef29aeef7 #s-Line_6 {
  rotation: 89.0;
  margin-left: 14px;
  margin-top: -16px;
}
#s-1401035a-9ebb-45b9-9feb-058ef29aeef7 #s-Line_7 {
  rotation: 89.0;
  margin-left: 14px;
  margin-top: -16px;
}
#s-1401035a-9ebb-45b9-9feb-058ef29aeef7 #s-Line_8 {
  rotation: 89.0;
  margin-left: 14px;
  margin-top: -16px;
}
#s-1401035a-9ebb-45b9-9feb-058ef29aeef7 #s-Line_10 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1401035a-9ebb-45b9-9feb-058ef29aeef7 #s-Line_11 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1401035a-9ebb-45b9-9feb-058ef29aeef7 #s-Line_12 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1401035a-9ebb-45b9-9feb-058ef29aeef7 #s-Line_13 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1401035a-9ebb-45b9-9feb-058ef29aeef7 #s-Text_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1401035a-9ebb-45b9-9feb-058ef29aeef7 #s-Line_14 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1401035a-9ebb-45b9-9feb-058ef29aeef7 #s-Line_15 {
  rotation: 89.0;
  margin-left: 14px;
  margin-top: -16px;
}
#s-1401035a-9ebb-45b9-9feb-058ef29aeef7 #s-Text_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1401035a-9ebb-45b9-9feb-058ef29aeef7 #s-Line_17 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1401035a-9ebb-45b9-9feb-058ef29aeef7 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}