#s-36b54730-5f88-49b7-a7a5-618e6326e13e #s-Rectangle_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=48) ;
  filter: alpha(opacity=48) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-36b54730-5f88-49b7-a7a5-618e6326e13e #s-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-36b54730-5f88-49b7-a7a5-618e6326e13e #s-Paragraph_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-36b54730-5f88-49b7-a7a5-618e6326e13e #s-Rectangle_6 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=97) ;
  filter: alpha(opacity=97) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-36b54730-5f88-49b7-a7a5-618e6326e13e #s-Text_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99) ;
  filter: alpha(opacity=99) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-36b54730-5f88-49b7-a7a5-618e6326e13e #s-Text_4 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99) ;
  filter: alpha(opacity=99) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-36b54730-5f88-49b7-a7a5-618e6326e13e #s-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-36b54730-5f88-49b7-a7a5-618e6326e13e #s-Paragraph_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-36b54730-5f88-49b7-a7a5-618e6326e13e #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-36b54730-5f88-49b7-a7a5-618e6326e13e #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-36b54730-5f88-49b7-a7a5-618e6326e13e #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-36b54730-5f88-49b7-a7a5-618e6326e13e #s-Paragraph_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-36b54730-5f88-49b7-a7a5-618e6326e13e #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-36b54730-5f88-49b7-a7a5-618e6326e13e #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-36b54730-5f88-49b7-a7a5-618e6326e13e #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-36b54730-5f88-49b7-a7a5-618e6326e13e #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-36b54730-5f88-49b7-a7a5-618e6326e13e #s-Image_67 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-36b54730-5f88-49b7-a7a5-618e6326e13e #s-Paragraph_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-36b54730-5f88-49b7-a7a5-618e6326e13e #s-Paragraph_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-36b54730-5f88-49b7-a7a5-618e6326e13e #s-Paragraph_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-36b54730-5f88-49b7-a7a5-618e6326e13e #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-36b54730-5f88-49b7-a7a5-618e6326e13e #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-36b54730-5f88-49b7-a7a5-618e6326e13e #s-Paragraph_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-36b54730-5f88-49b7-a7a5-618e6326e13e #s-Image_68 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-36b54730-5f88-49b7-a7a5-618e6326e13e #s-Image_72 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-36b54730-5f88-49b7-a7a5-618e6326e13e #s-Image_87 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-36b54730-5f88-49b7-a7a5-618e6326e13e #s-Paragraph_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-36b54730-5f88-49b7-a7a5-618e6326e13e #s-Image_69 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-36b54730-5f88-49b7-a7a5-618e6326e13e #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-36b54730-5f88-49b7-a7a5-618e6326e13e #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-36b54730-5f88-49b7-a7a5-618e6326e13e #s-Rectangle_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-36b54730-5f88-49b7-a7a5-618e6326e13e #s-Rectangle_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-36b54730-5f88-49b7-a7a5-618e6326e13e #s-Rectangle_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-36b54730-5f88-49b7-a7a5-618e6326e13e #s-Rectangle_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-36b54730-5f88-49b7-a7a5-618e6326e13e #s-Image_86 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-36b54730-5f88-49b7-a7a5-618e6326e13e #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-36b54730-5f88-49b7-a7a5-618e6326e13e #s-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-36b54730-5f88-49b7-a7a5-618e6326e13e #s-Text_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-36b54730-5f88-49b7-a7a5-618e6326e13e #s-Text_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-36b54730-5f88-49b7-a7a5-618e6326e13e #s-Line_5 {
  rotation: 89.0;
  margin-left: 14px;
  margin-top: -16px;
}
#s-36b54730-5f88-49b7-a7a5-618e6326e13e #s-Line_6 {
  rotation: 89.0;
  margin-left: 14px;
  margin-top: -16px;
}
#s-36b54730-5f88-49b7-a7a5-618e6326e13e #s-Line_7 {
  rotation: 89.0;
  margin-left: 14px;
  margin-top: -16px;
}
#s-36b54730-5f88-49b7-a7a5-618e6326e13e #s-Line_8 {
  rotation: 89.0;
  margin-left: 14px;
  margin-top: -16px;
}
#s-36b54730-5f88-49b7-a7a5-618e6326e13e #s-Line_10 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-36b54730-5f88-49b7-a7a5-618e6326e13e #s-Line_11 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-36b54730-5f88-49b7-a7a5-618e6326e13e #s-Line_12 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-36b54730-5f88-49b7-a7a5-618e6326e13e #s-Line_13 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-36b54730-5f88-49b7-a7a5-618e6326e13e #s-Text_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-36b54730-5f88-49b7-a7a5-618e6326e13e #s-Line_14 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-36b54730-5f88-49b7-a7a5-618e6326e13e #s-Line_15 {
  rotation: 89.0;
  margin-left: 14px;
  margin-top: -16px;
}
#s-36b54730-5f88-49b7-a7a5-618e6326e13e #s-Text_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-36b54730-5f88-49b7-a7a5-618e6326e13e #s-Line_17 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-36b54730-5f88-49b7-a7a5-618e6326e13e #s-Rectangle_9 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=87) ;
  filter: alpha(opacity=87) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-36b54730-5f88-49b7-a7a5-618e6326e13e #s-Paragraph_44 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-36b54730-5f88-49b7-a7a5-618e6326e13e #s-Image_88 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-36b54730-5f88-49b7-a7a5-618e6326e13e #s-Image_89 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-36b54730-5f88-49b7-a7a5-618e6326e13e #s-Image_90 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-36b54730-5f88-49b7-a7a5-618e6326e13e #s-Paragraph_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-36b54730-5f88-49b7-a7a5-618e6326e13e #s-Button_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-36b54730-5f88-49b7-a7a5-618e6326e13e #s-Image_91 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-36b54730-5f88-49b7-a7a5-618e6326e13e #s-Image_84 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-36b54730-5f88-49b7-a7a5-618e6326e13e #s-Image_85 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-36b54730-5f88-49b7-a7a5-618e6326e13e #s-Image_92 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-36b54730-5f88-49b7-a7a5-618e6326e13e #s-Paragraph_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-36b54730-5f88-49b7-a7a5-618e6326e13e #s-Button_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-36b54730-5f88-49b7-a7a5-618e6326e13e #s-Image_93 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-36b54730-5f88-49b7-a7a5-618e6326e13e #s-close-white {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-36b54730-5f88-49b7-a7a5-618e6326e13e > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}