#s-3be5274e-82bf-4260-9434-9d1494098a8c #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-3be5274e-82bf-4260-9434-9d1494098a8c #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-3be5274e-82bf-4260-9434-9d1494098a8c #s-Text_12 {
  -ms-transform: rotate(0.0deg);
}
#s-3be5274e-82bf-4260-9434-9d1494098a8c #s-Text_13 {
  -ms-transform: rotate(0.0deg);
}
#s-3be5274e-82bf-4260-9434-9d1494098a8c #s-Line_5 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #757873;
  -ms-transform: rotate(89.0deg);
}
#s-3be5274e-82bf-4260-9434-9d1494098a8c #s-Line_5 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #757873;
  -ms-transform: rotate(89.0deg);
}
#s-3be5274e-82bf-4260-9434-9d1494098a8c #s-Line_6 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #757873;
  -ms-transform: rotate(89.0deg);
}
#s-3be5274e-82bf-4260-9434-9d1494098a8c #s-Line_6 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #757873;
  -ms-transform: rotate(89.0deg);
}
#s-3be5274e-82bf-4260-9434-9d1494098a8c #s-Line_7 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #757873;
  -ms-transform: rotate(89.0deg);
}
#s-3be5274e-82bf-4260-9434-9d1494098a8c #s-Line_7 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #757873;
  -ms-transform: rotate(89.0deg);
}
#s-3be5274e-82bf-4260-9434-9d1494098a8c #s-Line_8 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #757873;
  -ms-transform: rotate(89.0deg);
}
#s-3be5274e-82bf-4260-9434-9d1494098a8c #s-Line_8 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #757873;
  -ms-transform: rotate(89.0deg);
}
#s-3be5274e-82bf-4260-9434-9d1494098a8c #s-Line_9 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-3be5274e-82bf-4260-9434-9d1494098a8c #s-Line_9 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-3be5274e-82bf-4260-9434-9d1494098a8c #s-Line_10 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-3be5274e-82bf-4260-9434-9d1494098a8c #s-Line_10 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-3be5274e-82bf-4260-9434-9d1494098a8c #s-Line_11 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-3be5274e-82bf-4260-9434-9d1494098a8c #s-Line_11 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-3be5274e-82bf-4260-9434-9d1494098a8c #s-Line_12 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-3be5274e-82bf-4260-9434-9d1494098a8c #s-Line_12 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-3be5274e-82bf-4260-9434-9d1494098a8c #s-Text_15 {
  -ms-transform: rotate(0.0deg);
}
#s-3be5274e-82bf-4260-9434-9d1494098a8c #s-Line_13 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-3be5274e-82bf-4260-9434-9d1494098a8c #s-Line_13 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-3be5274e-82bf-4260-9434-9d1494098a8c #s-Line_14 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #757873;
  -ms-transform: rotate(89.0deg);
}
#s-3be5274e-82bf-4260-9434-9d1494098a8c #s-Line_14 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #757873;
  -ms-transform: rotate(89.0deg);
}
#s-3be5274e-82bf-4260-9434-9d1494098a8c #s-Text_16 {
  -ms-transform: rotate(0.0deg);
}
#s-3be5274e-82bf-4260-9434-9d1494098a8c #s-Line_17 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-3be5274e-82bf-4260-9434-9d1494098a8c #s-Line_17 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-3be5274e-82bf-4260-9434-9d1494098a8c #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  filter: alpha(opacity=60);
  -ms-transform: rotate(0.0deg);
}
#s-3be5274e-82bf-4260-9434-9d1494098a8c #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#s-3be5274e-82bf-4260-9434-9d1494098a8c #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-3be5274e-82bf-4260-9434-9d1494098a8c #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-3be5274e-82bf-4260-9434-9d1494098a8c #s-Paragraph_15 {
  -ms-transform: rotate(0.0deg);
}
#s-3be5274e-82bf-4260-9434-9d1494098a8c #s-Paragraph_16 {
  -ms-transform: rotate(0.0deg);
}
#s-3be5274e-82bf-4260-9434-9d1494098a8c #s-Paragraph_17 {
  -ms-transform: rotate(0.0deg);
}
#s-3be5274e-82bf-4260-9434-9d1494098a8c #s-Paragraph_18 {
  -ms-transform: rotate(0.0deg);
}
#s-3be5274e-82bf-4260-9434-9d1494098a8c #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-3be5274e-82bf-4260-9434-9d1494098a8c #s-Paragraph_19 {
  -ms-transform: rotate(0.0deg);
}
#s-3be5274e-82bf-4260-9434-9d1494098a8c #s-Ellipse_5 {
  border-top-width: 8px;
  border-top-style: solid;
  border-top-color: #F18A00;
  border-right-width: 8px;
  border-right-style: solid;
  border-right-color: #F18A00;
  border-bottom-width: 8px;
  border-bottom-style: solid;
  border-bottom-color: #F18A00;
  border-left-width: 8px;
  border-left-style: solid;
  border-left-color: #F18A00;
  -ms-transform: rotate(0.0deg);
}
#s-3be5274e-82bf-4260-9434-9d1494098a8c #s-Paragraph_20 {
  -ms-transform: rotate(0.0deg);
}
#s-3be5274e-82bf-4260-9434-9d1494098a8c #s-Ellipse_6 {
  border-top-width: 8px;
  border-top-style: solid;
  border-top-color: #F18A00;
  border-right-width: 8px;
  border-right-style: solid;
  border-right-color: #F18A00;
  border-bottom-width: 8px;
  border-bottom-style: solid;
  border-bottom-color: #F18A00;
  border-left-width: 8px;
  border-left-style: solid;
  border-left-color: #F18A00;
  -ms-transform: rotate(0.0deg);
}
#s-3be5274e-82bf-4260-9434-9d1494098a8c #s-Ellipse_7 {
  border-top-width: 8px;
  border-top-style: solid;
  border-top-color: #F18A00;
  border-right-width: 8px;
  border-right-style: solid;
  border-right-color: #F18A00;
  border-bottom-width: 8px;
  border-bottom-style: solid;
  border-bottom-color: #F18A00;
  border-left-width: 8px;
  border-left-style: solid;
  border-left-color: #F18A00;
  -ms-transform: rotate(0.0deg);
}
#s-3be5274e-82bf-4260-9434-9d1494098a8c #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-3be5274e-82bf-4260-9434-9d1494098a8c #s-Paragraph_23 {
  -ms-transform: rotate(0.0deg);
}
#s-3be5274e-82bf-4260-9434-9d1494098a8c #s-Ellipse_8 {
  border-top-width: 8px;
  border-top-style: solid;
  border-top-color: #F18A00;
  border-right-width: 8px;
  border-right-style: solid;
  border-right-color: #F18A00;
  border-bottom-width: 8px;
  border-bottom-style: solid;
  border-bottom-color: #F18A00;
  border-left-width: 8px;
  border-left-style: solid;
  border-left-color: #F18A00;
  -ms-transform: rotate(0.0deg);
}
#s-3be5274e-82bf-4260-9434-9d1494098a8c #s-Line_3 {
  border-top-width: 1px;
  border-top-style: dotted;
  border-top-color: #599EE1;
  -ms-transform: rotate(0.0deg);
}
#s-3be5274e-82bf-4260-9434-9d1494098a8c #s-Line_3 {
  border-top-width: 1px;
  border-top-style: dotted;
  border-top-color: #599EE1;
  -ms-transform: rotate(0.0deg);
}
#s-3be5274e-82bf-4260-9434-9d1494098a8c #s-Line_4 {
  border-top-width: 1px;
  border-top-style: dotted;
  border-top-color: #599EE1;
  -ms-transform: rotate(0.0deg);
}
#s-3be5274e-82bf-4260-9434-9d1494098a8c #s-Line_4 {
  border-top-width: 1px;
  border-top-style: dotted;
  border-top-color: #599EE1;
  -ms-transform: rotate(0.0deg);
}
#s-3be5274e-82bf-4260-9434-9d1494098a8c #s-Text_8 {
  -ms-transform: rotate(180.0deg);
}
#s-3be5274e-82bf-4260-9434-9d1494098a8c #s-Image_27 {
  -ms-transform: rotate(0.0deg);
}
#s-3be5274e-82bf-4260-9434-9d1494098a8c #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-3be5274e-82bf-4260-9434-9d1494098a8c #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#s-3be5274e-82bf-4260-9434-9d1494098a8c #s-Image_10 {
  -ms-transform: rotate(0.0deg);
}
#s-3be5274e-82bf-4260-9434-9d1494098a8c #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-3be5274e-82bf-4260-9434-9d1494098a8c #s-Image_28 {
  -ms-transform: rotate(0.0deg);
}
#s-3be5274e-82bf-4260-9434-9d1494098a8c #s-Paragraph_27 {
  -ms-transform: rotate(0.0deg);
}
#s-3be5274e-82bf-4260-9434-9d1494098a8c #s-Paragraph_21 {
  -ms-transform: rotate(0.0deg);
}
#s-3be5274e-82bf-4260-9434-9d1494098a8c #s-Paragraph_28 {
  -ms-transform: rotate(0.0deg);
}
#s-3be5274e-82bf-4260-9434-9d1494098a8c #s-Paragraph_22 {
  -ms-transform: rotate(0.0deg);
}
#s-3be5274e-82bf-4260-9434-9d1494098a8c #s-Paragraph_29 {
  -ms-transform: rotate(0.0deg);
}
#s-3be5274e-82bf-4260-9434-9d1494098a8c #s-Paragraph_24 {
  -ms-transform: rotate(0.0deg);
}
#s-3be5274e-82bf-4260-9434-9d1494098a8c #s-Paragraph_30 {
  -ms-transform: rotate(0.0deg);
}
#s-3be5274e-82bf-4260-9434-9d1494098a8c #s-Rectangle_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=76);
  filter: alpha(opacity=76);
  -ms-transform: rotate(0.0deg);
}
#s-3be5274e-82bf-4260-9434-9d1494098a8c #s-Paragraph_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98);
  filter: alpha(opacity=98);
  -ms-transform: rotate(0.0deg);
}
#s-3be5274e-82bf-4260-9434-9d1494098a8c #s-Image_69 {
  -ms-transform: rotate(0.0deg);
}
#s-3be5274e-82bf-4260-9434-9d1494098a8c #s-Rectangle_6 {
  -ms-transform: rotate(0.0deg);
}
#s-3be5274e-82bf-4260-9434-9d1494098a8c #s-Rectangle_8 {
  -ms-transform: rotate(0.0deg);
}
#s-3be5274e-82bf-4260-9434-9d1494098a8c #s-Rectangle_16 {
  -ms-transform: rotate(0.0deg);
}
#s-3be5274e-82bf-4260-9434-9d1494098a8c #s-Rectangle_17 {
  -ms-transform: rotate(0.0deg);
}
#s-3be5274e-82bf-4260-9434-9d1494098a8c #s-Rectangle_18 {
  -ms-transform: rotate(0.0deg);
}
#s-3be5274e-82bf-4260-9434-9d1494098a8c #s-Rectangle_19 {
  -ms-transform: rotate(0.0deg);
}
#s-3be5274e-82bf-4260-9434-9d1494098a8c #s-Image_86 {
  -ms-transform: rotate(0.0deg);
}
#s-3be5274e-82bf-4260-9434-9d1494098a8c #s-Image_67 {
  -ms-transform: rotate(0.0deg);
}
#s-3be5274e-82bf-4260-9434-9d1494098a8c #s-Paragraph_2 {
  -ms-transform: rotate(0.0deg);
}
#s-3be5274e-82bf-4260-9434-9d1494098a8c #s-Paragraph_3 {
  -ms-transform: rotate(0.0deg);
}
#s-3be5274e-82bf-4260-9434-9d1494098a8c #s-Paragraph_5 {
  -ms-transform: rotate(0.0deg);
}
#s-3be5274e-82bf-4260-9434-9d1494098a8c #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-3be5274e-82bf-4260-9434-9d1494098a8c #s-Text_14 {
  -ms-transform: rotate(0.0deg);
}
#s-3be5274e-82bf-4260-9434-9d1494098a8c #s-Paragraph_6 {
  -ms-transform: rotate(0.0deg);
}
#s-3be5274e-82bf-4260-9434-9d1494098a8c #s-Image_68 {
  -ms-transform: rotate(0.0deg);
}
#s-3be5274e-82bf-4260-9434-9d1494098a8c #s-Image_72 {
  -ms-transform: rotate(0.0deg);
}
#s-3be5274e-82bf-4260-9434-9d1494098a8c #s-Image_87 {
  -ms-transform: rotate(0.0deg);
}
#s-3be5274e-82bf-4260-9434-9d1494098a8c #s-Paragraph_12 {
  -ms-transform: rotate(0.0deg);
}
#s-3be5274e-82bf-4260-9434-9d1494098a8c #s-Rectangle_7 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=87);
  filter: alpha(opacity=87);
  -ms-transform: rotate(0.0deg);
}
#s-3be5274e-82bf-4260-9434-9d1494098a8c #s-Paragraph_44 {
  -ms-transform: rotate(0.0deg);
}
#s-3be5274e-82bf-4260-9434-9d1494098a8c #s-Image_88 {
  -ms-transform: rotate(0.0deg);
}
#s-3be5274e-82bf-4260-9434-9d1494098a8c #s-Image_89 {
  -ms-transform: rotate(0.0deg);
}
#s-3be5274e-82bf-4260-9434-9d1494098a8c #s-Image_90 {
  -ms-transform: rotate(0.0deg);
}
#s-3be5274e-82bf-4260-9434-9d1494098a8c #s-Paragraph_13 {
  -ms-transform: rotate(0.0deg);
}
#s-3be5274e-82bf-4260-9434-9d1494098a8c #s-Button_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 8px 8px 8px 8px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  width: 157px;
  height: 38px;
  -ms-transform: rotate(0.0deg);
}
#s-3be5274e-82bf-4260-9434-9d1494098a8c #s-Image_91 {
  -ms-transform: rotate(0.0deg);
}
#s-3be5274e-82bf-4260-9434-9d1494098a8c #s-Image_84 {
  -ms-transform: rotate(0.0deg);
}
#s-3be5274e-82bf-4260-9434-9d1494098a8c #s-Image_85 {
  -ms-transform: rotate(0.0deg);
}
#s-3be5274e-82bf-4260-9434-9d1494098a8c #s-Image_92 {
  -ms-transform: rotate(0.0deg);
}
#s-3be5274e-82bf-4260-9434-9d1494098a8c #s-Paragraph_14 {
  -ms-transform: rotate(0.0deg);
}
#s-3be5274e-82bf-4260-9434-9d1494098a8c #s-Button_4 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 8px 8px 8px 8px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  width: 157px;
  height: 38px;
  -ms-transform: rotate(0.0deg);
}
#s-3be5274e-82bf-4260-9434-9d1494098a8c #s-Image_93 {
  -ms-transform: rotate(0.0deg);
}
#s-3be5274e-82bf-4260-9434-9d1494098a8c #s-close-white {
  -ms-transform: rotate(0.0deg);
}
#s-3be5274e-82bf-4260-9434-9d1494098a8c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}