#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60) ;
  filter: alpha(opacity=60) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Line_12 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Paragraph_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Image_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Paragraph_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Image_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Button_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Paragraph_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Paragraph_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Text_63 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Text_64 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Text_75 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Line_41 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Button_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Paragraph_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Text_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Image_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Paragraph_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Button_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Paragraph_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Paragraph_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Text_65 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Text_66 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Text_85 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Line_42 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Button_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Paragraph_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Text_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Image_18 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=56) ;
  filter: alpha(opacity=56) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Paragraph_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Paragraph_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Button_15 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70) ;
  filter: alpha(opacity=70) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Paragraph_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Paragraph_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Image_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Image_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Paragraph_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Button_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Paragraph_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Paragraph_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Text_67 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Text_68 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Text_76 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Line_43 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Button_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Paragraph_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Text_39 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Text_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Paragraph_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Button_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Paragraph_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Paragraph_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Text_69 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Text_70 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Text_77 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Button_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Paragraph_39 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Text_40 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Text_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Line_44 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Line_45 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Image_27 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=56) ;
  filter: alpha(opacity=56) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Paragraph_44 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Paragraph_45 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Image_69 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Rectangle_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Rectangle_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Rectangle_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Rectangle_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Image_86 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Image_84 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Image_85 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Image_88 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Paragraph_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Button_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Image_92 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Text_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Image_78 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Paragraph_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Button_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Image_79 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Rectangle_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Image_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Text_60 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Text_74 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Rectangle_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Image_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Text_79 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Text_86 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-1.0,M12=-1.2246467991473532E-16,M21=1.2246467991473532E-16,M22=-1.0);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-1.0,M12=-1.2246467991473532E-16,M21=1.2246467991473532E-16,M22=-1.0);
  margin-left: -1px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Text_87 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Text_88 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-1.0,M12=-1.2246467991473532E-16,M21=1.2246467991473532E-16,M22=-1.0);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-1.0,M12=-1.2246467991473532E-16,M21=1.2246467991473532E-16,M22=-1.0);
  margin-left: -1px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Rectangle_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Text_90 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Text_106 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Text_107 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-1.0,M12=-1.2246467991473532E-16,M21=1.2246467991473532E-16,M22=-1.0);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-1.0,M12=-1.2246467991473532E-16,M21=1.2246467991473532E-16,M22=-1.0);
  margin-left: -1px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Rectangle_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Text_108 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Image_67 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Paragraph_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Paragraph_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Paragraph_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Paragraph_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Image_68 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Image_72 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Image_87 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Rectangle_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Paragraph_43 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Image_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Button_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Paragraph_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Button_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Paragraph_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Text_37 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Paragraph_34 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Text_72 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Text_80 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Text_84 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Paragraph_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Line_40 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Image_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Paragraph_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Button_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Paragraph_40 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Paragraph_41 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Text_71 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Text_73 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Text_78 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Button_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Paragraph_42 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Text_41 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Text_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Button_25 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=68) ;
  filter: alpha(opacity=68) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Paragraph_47 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Text_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Text_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Text_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Line_5 {
  rotation: 89.0;
  margin-left: 14px;
  margin-top: -16px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Line_6 {
  rotation: 89.0;
  margin-left: 14px;
  margin-top: -16px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Line_7 {
  rotation: 89.0;
  margin-left: 14px;
  margin-top: -16px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Line_8 {
  rotation: 89.0;
  margin-left: 14px;
  margin-top: -16px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Line_9 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Line_10 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Line_11 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Line_13 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Text_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Line_14 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Line_15 {
  rotation: 89.0;
  margin-left: 14px;
  margin-top: -16px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Text_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Line_17 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Rectangle_11 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=87) ;
  filter: alpha(opacity=87) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Paragraph_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Rectangle_12 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=97) ;
  filter: alpha(opacity=97) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Rectangle_14 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=97) ;
  filter: alpha(opacity=97) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Rectangle_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Rectangle_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Rectangle_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Paragraph_20 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98) ;
  filter: alpha(opacity=98) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Paragraph_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Text_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Rectangle_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Label_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Rectangle_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Label_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Paragraph_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Button_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Label_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Text_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Text_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-close-white {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 #s-Text_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50828907-b619-47f7-8d4a-63c2543d81a4 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}