#s-50b2eda6-d8f9-405e-8b95-8a90432b6d34 #s-Rectangle_7 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=87) ;
  filter: alpha(opacity=87) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50b2eda6-d8f9-405e-8b95-8a90432b6d34 #s-Paragraph_44 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50b2eda6-d8f9-405e-8b95-8a90432b6d34 #s-Image_88 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50b2eda6-d8f9-405e-8b95-8a90432b6d34 #s-Image_89 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50b2eda6-d8f9-405e-8b95-8a90432b6d34 #s-Image_90 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50b2eda6-d8f9-405e-8b95-8a90432b6d34 #s-Paragraph_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50b2eda6-d8f9-405e-8b95-8a90432b6d34 #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50b2eda6-d8f9-405e-8b95-8a90432b6d34 #s-Image_91 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50b2eda6-d8f9-405e-8b95-8a90432b6d34 #s-Image_84 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50b2eda6-d8f9-405e-8b95-8a90432b6d34 #s-Image_85 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50b2eda6-d8f9-405e-8b95-8a90432b6d34 #s-Image_86 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50b2eda6-d8f9-405e-8b95-8a90432b6d34 #s-Paragraph_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50b2eda6-d8f9-405e-8b95-8a90432b6d34 #s-Button_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50b2eda6-d8f9-405e-8b95-8a90432b6d34 #s-Image_92 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50b2eda6-d8f9-405e-8b95-8a90432b6d34 #s-close-white {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50b2eda6-d8f9-405e-8b95-8a90432b6d34 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}