#s-50b2eda6-d8f9-405e-8b95-8a90432b6d34 #s-Rectangle_7 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=87);
  filter: alpha(opacity=87);
  -ms-transform: rotate(0.0deg);
}
#s-50b2eda6-d8f9-405e-8b95-8a90432b6d34 #s-Paragraph_44 {
  -ms-transform: rotate(0.0deg);
}
#s-50b2eda6-d8f9-405e-8b95-8a90432b6d34 #s-Image_88 {
  -ms-transform: rotate(0.0deg);
}
#s-50b2eda6-d8f9-405e-8b95-8a90432b6d34 #s-Image_89 {
  -ms-transform: rotate(0.0deg);
}
#s-50b2eda6-d8f9-405e-8b95-8a90432b6d34 #s-Image_90 {
  -ms-transform: rotate(0.0deg);
}
#s-50b2eda6-d8f9-405e-8b95-8a90432b6d34 #s-Paragraph_13 {
  -ms-transform: rotate(0.0deg);
}
#s-50b2eda6-d8f9-405e-8b95-8a90432b6d34 #s-Button_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 8px 8px 8px 8px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  width: 157px;
  height: 38px;
  -ms-transform: rotate(0.0deg);
}
#s-50b2eda6-d8f9-405e-8b95-8a90432b6d34 #s-Image_91 {
  -ms-transform: rotate(0.0deg);
}
#s-50b2eda6-d8f9-405e-8b95-8a90432b6d34 #s-Image_84 {
  -ms-transform: rotate(0.0deg);
}
#s-50b2eda6-d8f9-405e-8b95-8a90432b6d34 #s-Image_85 {
  -ms-transform: rotate(0.0deg);
}
#s-50b2eda6-d8f9-405e-8b95-8a90432b6d34 #s-Image_86 {
  -ms-transform: rotate(0.0deg);
}
#s-50b2eda6-d8f9-405e-8b95-8a90432b6d34 #s-Paragraph_14 {
  -ms-transform: rotate(0.0deg);
}
#s-50b2eda6-d8f9-405e-8b95-8a90432b6d34 #s-Button_4 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 8px 8px 8px 8px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  width: 157px;
  height: 38px;
  -ms-transform: rotate(0.0deg);
}
#s-50b2eda6-d8f9-405e-8b95-8a90432b6d34 #s-Image_92 {
  -ms-transform: rotate(0.0deg);
}
#s-50b2eda6-d8f9-405e-8b95-8a90432b6d34 #s-close-white {
  -ms-transform: rotate(0.0deg);
}
#s-50b2eda6-d8f9-405e-8b95-8a90432b6d34 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}