#s-52db765a-b61e-44f9-9beb-5f2135d70052 #s-Rectangle_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40) ;
  filter: alpha(opacity=40) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-52db765a-b61e-44f9-9beb-5f2135d70052 #s-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-52db765a-b61e-44f9-9beb-5f2135d70052 #s-Paragraph_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-52db765a-b61e-44f9-9beb-5f2135d70052 #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-52db765a-b61e-44f9-9beb-5f2135d70052 #s-Rectangle_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-52db765a-b61e-44f9-9beb-5f2135d70052 #s-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-52db765a-b61e-44f9-9beb-5f2135d70052 #s-Rectangle_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-52db765a-b61e-44f9-9beb-5f2135d70052 #s-Rectangle_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-52db765a-b61e-44f9-9beb-5f2135d70052 #s-Rectangle_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-52db765a-b61e-44f9-9beb-5f2135d70052 #s-Rectangle_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-52db765a-b61e-44f9-9beb-5f2135d70052 #s-Rectangle_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-52db765a-b61e-44f9-9beb-5f2135d70052 #s-Rectangle_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-52db765a-b61e-44f9-9beb-5f2135d70052 #s-Rectangle_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-52db765a-b61e-44f9-9beb-5f2135d70052 #s-Rectangle_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-52db765a-b61e-44f9-9beb-5f2135d70052 #s-Rectangle_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-52db765a-b61e-44f9-9beb-5f2135d70052 #s-Rectangle_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-52db765a-b61e-44f9-9beb-5f2135d70052 #s-Rectangle_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-52db765a-b61e-44f9-9beb-5f2135d70052 #s-Rectangle_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-52db765a-b61e-44f9-9beb-5f2135d70052 #s-Rectangle_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-52db765a-b61e-44f9-9beb-5f2135d70052 #s-Rectangle_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-52db765a-b61e-44f9-9beb-5f2135d70052 #s-Rectangle_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-52db765a-b61e-44f9-9beb-5f2135d70052 #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-52db765a-b61e-44f9-9beb-5f2135d70052 #s-Rectangle_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-52db765a-b61e-44f9-9beb-5f2135d70052 #s-Rectangle_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-52db765a-b61e-44f9-9beb-5f2135d70052 #s-Rectangle_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-52db765a-b61e-44f9-9beb-5f2135d70052 #s-Rectangle_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-52db765a-b61e-44f9-9beb-5f2135d70052 #s-Rectangle_34 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-52db765a-b61e-44f9-9beb-5f2135d70052 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-52db765a-b61e-44f9-9beb-5f2135d70052 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-52db765a-b61e-44f9-9beb-5f2135d70052 #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-52db765a-b61e-44f9-9beb-5f2135d70052 #s-Rectangle_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-52db765a-b61e-44f9-9beb-5f2135d70052 #s-Rectangle_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-52db765a-b61e-44f9-9beb-5f2135d70052 #s-Rectangle_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-52db765a-b61e-44f9-9beb-5f2135d70052 #s-Rectangle_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-52db765a-b61e-44f9-9beb-5f2135d70052 #s-Rectangle_37 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-52db765a-b61e-44f9-9beb-5f2135d70052 #s-Rectangle_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-52db765a-b61e-44f9-9beb-5f2135d70052 #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-52db765a-b61e-44f9-9beb-5f2135d70052 #s-Rectangle_6 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=97) ;
  filter: alpha(opacity=97) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-52db765a-b61e-44f9-9beb-5f2135d70052 #s-Text_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99) ;
  filter: alpha(opacity=99) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-52db765a-b61e-44f9-9beb-5f2135d70052 #s-Text_4 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99) ;
  filter: alpha(opacity=99) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-52db765a-b61e-44f9-9beb-5f2135d70052 #s-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-52db765a-b61e-44f9-9beb-5f2135d70052 #s-Paragraph_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-52db765a-b61e-44f9-9beb-5f2135d70052 #s-Image_67 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-52db765a-b61e-44f9-9beb-5f2135d70052 #s-Paragraph_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-52db765a-b61e-44f9-9beb-5f2135d70052 #s-Paragraph_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-52db765a-b61e-44f9-9beb-5f2135d70052 #s-Paragraph_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-52db765a-b61e-44f9-9beb-5f2135d70052 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-52db765a-b61e-44f9-9beb-5f2135d70052 #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-52db765a-b61e-44f9-9beb-5f2135d70052 #s-Paragraph_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-52db765a-b61e-44f9-9beb-5f2135d70052 #s-Image_68 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-52db765a-b61e-44f9-9beb-5f2135d70052 #s-Image_72 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-52db765a-b61e-44f9-9beb-5f2135d70052 #s-Image_87 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-52db765a-b61e-44f9-9beb-5f2135d70052 #s-Paragraph_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-52db765a-b61e-44f9-9beb-5f2135d70052 #s-Image_69 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-52db765a-b61e-44f9-9beb-5f2135d70052 #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-52db765a-b61e-44f9-9beb-5f2135d70052 #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-52db765a-b61e-44f9-9beb-5f2135d70052 #s-Rectangle_39 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-52db765a-b61e-44f9-9beb-5f2135d70052 #s-Rectangle_40 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-52db765a-b61e-44f9-9beb-5f2135d70052 #s-Rectangle_41 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-52db765a-b61e-44f9-9beb-5f2135d70052 #s-Rectangle_42 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-52db765a-b61e-44f9-9beb-5f2135d70052 #s-Image_86 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-52db765a-b61e-44f9-9beb-5f2135d70052 #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-52db765a-b61e-44f9-9beb-5f2135d70052 #s-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-52db765a-b61e-44f9-9beb-5f2135d70052 #s-Text_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-52db765a-b61e-44f9-9beb-5f2135d70052 #s-Text_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-52db765a-b61e-44f9-9beb-5f2135d70052 #s-Line_5 {
  rotation: 89.0;
  margin-left: 14px;
  margin-top: -16px;
}
#s-52db765a-b61e-44f9-9beb-5f2135d70052 #s-Line_6 {
  rotation: 89.0;
  margin-left: 14px;
  margin-top: -16px;
}
#s-52db765a-b61e-44f9-9beb-5f2135d70052 #s-Line_7 {
  rotation: 89.0;
  margin-left: 14px;
  margin-top: -16px;
}
#s-52db765a-b61e-44f9-9beb-5f2135d70052 #s-Line_8 {
  rotation: 89.0;
  margin-left: 14px;
  margin-top: -16px;
}
#s-52db765a-b61e-44f9-9beb-5f2135d70052 #s-Line_10 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-52db765a-b61e-44f9-9beb-5f2135d70052 #s-Line_11 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-52db765a-b61e-44f9-9beb-5f2135d70052 #s-Line_12 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-52db765a-b61e-44f9-9beb-5f2135d70052 #s-Line_13 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-52db765a-b61e-44f9-9beb-5f2135d70052 #s-Text_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-52db765a-b61e-44f9-9beb-5f2135d70052 #s-Line_14 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-52db765a-b61e-44f9-9beb-5f2135d70052 #s-Line_15 {
  rotation: 89.0;
  margin-left: 14px;
  margin-top: -16px;
}
#s-52db765a-b61e-44f9-9beb-5f2135d70052 #s-Text_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-52db765a-b61e-44f9-9beb-5f2135d70052 #s-Line_17 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-52db765a-b61e-44f9-9beb-5f2135d70052 #s-Rectangle_9 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=87) ;
  filter: alpha(opacity=87) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-52db765a-b61e-44f9-9beb-5f2135d70052 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-52db765a-b61e-44f9-9beb-5f2135d70052 #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-52db765a-b61e-44f9-9beb-5f2135d70052 #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-52db765a-b61e-44f9-9beb-5f2135d70052 #s-Paragraph_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-52db765a-b61e-44f9-9beb-5f2135d70052 #s-Rectangle_43 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=97) ;
  filter: alpha(opacity=97) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-52db765a-b61e-44f9-9beb-5f2135d70052 #s-Rectangle_44 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=97) ;
  filter: alpha(opacity=97) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-52db765a-b61e-44f9-9beb-5f2135d70052 #s-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-52db765a-b61e-44f9-9beb-5f2135d70052 #s-Rectangle_45 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-52db765a-b61e-44f9-9beb-5f2135d70052 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-52db765a-b61e-44f9-9beb-5f2135d70052 #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-52db765a-b61e-44f9-9beb-5f2135d70052 #s-Rectangle_46 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-52db765a-b61e-44f9-9beb-5f2135d70052 #s-Paragraph_9 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98) ;
  filter: alpha(opacity=98) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-52db765a-b61e-44f9-9beb-5f2135d70052 #s-Paragraph_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-52db765a-b61e-44f9-9beb-5f2135d70052 #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-52db765a-b61e-44f9-9beb-5f2135d70052 #s-Text_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-52db765a-b61e-44f9-9beb-5f2135d70052 #s-Rectangle_47 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-52db765a-b61e-44f9-9beb-5f2135d70052 #s-Label_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-52db765a-b61e-44f9-9beb-5f2135d70052 #s-Rectangle_48 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-52db765a-b61e-44f9-9beb-5f2135d70052 #s-Label_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-52db765a-b61e-44f9-9beb-5f2135d70052 #s-Paragraph_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-52db765a-b61e-44f9-9beb-5f2135d70052 #s-Button_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-52db765a-b61e-44f9-9beb-5f2135d70052 #s-Label_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-52db765a-b61e-44f9-9beb-5f2135d70052 #s-Text_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-52db765a-b61e-44f9-9beb-5f2135d70052 #s-Text_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-52db765a-b61e-44f9-9beb-5f2135d70052 #s-close-white {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-52db765a-b61e-44f9-9beb-5f2135d70052 #s-Text_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-52db765a-b61e-44f9-9beb-5f2135d70052 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}