#s-56c54ec8-95f3-48a5-92aa-96b69fd2e959 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-56c54ec8-95f3-48a5-92aa-96b69fd2e959 > #alignmentBox {
  position: relative;
  margin: 0 auto;
  width: 1366px;
  min-width: 1366px;
  min-height: 768px;
}
#s-56c54ec8-95f3-48a5-92aa-96b69fd2e959 #s-Rectangle_2 {
  position: absolute;
  top: 553px;
  left: 0px;
  width: 1366px;
  height: 1163px;
  background-color: #E8E8E8;
  background-image: none;
  opacity: 0.6;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-56c54ec8-95f3-48a5-92aa-96b69fd2e959 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-56c54ec8-95f3-48a5-92aa-96b69fd2e959 #s-Rectangle_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-56c54ec8-95f3-48a5-92aa-96b69fd2e959 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-56c54ec8-95f3-48a5-92aa-96b69fd2e959 #s-Text_13 {
  position: absolute;
  top: 574px;
  left: 136px;
  width: 1080px;
  height: 78px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: Gotham Book,Arial;
}
#s-56c54ec8-95f3-48a5-92aa-96b69fd2e959 #s-Text_13 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-56c54ec8-95f3-48a5-92aa-96b69fd2e959 #s-Text_13 span {
  color: #009FE3;
  text-align: left;
  text-decoration: none;
  font-family: Gotham Book,Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-56c54ec8-95f3-48a5-92aa-96b69fd2e959 #s-Text_13 span#rtr-s-Text_13_0 {
  color: #009FE3;
  text-align: left;
  text-decoration: none;
  font-family: Gotham Book,Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-56c54ec8-95f3-48a5-92aa-96b69fd2e959 #s-Image_2 {
  position: absolute;
  top: 153px;
  left: 0px;
  width: 1366px;
  height: 394px;
  opacity: 0.95;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-56c54ec8-95f3-48a5-92aa-96b69fd2e959 #s-Group_4 {
  position: absolute;
  top: 225px;
  left: 25px;
  width: 369px;
  height: 246px;
}
#s-56c54ec8-95f3-48a5-92aa-96b69fd2e959 #s-Rectangle_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 369px;
  height: 246px;
  background-color: #05AADD;
  background-image: none;
  opacity: 0.76;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-56c54ec8-95f3-48a5-92aa-96b69fd2e959 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-56c54ec8-95f3-48a5-92aa-96b69fd2e959 #s-Rectangle_1 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-56c54ec8-95f3-48a5-92aa-96b69fd2e959 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-56c54ec8-95f3-48a5-92aa-96b69fd2e959 #s-Paragraph_2 {
  position: absolute;
  top: 14px;
  left: 16px;
  width: 342px;
  height: 227px;
  background-color: transparent;
  background-image: none;
  opacity: 0.8;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 38px;
  font-size: 20.0pt;
  font-family: Gotham Book,Arial;
}
#s-56c54ec8-95f3-48a5-92aa-96b69fd2e959 #s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: left;
}
#s-56c54ec8-95f3-48a5-92aa-96b69fd2e959 #s-Paragraph_2 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Gotham Book,Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-56c54ec8-95f3-48a5-92aa-96b69fd2e959 #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Gotham Book,Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-56c54ec8-95f3-48a5-92aa-96b69fd2e959 #s-Paragraph_17 {
  position: absolute;
  top: 684px;
  left: 180px;
  width: 890px;
  height: 27px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 30px;
  font-size: 16.0pt;
  font-family: Gotham Book,Arial;
}
#s-56c54ec8-95f3-48a5-92aa-96b69fd2e959 #s-Paragraph_17 .valign {
  vertical-align: top;
  text-align: left;
}
#s-56c54ec8-95f3-48a5-92aa-96b69fd2e959 #s-Paragraph_17 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Gotham Book,Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-56c54ec8-95f3-48a5-92aa-96b69fd2e959 #s-Paragraph_17 span#rtr-s-Paragraph_17_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Gotham Book,Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-56c54ec8-95f3-48a5-92aa-96b69fd2e959 #s-Text_7 {
  position: absolute;
  top: 683px;
  left: 135px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 22.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-56c54ec8-95f3-48a5-92aa-96b69fd2e959 #s-Text_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-56c54ec8-95f3-48a5-92aa-96b69fd2e959 #s-Text_7 span {
  color: #009FE3;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 22.0pt;
}
#s-56c54ec8-95f3-48a5-92aa-96b69fd2e959 #s-Text_7 span#rtr-s-Text_7_0 {
  color: #009FE3;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 22.0pt;
  line-height: 0px;
}
#s-56c54ec8-95f3-48a5-92aa-96b69fd2e959 #s-Paragraph_18 {
  position: absolute;
  top: 641px;
  left: 180px;
  width: 1007px;
  height: 33px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 30px;
  font-size: 16.0pt;
  font-family: Gotham Book,Arial;
}
#s-56c54ec8-95f3-48a5-92aa-96b69fd2e959 #s-Paragraph_18 .valign {
  vertical-align: top;
  text-align: left;
}
#s-56c54ec8-95f3-48a5-92aa-96b69fd2e959 #s-Paragraph_18 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Gotham Book,Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-56c54ec8-95f3-48a5-92aa-96b69fd2e959 #s-Paragraph_18 span#rtr-s-Paragraph_18_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Gotham Book,Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-56c54ec8-95f3-48a5-92aa-96b69fd2e959 #s-Text_8 {
  position: absolute;
  top: 640px;
  left: 135px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 22.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-56c54ec8-95f3-48a5-92aa-96b69fd2e959 #s-Text_8 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-56c54ec8-95f3-48a5-92aa-96b69fd2e959 #s-Text_8 span {
  color: #009FE3;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 22.0pt;
}
#s-56c54ec8-95f3-48a5-92aa-96b69fd2e959 #s-Text_8 span#rtr-s-Text_8_0 {
  color: #009FE3;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 22.0pt;
  line-height: 0px;
}
#s-56c54ec8-95f3-48a5-92aa-96b69fd2e959 #s-Image_6 {
  position: absolute;
  top: 1253px;
  left: 217px;
  width: 946px;
  height: 449px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-56c54ec8-95f3-48a5-92aa-96b69fd2e959 #s-Text_14 {
  position: absolute;
  top: 1165px;
  left: 135px;
  width: 1080px;
  height: 59px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: Gotham Book,Arial;
}
#s-56c54ec8-95f3-48a5-92aa-96b69fd2e959 #s-Text_14 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-56c54ec8-95f3-48a5-92aa-96b69fd2e959 #s-Text_14 span {
  color: #009FE3;
  text-align: left;
  text-decoration: none;
  font-family: Gotham Book,Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-56c54ec8-95f3-48a5-92aa-96b69fd2e959 #s-Text_14 span#rtr-s-Text_14_0 {
  color: #009FE3;
  text-align: left;
  text-decoration: none;
  font-family: Gotham Book,Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-56c54ec8-95f3-48a5-92aa-96b69fd2e959 #s-Line_4 {
  position: absolute;
  top: 1160px;
  left: 134px;
  width: 1120px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: dotted;
  border-top-color: #009FE3;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-56c54ec8-95f3-48a5-92aa-96b69fd2e959 #s-Image_69 {
  position: absolute;
  top: 11px;
  left: 21px;
  width: 276px;
  height: 73px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-56c54ec8-95f3-48a5-92aa-96b69fd2e959 #s-Rectangle_6 {
  position: absolute;
  top: 102px;
  left: 180px;
  width: 220px;
  height: 52px;
  background-color: #009FE3;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  line-height: 23px;
  font-size: 12.0pt;
  font-family: Gotham Medium,Arial;
}
#s-56c54ec8-95f3-48a5-92aa-96b69fd2e959 #s-Rectangle_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-56c54ec8-95f3-48a5-92aa-96b69fd2e959 #s-Rectangle_6 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Gotham Medium,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-56c54ec8-95f3-48a5-92aa-96b69fd2e959 #s-Rectangle_6 span#rtr-s-Rectangle_6_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Gotham Medium,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-56c54ec8-95f3-48a5-92aa-96b69fd2e959 #s-Rectangle_6 span#rtr-s-Rectangle_6_1 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Gotham Medium,Arial;
  font-size: 12.0pt;
  font-style: italic;
  font-weight: 400;
  line-height: 0px;
}
#s-56c54ec8-95f3-48a5-92aa-96b69fd2e959 #s-Rectangle_6 span#rtr-s-Rectangle_6_2 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Gotham Medium,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-56c54ec8-95f3-48a5-92aa-96b69fd2e959 #s-Rectangle_8 {
  position: absolute;
  top: 102px;
  left: 400px;
  width: 200px;
  height: 52px;
  background-color: #009FE3;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  line-height: 23px;
  font-size: 12.0pt;
  font-family: Gotham Medium,Arial;
}
#s-56c54ec8-95f3-48a5-92aa-96b69fd2e959 #s-Rectangle_8 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-56c54ec8-95f3-48a5-92aa-96b69fd2e959 #s-Rectangle_8 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Gotham Medium,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-56c54ec8-95f3-48a5-92aa-96b69fd2e959 #s-Rectangle_8 span#rtr-s-Rectangle_8_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Gotham Medium,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-56c54ec8-95f3-48a5-92aa-96b69fd2e959 #s-Rectangle_16 {
  position: absolute;
  top: 102px;
  left: 600px;
  width: 259px;
  height: 52px;
  background-color: #009FE3;
  background-image: none;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #009FE3;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #009FE3;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  line-height: 23px;
  font-size: 12.0pt;
  font-family: Gotham Medium,Arial;
}
#s-56c54ec8-95f3-48a5-92aa-96b69fd2e959 #s-Rectangle_16 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-56c54ec8-95f3-48a5-92aa-96b69fd2e959 #s-Rectangle_16 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Gotham Medium,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-56c54ec8-95f3-48a5-92aa-96b69fd2e959 #s-Rectangle_16 span#rtr-s-Rectangle_16_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Gotham Medium,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-56c54ec8-95f3-48a5-92aa-96b69fd2e959 #s-Rectangle_16 span#rtr-s-Rectangle_16_1 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Gotham Medium,Arial;
  font-size: 12.0pt;
  font-style: italic;
  font-weight: 400;
  line-height: 0px;
}
#s-56c54ec8-95f3-48a5-92aa-96b69fd2e959 #s-Rectangle_16 span#rtr-s-Rectangle_16_2 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Gotham Medium,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-56c54ec8-95f3-48a5-92aa-96b69fd2e959 #s-Rectangle_17 {
  position: absolute;
  top: 102px;
  left: 1126px;
  width: 240px;
  height: 52px;
  background-color: #009FE3;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 23px;
  font-size: 12.0pt;
  font-family: Gotham Medium,Arial;
}
#s-56c54ec8-95f3-48a5-92aa-96b69fd2e959 #s-Rectangle_17 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-56c54ec8-95f3-48a5-92aa-96b69fd2e959 #s-Rectangle_17 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Gotham Medium,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-56c54ec8-95f3-48a5-92aa-96b69fd2e959 #s-Rectangle_17 span#rtr-s-Rectangle_17_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Gotham Medium,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-56c54ec8-95f3-48a5-92aa-96b69fd2e959 #s-Rectangle_18 {
  position: absolute;
  top: 102px;
  left: 0px;
  width: 180px;
  height: 52px;
  background-color: #009FE3;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  line-height: 23px;
  font-size: 12.0pt;
  font-family: Gotham Medium,Arial;
}
#s-56c54ec8-95f3-48a5-92aa-96b69fd2e959 #s-Rectangle_18 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-56c54ec8-95f3-48a5-92aa-96b69fd2e959 #s-Rectangle_18 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Gotham Medium,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-56c54ec8-95f3-48a5-92aa-96b69fd2e959 #s-Rectangle_18 span#rtr-s-Rectangle_18_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Gotham Medium,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-56c54ec8-95f3-48a5-92aa-96b69fd2e959 #s-Rectangle_19 {
  position: absolute;
  top: 102px;
  left: 861px;
  width: 263px;
  height: 52px;
  background-color: #0E90B8;
  background-image: none;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #009FE3;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #009FE3;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  line-height: 23px;
  font-size: 12.0pt;
  font-family: Gotham Medium,Arial;
}
#s-56c54ec8-95f3-48a5-92aa-96b69fd2e959 #s-Rectangle_19 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-56c54ec8-95f3-48a5-92aa-96b69fd2e959 #s-Rectangle_19 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Gotham Medium,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-56c54ec8-95f3-48a5-92aa-96b69fd2e959 #s-Rectangle_19 span#rtr-s-Rectangle_19_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Gotham Medium,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-56c54ec8-95f3-48a5-92aa-96b69fd2e959 #s-Rectangle_19 span#rtr-s-Rectangle_19_1 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Gotham Medium,Arial;
  font-size: 12.0pt;
  font-style: italic;
  font-weight: 400;
  line-height: 0px;
}
#s-56c54ec8-95f3-48a5-92aa-96b69fd2e959 #s-Rectangle_19 span#rtr-s-Rectangle_19_2 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Gotham Medium,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-56c54ec8-95f3-48a5-92aa-96b69fd2e959 #s-Image_86 {
  position: absolute;
  top: 0px;
  left: 10px;
  width: 10px;
  height: 7px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-56c54ec8-95f3-48a5-92aa-96b69fd2e959 #s-Group_2 {
  position: absolute;
  top: 1716px;
  left: 0px;
  width: 1367px;
  height: 318px;
}
#s-56c54ec8-95f3-48a5-92aa-96b69fd2e959 #s-Image_67 {
  position: absolute;
  top: 6px;
  left: 0px;
  width: 1366px;
  height: 192px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-56c54ec8-95f3-48a5-92aa-96b69fd2e959 #s-Paragraph_3 {
  position: absolute;
  top: 31px;
  left: 120px;
  width: 536px;
  height: 46px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 46px;
  font-size: 24.0pt;
  font-family: Gotham Book,Arial;
}
#s-56c54ec8-95f3-48a5-92aa-96b69fd2e959 #s-Paragraph_3 .valign {
  vertical-align: top;
  text-align: center;
}
#s-56c54ec8-95f3-48a5-92aa-96b69fd2e959 #s-Paragraph_3 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Gotham Book,Arial;
  font-size: 24.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-56c54ec8-95f3-48a5-92aa-96b69fd2e959 #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Gotham Book,Arial;
  font-size: 24.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-56c54ec8-95f3-48a5-92aa-96b69fd2e959 #s-Paragraph_4 {
  position: absolute;
  top: 126px;
  left: 214px;
  width: 385px;
  height: 47px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 38px;
  font-size: 20.0pt;
  font-family: Gotham Book,Arial;
}
#s-56c54ec8-95f3-48a5-92aa-96b69fd2e959 #s-Paragraph_4 .valign {
  vertical-align: top;
  text-align: left;
}
#s-56c54ec8-95f3-48a5-92aa-96b69fd2e959 #s-Paragraph_4 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Gotham Book,Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-56c54ec8-95f3-48a5-92aa-96b69fd2e959 #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Gotham Book,Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-56c54ec8-95f3-48a5-92aa-96b69fd2e959 #s-Paragraph_5 {
  position: absolute;
  top: 75px;
  left: 202px;
  width: 420px;
  height: 46px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 46px;
  font-size: 24.0pt;
  font-family: Gotham Book,Arial;
}
#s-56c54ec8-95f3-48a5-92aa-96b69fd2e959 #s-Paragraph_5 .valign {
  vertical-align: top;
  text-align: left;
}
#s-56c54ec8-95f3-48a5-92aa-96b69fd2e959 #s-Paragraph_5 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Gotham Book,Arial;
  font-size: 24.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-56c54ec8-95f3-48a5-92aa-96b69fd2e959 #s-Paragraph_5 span#rtr-s-Paragraph_5_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Gotham Book,Arial;
  font-size: 24.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-56c54ec8-95f3-48a5-92aa-96b69fd2e959 #s-Text_4 {
  position: absolute;
  top: 126px;
  left: 167px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 26.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-56c54ec8-95f3-48a5-92aa-96b69fd2e959 #s-Text_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-56c54ec8-95f3-48a5-92aa-96b69fd2e959 #s-Text_4 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 26.0pt;
}
#s-56c54ec8-95f3-48a5-92aa-96b69fd2e959 #s-Text_4 span#rtr-s-Text_4_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 26.0pt;
  line-height: 0px;
}
#s-56c54ec8-95f3-48a5-92aa-96b69fd2e959 #s-Text_5 {
  position: absolute;
  top: 76px;
  left: 155px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 26.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-56c54ec8-95f3-48a5-92aa-96b69fd2e959 #s-Text_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-56c54ec8-95f3-48a5-92aa-96b69fd2e959 #s-Text_5 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 26.0pt;
}
#s-56c54ec8-95f3-48a5-92aa-96b69fd2e959 #s-Text_5 span#rtr-s-Text_5_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 26.0pt;
  line-height: 0px;
}
#s-56c54ec8-95f3-48a5-92aa-96b69fd2e959 #s-Paragraph_6 {
  position: absolute;
  top: 251px;
  left: 19px;
  width: 363px;
  height: 67px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 23px;
  font-size: 12.0pt;
  font-family: Gotham Medium,Arial;
}
#s-56c54ec8-95f3-48a5-92aa-96b69fd2e959 #s-Paragraph_6 .valign {
  vertical-align: top;
  text-align: left;
}
#s-56c54ec8-95f3-48a5-92aa-96b69fd2e959 #s-Paragraph_6 span {
  color: #737372;
  text-align: left;
  text-decoration: none;
  font-family: Gotham Medium,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-56c54ec8-95f3-48a5-92aa-96b69fd2e959 #s-Paragraph_6 span#rtr-s-Paragraph_6_0 {
  color: #737372;
  text-align: left;
  text-decoration: none;
  font-family: Gotham Medium,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-56c54ec8-95f3-48a5-92aa-96b69fd2e959 #s-Image_68 {
  position: absolute;
  top: 214px;
  left: 23px;
  width: 99px;
  height: 31px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-56c54ec8-95f3-48a5-92aa-96b69fd2e959 #s-Image_72 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1366px;
  height: 6px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-56c54ec8-95f3-48a5-92aa-96b69fd2e959 #s-Image_87 {
  position: absolute;
  top: 210px;
  left: 1251px;
  width: 80px;
  height: 51px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-56c54ec8-95f3-48a5-92aa-96b69fd2e959 #s-Paragraph_12 {
  position: absolute;
  top: 265px;
  left: 1215px;
  width: 152px;
  height: 45px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 23px;
  font-size: 12.0pt;
  font-family: Gotham Medium,Arial;
}
#s-56c54ec8-95f3-48a5-92aa-96b69fd2e959 #s-Paragraph_12 .valign {
  vertical-align: top;
  text-align: center;
}
#s-56c54ec8-95f3-48a5-92aa-96b69fd2e959 #s-Paragraph_12 span {
  color: #009FD7;
  text-align: center;
  text-decoration: none;
  font-family: Gotham Medium,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-56c54ec8-95f3-48a5-92aa-96b69fd2e959 #s-Paragraph_12 span#rtr-s-Paragraph_12_0 {
  color: #009FD7;
  text-align: center;
  text-decoration: none;
  font-family: Gotham Medium,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-56c54ec8-95f3-48a5-92aa-96b69fd2e959 #s-Rectangle_20 {
  position: absolute;
  top: 547px;
  left: 0px;
  width: 1366px;
  height: 7px;
  background-color: #DBDD3B;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-56c54ec8-95f3-48a5-92aa-96b69fd2e959 #s-Rectangle_20 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-56c54ec8-95f3-48a5-92aa-96b69fd2e959 #s-Rectangle_20 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-56c54ec8-95f3-48a5-92aa-96b69fd2e959 #s-Rectangle_20 span#rtr-s-Rectangle_20_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-56c54ec8-95f3-48a5-92aa-96b69fd2e959 #s-Image_1 {
  position: absolute;
  top: 760px;
  left: 180px;
  width: 944px;
  height: 402px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-56c54ec8-95f3-48a5-92aa-96b69fd2e959 #s-Text_9 {
  position: absolute;
  top: 26px;
  left: 586px;
  width: 70px;
  height: 58px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 11.0pt;
  font-family: Gotham Light,Arial;
}
#s-56c54ec8-95f3-48a5-92aa-96b69fd2e959 #s-Text_9 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-56c54ec8-95f3-48a5-92aa-96b69fd2e959 #s-Text_9 span {
  color: #5C6670;
  text-align: left;
  text-decoration: none;
  font-family: Gotham Light,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 300;
}
#s-56c54ec8-95f3-48a5-92aa-96b69fd2e959 #s-Text_9 span#rtr-s-Text_9_0 {
  color: #5C6670;
  text-align: left;
  text-decoration: none;
  font-family: Gotham Light,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 300;
  line-height: 0px;
}
#s-56c54ec8-95f3-48a5-92aa-96b69fd2e959 #s-Text_11 {
  position: absolute;
  top: 26px;
  left: 680px;
  width: 70px;
  height: 58px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 11.0pt;
  font-family: Gotham Light,Arial;
}
#s-56c54ec8-95f3-48a5-92aa-96b69fd2e959 #s-Text_11 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-56c54ec8-95f3-48a5-92aa-96b69fd2e959 #s-Text_11 span {
  color: #5C6670;
  text-align: left;
  text-decoration: none;
  font-family: Gotham Light,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 300;
}
#s-56c54ec8-95f3-48a5-92aa-96b69fd2e959 #s-Text_11 span#rtr-s-Text_11_0 {
  color: #5C6670;
  text-align: left;
  text-decoration: none;
  font-family: Gotham Light,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 300;
  line-height: 0px;
}
#s-56c54ec8-95f3-48a5-92aa-96b69fd2e959 #s-Text_12 {
  position: absolute;
  top: 24px;
  left: 1010px;
  width: 88px;
  height: 58px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 11.0pt;
  font-family: Gotham Light,Arial;
}
#s-56c54ec8-95f3-48a5-92aa-96b69fd2e959 #s-Text_12 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-56c54ec8-95f3-48a5-92aa-96b69fd2e959 #s-Text_12 span {
  color: #5C6670;
  text-align: left;
  text-decoration: none;
  font-family: Gotham Light,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 300;
}
#s-56c54ec8-95f3-48a5-92aa-96b69fd2e959 #s-Text_12 span#rtr-s-Text_12_0 {
  color: #5C6670;
  text-align: left;
  text-decoration: none;
  font-family: Gotham Light,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 300;
  line-height: 0px;
}
#s-56c54ec8-95f3-48a5-92aa-96b69fd2e959 #s-Text_15 {
  position: absolute;
  top: 24px;
  left: 1123px;
  width: 85px;
  height: 58px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 11.0pt;
  font-family: Gotham Light,Arial;
}
#s-56c54ec8-95f3-48a5-92aa-96b69fd2e959 #s-Text_15 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-56c54ec8-95f3-48a5-92aa-96b69fd2e959 #s-Text_15 span {
  color: #5C6670;
  text-align: left;
  text-decoration: none;
  font-family: Gotham Light,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 300;
}
#s-56c54ec8-95f3-48a5-92aa-96b69fd2e959 #s-Text_15 span#rtr-s-Text_15_0 {
  color: #5C6670;
  text-align: left;
  text-decoration: none;
  font-family: Gotham Light,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 300;
  line-height: 0px;
}
#s-56c54ec8-95f3-48a5-92aa-96b69fd2e959 #s-Line_5 {
  position: absolute;
  top: 52px;
  left: 750px;
  width: 32px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #757873;
  -webkit-transform: rotate(89deg);
  -moz-transform: rotate(89deg);
  transform: rotate(89deg);
  box-shadow: none;
}
#s-56c54ec8-95f3-48a5-92aa-96b69fd2e959 #s-Line_6 {
  position: absolute;
  top: 52px;
  left: 1087px;
  width: 32px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #757873;
  -webkit-transform: rotate(89deg);
  -moz-transform: rotate(89deg);
  transform: rotate(89deg);
  box-shadow: none;
}
#s-56c54ec8-95f3-48a5-92aa-96b69fd2e959 #s-Line_7 {
  position: absolute;
  top: 52px;
  left: 972px;
  width: 32px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #757873;
  -webkit-transform: rotate(89deg);
  -moz-transform: rotate(89deg);
  transform: rotate(89deg);
  box-shadow: none;
}
#s-56c54ec8-95f3-48a5-92aa-96b69fd2e959 #s-Line_8 {
  position: absolute;
  top: 52px;
  left: 642px;
  width: 32px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #757873;
  -webkit-transform: rotate(89deg);
  -moz-transform: rotate(89deg);
  transform: rotate(89deg);
  box-shadow: none;
}
#s-56c54ec8-95f3-48a5-92aa-96b69fd2e959 #s-Line_9 {
  position: absolute;
  top: 68px;
  left: 1003px;
  width: 81px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-56c54ec8-95f3-48a5-92aa-96b69fd2e959 #s-Line_10 {
  position: absolute;
  top: 68px;
  left: 1115px;
  width: 89px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-56c54ec8-95f3-48a5-92aa-96b69fd2e959 #s-Line_11 {
  position: absolute;
  top: 70px;
  left: 577px;
  width: 68px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-56c54ec8-95f3-48a5-92aa-96b69fd2e959 #s-Line_12 {
  position: absolute;
  top: 70px;
  left: 673px;
  width: 76px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-56c54ec8-95f3-48a5-92aa-96b69fd2e959 #s-Text_16 {
  position: absolute;
  top: 26px;
  left: 789px;
  width: 186px;
  height: 58px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Gotham Light,Arial;
}
#s-56c54ec8-95f3-48a5-92aa-96b69fd2e959 #s-Text_16 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-56c54ec8-95f3-48a5-92aa-96b69fd2e959 #s-Text_16 span {
  color: #5C6670;
  text-align: left;
  text-decoration: none;
  font-family: Gotham Light,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 300;
}
#s-56c54ec8-95f3-48a5-92aa-96b69fd2e959 #s-Text_16 span#rtr-s-Text_16_0 {
  color: #5C6670;
  text-align: left;
  text-decoration: none;
  font-family: Gotham Light,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 300;
  line-height: 0px;
}
#s-56c54ec8-95f3-48a5-92aa-96b69fd2e959 #s-Line_13 {
  position: absolute;
  top: 70px;
  left: 791px;
  width: 182px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-56c54ec8-95f3-48a5-92aa-96b69fd2e959 #s-Line_14 {
  position: absolute;
  top: 52px;
  left: 1199px;
  width: 32px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #757873;
  -webkit-transform: rotate(89deg);
  -moz-transform: rotate(89deg);
  transform: rotate(89deg);
  box-shadow: none;
}
#s-56c54ec8-95f3-48a5-92aa-96b69fd2e959 #s-Text_17 {
  position: absolute;
  top: 24px;
  left: 1236px;
  width: 114px;
  height: 58px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 11.0pt;
  font-family: Gotham Book,Arial;
}
#s-56c54ec8-95f3-48a5-92aa-96b69fd2e959 #s-Text_17 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-56c54ec8-95f3-48a5-92aa-96b69fd2e959 #s-Text_17 span {
  color: #F28B00;
  text-align: left;
  text-decoration: none;
  font-family: Gotham Book,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-56c54ec8-95f3-48a5-92aa-96b69fd2e959 #s-Text_17 span#rtr-s-Text_17_0 {
  color: #F28B00;
  text-align: left;
  text-decoration: none;
  font-family: Gotham Book,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-56c54ec8-95f3-48a5-92aa-96b69fd2e959 #s-Line_17 {
  position: absolute;
  top: 70px;
  left: 1231px;
  width: 104px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-56c54ec8-95f3-48a5-92aa-96b69fd2e959 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}
#s-19b7d925-6327-4825-9018-29f2383e74ff #s-Group_3 {
  top: 1715px;
}