#s-5ce98dd8-17ce-43cf-977f-789129a7d82b #s-Rectangle_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=48);
  filter: alpha(opacity=48);
  -ms-transform: rotate(0.0deg);
}
#s-5ce98dd8-17ce-43cf-977f-789129a7d82b #s-Paragraph_2 {
  -ms-transform: rotate(0.0deg);
}
#s-5ce98dd8-17ce-43cf-977f-789129a7d82b #s-Paragraph_3 {
  -ms-transform: rotate(0.0deg);
}
#s-5ce98dd8-17ce-43cf-977f-789129a7d82b #s-Rectangle_6 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  border-radius: 14px 14px 14px 14px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=97);
  filter: alpha(opacity=97);
  -ms-transform: rotate(0.0deg);
}
#s-5ce98dd8-17ce-43cf-977f-789129a7d82b #s-Text_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
  filter: alpha(opacity=99);
  -ms-transform: rotate(0.0deg);
}
#s-5ce98dd8-17ce-43cf-977f-789129a7d82b #s-Text_4 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
  filter: alpha(opacity=99);
  -ms-transform: rotate(0.0deg);
}
#s-5ce98dd8-17ce-43cf-977f-789129a7d82b #s-Line_2 {
  border-top-width: 8px;
  border-top-style: solid;
  border-top-color: #F28B00;
  -ms-transform: rotate(0.0deg);
}
#s-5ce98dd8-17ce-43cf-977f-789129a7d82b #s-Line_2 {
  border-top-width: 8px;
  border-top-style: solid;
  border-top-color: #F28B00;
  -ms-transform: rotate(0.0deg);
}
#s-5ce98dd8-17ce-43cf-977f-789129a7d82b #s-Paragraph_5 {
  -ms-transform: rotate(0.0deg);
}
#s-5ce98dd8-17ce-43cf-977f-789129a7d82b #s-Rectangle_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  border-radius: 4px 4px 4px 4px;
  -ms-transform: rotate(0.0deg);
}
#s-5ce98dd8-17ce-43cf-977f-789129a7d82b #s-Button_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 196px;
  height: 23px;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-5ce98dd8-17ce-43cf-977f-789129a7d82b #s-Button_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 196px;
  height: 23px;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-5ce98dd8-17ce-43cf-977f-789129a7d82b #s-Paragraph_6 {
  -ms-transform: rotate(0.0deg);
}
#s-5ce98dd8-17ce-43cf-977f-789129a7d82b #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-5ce98dd8-17ce-43cf-977f-789129a7d82b #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-5ce98dd8-17ce-43cf-977f-789129a7d82b #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-5ce98dd8-17ce-43cf-977f-789129a7d82b #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-5ce98dd8-17ce-43cf-977f-789129a7d82b #s-Image_67 {
  -ms-transform: rotate(0.0deg);
}
#s-5ce98dd8-17ce-43cf-977f-789129a7d82b #s-Paragraph_4 {
  -ms-transform: rotate(0.0deg);
}
#s-5ce98dd8-17ce-43cf-977f-789129a7d82b #s-Paragraph_7 {
  -ms-transform: rotate(0.0deg);
}
#s-5ce98dd8-17ce-43cf-977f-789129a7d82b #s-Paragraph_8 {
  -ms-transform: rotate(0.0deg);
}
#s-5ce98dd8-17ce-43cf-977f-789129a7d82b #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-5ce98dd8-17ce-43cf-977f-789129a7d82b #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-5ce98dd8-17ce-43cf-977f-789129a7d82b #s-Paragraph_9 {
  -ms-transform: rotate(0.0deg);
}
#s-5ce98dd8-17ce-43cf-977f-789129a7d82b #s-Image_68 {
  -ms-transform: rotate(0.0deg);
}
#s-5ce98dd8-17ce-43cf-977f-789129a7d82b #s-Image_72 {
  -ms-transform: rotate(0.0deg);
}
#s-5ce98dd8-17ce-43cf-977f-789129a7d82b #s-Image_87 {
  -ms-transform: rotate(0.0deg);
}
#s-5ce98dd8-17ce-43cf-977f-789129a7d82b #s-Paragraph_12 {
  -ms-transform: rotate(0.0deg);
}
#s-5ce98dd8-17ce-43cf-977f-789129a7d82b #s-Image_69 {
  -ms-transform: rotate(0.0deg);
}
#s-5ce98dd8-17ce-43cf-977f-789129a7d82b #s-Rectangle_7 {
  -ms-transform: rotate(0.0deg);
}
#s-5ce98dd8-17ce-43cf-977f-789129a7d82b #s-Rectangle_8 {
  -ms-transform: rotate(0.0deg);
}
#s-5ce98dd8-17ce-43cf-977f-789129a7d82b #s-Rectangle_16 {
  -ms-transform: rotate(0.0deg);
}
#s-5ce98dd8-17ce-43cf-977f-789129a7d82b #s-Rectangle_17 {
  -ms-transform: rotate(0.0deg);
}
#s-5ce98dd8-17ce-43cf-977f-789129a7d82b #s-Rectangle_18 {
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #009FE3;
  -ms-transform: rotate(0.0deg);
}
#s-5ce98dd8-17ce-43cf-977f-789129a7d82b #s-Rectangle_19 {
  -ms-transform: rotate(0.0deg);
}
#s-5ce98dd8-17ce-43cf-977f-789129a7d82b #s-Image_86 {
  -ms-transform: rotate(0.0deg);
}
#s-5ce98dd8-17ce-43cf-977f-789129a7d82b #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-5ce98dd8-17ce-43cf-977f-789129a7d82b #s-Text_12 {
  -ms-transform: rotate(0.0deg);
}
#s-5ce98dd8-17ce-43cf-977f-789129a7d82b #s-Text_13 {
  -ms-transform: rotate(0.0deg);
}
#s-5ce98dd8-17ce-43cf-977f-789129a7d82b #s-Text_14 {
  -ms-transform: rotate(0.0deg);
}
#s-5ce98dd8-17ce-43cf-977f-789129a7d82b #s-Line_5 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #757873;
  -ms-transform: rotate(89.0deg);
}
#s-5ce98dd8-17ce-43cf-977f-789129a7d82b #s-Line_5 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #757873;
  -ms-transform: rotate(89.0deg);
}
#s-5ce98dd8-17ce-43cf-977f-789129a7d82b #s-Line_6 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #757873;
  -ms-transform: rotate(89.0deg);
}
#s-5ce98dd8-17ce-43cf-977f-789129a7d82b #s-Line_6 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #757873;
  -ms-transform: rotate(89.0deg);
}
#s-5ce98dd8-17ce-43cf-977f-789129a7d82b #s-Line_7 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #757873;
  -ms-transform: rotate(89.0deg);
}
#s-5ce98dd8-17ce-43cf-977f-789129a7d82b #s-Line_7 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #757873;
  -ms-transform: rotate(89.0deg);
}
#s-5ce98dd8-17ce-43cf-977f-789129a7d82b #s-Line_8 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #757873;
  -ms-transform: rotate(89.0deg);
}
#s-5ce98dd8-17ce-43cf-977f-789129a7d82b #s-Line_8 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #757873;
  -ms-transform: rotate(89.0deg);
}
#s-5ce98dd8-17ce-43cf-977f-789129a7d82b #s-Line_10 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-5ce98dd8-17ce-43cf-977f-789129a7d82b #s-Line_10 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-5ce98dd8-17ce-43cf-977f-789129a7d82b #s-Line_11 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-5ce98dd8-17ce-43cf-977f-789129a7d82b #s-Line_11 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-5ce98dd8-17ce-43cf-977f-789129a7d82b #s-Line_12 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #009FE3;
  -ms-transform: rotate(0.0deg);
}
#s-5ce98dd8-17ce-43cf-977f-789129a7d82b #s-Line_12 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #009FE3;
  -ms-transform: rotate(0.0deg);
}
#s-5ce98dd8-17ce-43cf-977f-789129a7d82b #s-Line_13 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-5ce98dd8-17ce-43cf-977f-789129a7d82b #s-Line_13 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-5ce98dd8-17ce-43cf-977f-789129a7d82b #s-Text_15 {
  -ms-transform: rotate(0.0deg);
}
#s-5ce98dd8-17ce-43cf-977f-789129a7d82b #s-Line_14 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-5ce98dd8-17ce-43cf-977f-789129a7d82b #s-Line_14 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-5ce98dd8-17ce-43cf-977f-789129a7d82b #s-Line_15 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #757873;
  -ms-transform: rotate(89.0deg);
}
#s-5ce98dd8-17ce-43cf-977f-789129a7d82b #s-Line_15 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #757873;
  -ms-transform: rotate(89.0deg);
}
#s-5ce98dd8-17ce-43cf-977f-789129a7d82b #s-Text_16 {
  -ms-transform: rotate(0.0deg);
}
#s-5ce98dd8-17ce-43cf-977f-789129a7d82b #s-Line_17 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-5ce98dd8-17ce-43cf-977f-789129a7d82b #s-Line_17 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-5ce98dd8-17ce-43cf-977f-789129a7d82b #s-Rectangle_9 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=87);
  filter: alpha(opacity=87);
  -ms-transform: rotate(0.0deg);
}
#s-5ce98dd8-17ce-43cf-977f-789129a7d82b #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-5ce98dd8-17ce-43cf-977f-789129a7d82b #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-5ce98dd8-17ce-43cf-977f-789129a7d82b #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-5ce98dd8-17ce-43cf-977f-789129a7d82b #s-Paragraph_13 {
  -ms-transform: rotate(0.0deg);
}
#s-5ce98dd8-17ce-43cf-977f-789129a7d82b #s-Rectangle_12 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  border-radius: 15px 15px 15px 15px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=97);
  filter: alpha(opacity=97);
  -ms-transform: rotate(0.0deg);
}
#s-5ce98dd8-17ce-43cf-977f-789129a7d82b #s-Rectangle_14 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #08A2D8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #08A2D8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #08A2D8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #08A2D8;
  border-radius: 12px 12px 12px 12px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=97);
  filter: alpha(opacity=97);
  -ms-transform: rotate(0.0deg);
}
#s-5ce98dd8-17ce-43cf-977f-789129a7d82b #s-Rectangle_10 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #08A2D8;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #08A2D8;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #08A2D8;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #08A2D8;
  -ms-transform: rotate(0.0deg);
}
#s-5ce98dd8-17ce-43cf-977f-789129a7d82b #s-Rectangle_13 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #F28F08;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #F28F08;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F28F08;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #F28F08;
  border-radius: 12px 12px 12px 12px;
  -ms-transform: rotate(0.0deg);
}
#s-5ce98dd8-17ce-43cf-977f-789129a7d82b #s-Rectangle_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #F28B00;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #F28B00;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #F28B00;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #F28B00;
  -ms-transform: rotate(0.0deg);
}
#s-5ce98dd8-17ce-43cf-977f-789129a7d82b #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-5ce98dd8-17ce-43cf-977f-789129a7d82b #s-Rectangle_15 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  -ms-transform: rotate(0.0deg);
}
#s-5ce98dd8-17ce-43cf-977f-789129a7d82b #s-Paragraph_10 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98);
  filter: alpha(opacity=98);
  -ms-transform: rotate(0.0deg);
}
#s-5ce98dd8-17ce-43cf-977f-789129a7d82b #s-Paragraph_14 {
  -ms-transform: rotate(0.0deg);
}
#s-5ce98dd8-17ce-43cf-977f-789129a7d82b #s-Button_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 220px;
  height: 23px;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-5ce98dd8-17ce-43cf-977f-789129a7d82b #s-Text_17 {
  -ms-transform: rotate(0.0deg);
}
#s-5ce98dd8-17ce-43cf-977f-789129a7d82b #s-Rectangle_26 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  -ms-transform: rotate(0.0deg);
}
#s-5ce98dd8-17ce-43cf-977f-789129a7d82b #s-Label_11 {
  -ms-transform: rotate(0.0deg);
}
#s-5ce98dd8-17ce-43cf-977f-789129a7d82b #s-Rectangle_27 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  -ms-transform: rotate(0.0deg);
}
#s-5ce98dd8-17ce-43cf-977f-789129a7d82b #s-Label_4 {
  -ms-transform: rotate(0.0deg);
}
#s-5ce98dd8-17ce-43cf-977f-789129a7d82b #s-Paragraph_19 {
  -ms-transform: rotate(0.0deg);
}
#s-5ce98dd8-17ce-43cf-977f-789129a7d82b #s-Button_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 220px;
  height: 23px;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-5ce98dd8-17ce-43cf-977f-789129a7d82b #s-Label_9 {
  -ms-transform: rotate(0.0deg);
}
#s-5ce98dd8-17ce-43cf-977f-789129a7d82b #s-Text_18 {
  -ms-transform: rotate(0.0deg);
}
#s-5ce98dd8-17ce-43cf-977f-789129a7d82b #s-Text_19 {
  -ms-transform: rotate(0.0deg);
}
#s-5ce98dd8-17ce-43cf-977f-789129a7d82b #s-close-white {
  -ms-transform: rotate(0.0deg);
}
#s-5ce98dd8-17ce-43cf-977f-789129a7d82b #s-Text_20 {
  -ms-transform: rotate(0.0deg);
}
#s-5ce98dd8-17ce-43cf-977f-789129a7d82b > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}