#s-5ce98dd8-17ce-43cf-977f-789129a7d82b #s-Rectangle_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=48) ;
  filter: alpha(opacity=48) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5ce98dd8-17ce-43cf-977f-789129a7d82b #s-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5ce98dd8-17ce-43cf-977f-789129a7d82b #s-Paragraph_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5ce98dd8-17ce-43cf-977f-789129a7d82b #s-Rectangle_6 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=97) ;
  filter: alpha(opacity=97) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5ce98dd8-17ce-43cf-977f-789129a7d82b #s-Text_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99) ;
  filter: alpha(opacity=99) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5ce98dd8-17ce-43cf-977f-789129a7d82b #s-Text_4 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99) ;
  filter: alpha(opacity=99) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5ce98dd8-17ce-43cf-977f-789129a7d82b #s-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5ce98dd8-17ce-43cf-977f-789129a7d82b #s-Paragraph_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5ce98dd8-17ce-43cf-977f-789129a7d82b #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5ce98dd8-17ce-43cf-977f-789129a7d82b #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5ce98dd8-17ce-43cf-977f-789129a7d82b #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5ce98dd8-17ce-43cf-977f-789129a7d82b #s-Paragraph_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5ce98dd8-17ce-43cf-977f-789129a7d82b #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5ce98dd8-17ce-43cf-977f-789129a7d82b #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5ce98dd8-17ce-43cf-977f-789129a7d82b #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5ce98dd8-17ce-43cf-977f-789129a7d82b #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5ce98dd8-17ce-43cf-977f-789129a7d82b #s-Image_67 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5ce98dd8-17ce-43cf-977f-789129a7d82b #s-Paragraph_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5ce98dd8-17ce-43cf-977f-789129a7d82b #s-Paragraph_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5ce98dd8-17ce-43cf-977f-789129a7d82b #s-Paragraph_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5ce98dd8-17ce-43cf-977f-789129a7d82b #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5ce98dd8-17ce-43cf-977f-789129a7d82b #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5ce98dd8-17ce-43cf-977f-789129a7d82b #s-Paragraph_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5ce98dd8-17ce-43cf-977f-789129a7d82b #s-Image_68 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5ce98dd8-17ce-43cf-977f-789129a7d82b #s-Image_72 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5ce98dd8-17ce-43cf-977f-789129a7d82b #s-Image_87 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5ce98dd8-17ce-43cf-977f-789129a7d82b #s-Paragraph_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5ce98dd8-17ce-43cf-977f-789129a7d82b #s-Image_69 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5ce98dd8-17ce-43cf-977f-789129a7d82b #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5ce98dd8-17ce-43cf-977f-789129a7d82b #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5ce98dd8-17ce-43cf-977f-789129a7d82b #s-Rectangle_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5ce98dd8-17ce-43cf-977f-789129a7d82b #s-Rectangle_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5ce98dd8-17ce-43cf-977f-789129a7d82b #s-Rectangle_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5ce98dd8-17ce-43cf-977f-789129a7d82b #s-Rectangle_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5ce98dd8-17ce-43cf-977f-789129a7d82b #s-Image_86 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5ce98dd8-17ce-43cf-977f-789129a7d82b #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5ce98dd8-17ce-43cf-977f-789129a7d82b #s-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5ce98dd8-17ce-43cf-977f-789129a7d82b #s-Text_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5ce98dd8-17ce-43cf-977f-789129a7d82b #s-Text_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5ce98dd8-17ce-43cf-977f-789129a7d82b #s-Line_5 {
  rotation: 89.0;
  margin-left: 14px;
  margin-top: -16px;
}
#s-5ce98dd8-17ce-43cf-977f-789129a7d82b #s-Line_6 {
  rotation: 89.0;
  margin-left: 14px;
  margin-top: -16px;
}
#s-5ce98dd8-17ce-43cf-977f-789129a7d82b #s-Line_7 {
  rotation: 89.0;
  margin-left: 14px;
  margin-top: -16px;
}
#s-5ce98dd8-17ce-43cf-977f-789129a7d82b #s-Line_8 {
  rotation: 89.0;
  margin-left: 14px;
  margin-top: -16px;
}
#s-5ce98dd8-17ce-43cf-977f-789129a7d82b #s-Line_10 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5ce98dd8-17ce-43cf-977f-789129a7d82b #s-Line_11 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5ce98dd8-17ce-43cf-977f-789129a7d82b #s-Line_12 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5ce98dd8-17ce-43cf-977f-789129a7d82b #s-Line_13 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5ce98dd8-17ce-43cf-977f-789129a7d82b #s-Text_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5ce98dd8-17ce-43cf-977f-789129a7d82b #s-Line_14 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5ce98dd8-17ce-43cf-977f-789129a7d82b #s-Line_15 {
  rotation: 89.0;
  margin-left: 14px;
  margin-top: -16px;
}
#s-5ce98dd8-17ce-43cf-977f-789129a7d82b #s-Text_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5ce98dd8-17ce-43cf-977f-789129a7d82b #s-Line_17 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5ce98dd8-17ce-43cf-977f-789129a7d82b #s-Rectangle_9 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=87) ;
  filter: alpha(opacity=87) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5ce98dd8-17ce-43cf-977f-789129a7d82b #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5ce98dd8-17ce-43cf-977f-789129a7d82b #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5ce98dd8-17ce-43cf-977f-789129a7d82b #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5ce98dd8-17ce-43cf-977f-789129a7d82b #s-Paragraph_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5ce98dd8-17ce-43cf-977f-789129a7d82b #s-Rectangle_12 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=97) ;
  filter: alpha(opacity=97) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5ce98dd8-17ce-43cf-977f-789129a7d82b #s-Rectangle_14 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=97) ;
  filter: alpha(opacity=97) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5ce98dd8-17ce-43cf-977f-789129a7d82b #s-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5ce98dd8-17ce-43cf-977f-789129a7d82b #s-Rectangle_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5ce98dd8-17ce-43cf-977f-789129a7d82b #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5ce98dd8-17ce-43cf-977f-789129a7d82b #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5ce98dd8-17ce-43cf-977f-789129a7d82b #s-Rectangle_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5ce98dd8-17ce-43cf-977f-789129a7d82b #s-Paragraph_10 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98) ;
  filter: alpha(opacity=98) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5ce98dd8-17ce-43cf-977f-789129a7d82b #s-Paragraph_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5ce98dd8-17ce-43cf-977f-789129a7d82b #s-Button_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5ce98dd8-17ce-43cf-977f-789129a7d82b #s-Text_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5ce98dd8-17ce-43cf-977f-789129a7d82b #s-Rectangle_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5ce98dd8-17ce-43cf-977f-789129a7d82b #s-Label_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5ce98dd8-17ce-43cf-977f-789129a7d82b #s-Rectangle_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5ce98dd8-17ce-43cf-977f-789129a7d82b #s-Label_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5ce98dd8-17ce-43cf-977f-789129a7d82b #s-Paragraph_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5ce98dd8-17ce-43cf-977f-789129a7d82b #s-Button_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5ce98dd8-17ce-43cf-977f-789129a7d82b #s-Label_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5ce98dd8-17ce-43cf-977f-789129a7d82b #s-Text_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5ce98dd8-17ce-43cf-977f-789129a7d82b #s-Text_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5ce98dd8-17ce-43cf-977f-789129a7d82b #s-close-white {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5ce98dd8-17ce-43cf-977f-789129a7d82b #s-Text_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5ce98dd8-17ce-43cf-977f-789129a7d82b > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}