#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60) ;
  filter: alpha(opacity=60) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Paragraph_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Paragraph_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Paragraph_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Text_48 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Image_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Paragraph_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Text_76 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Button_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Paragraph_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Text_49 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Image_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Paragraph_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Button_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Paragraph_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Line_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Text_67 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Text_70 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Text_77 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Line_46 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Line_47 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Text_81 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Text_82 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Text_83 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Line_50 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Line_51 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Line_12 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Rectangle_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Paragraph_43 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Text_40 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Text_41 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Paragraph_44 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Paragraph_41 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Paragraph_45 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Paragraph_42 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Text_87 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Text_88 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Image_69 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Text_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Line_3 {
  rotation: 89.0;
  margin-left: 14px;
  margin-top: -16px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Line_4 {
  rotation: 89.0;
  margin-left: 14px;
  margin-top: -16px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Line_7 {
  rotation: 89.0;
  margin-left: 14px;
  margin-top: -16px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Line_8 {
  rotation: 89.0;
  margin-left: 14px;
  margin-top: -16px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Line_9 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Line_10 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Line_11 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Line_13 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Line_14 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Rectangle_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Rectangle_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Rectangle_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Rectangle_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Image_86 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Image_67 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Paragraph_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Paragraph_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Paragraph_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Paragraph_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Image_68 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Image_72 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Image_87 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Paragraph_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Image_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Paragraph_51 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Text_122 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Text_123 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Paragraph_46 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Paragraph_49 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Button_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Paragraph_50 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Text_124 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Text_125 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Image_9 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=6.123233995736766E-17,M12=-1.0,M21=1.0,M22=6.123233995736766E-17);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=6.123233995736766E-17,M12=-1.0,M21=1.0,M22=6.123233995736766E-17);
  margin-left: -14px;
  margin-top: 13px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Paragraph_60 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Button_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Paragraph_61 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Button_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Paragraph_66 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Paragraph_82 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Text_141 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Text_145 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Text_146 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Line_35 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Text_147 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Line_36 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Text_148 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Text_149 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Text_154 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Text_155 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Image_17 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=6.123233995736766E-17,M12=-1.0,M21=1.0,M22=6.123233995736766E-17);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=6.123233995736766E-17,M12=-1.0,M21=1.0,M22=6.123233995736766E-17);
  margin-left: -14px;
  margin-top: 13px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Paragraph_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Text_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Text_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Text_37 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Image_3 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=6.123233995736766E-17,M12=-1.0,M21=1.0,M22=6.123233995736766E-17);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=6.123233995736766E-17,M12=-1.0,M21=1.0,M22=6.123233995736766E-17);
  margin-left: -14px;
  margin-top: 13px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Paragraph_52 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Text_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Text_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Text_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Line_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Line_17 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Button_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Paragraph_53 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Text_126 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Text_127 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Text_39 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Paragraph_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Text_71 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Text_78 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Button_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Paragraph_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Paragraph_39 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Text_79 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Line_48 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Line_49 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Paragraph_40 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Text_89 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Image_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Text_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Image_78 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Paragraph_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Button_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Image_79 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Image_76 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Image_77 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Image_80 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Paragraph_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Button_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Image_81 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Image_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Rectangle_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Text_60 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Text_68 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Rectangle_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Image_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Text_72 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Text_84 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-1.0,M12=-1.2246467991473532E-16,M21=1.2246467991473532E-16,M22=-1.0);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-1.0,M12=-1.2246467991473532E-16,M21=1.2246467991473532E-16,M22=-1.0);
  margin-left: -1px;
  margin-top: 0px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Text_85 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Text_86 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-1.0,M12=-1.2246467991473532E-16,M21=1.2246467991473532E-16,M22=-1.0);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-1.0,M12=-1.2246467991473532E-16,M21=1.2246467991473532E-16,M22=-1.0);
  margin-left: -1px;
  margin-top: 0px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Rectangle_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Text_90 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Text_106 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Text_107 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-1.0,M12=-1.2246467991473532E-16,M21=1.2246467991473532E-16,M22=-1.0);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-1.0,M12=-1.2246467991473532E-16,M21=1.2246467991473532E-16,M22=-1.0);
  margin-left: -1px;
  margin-top: 0px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Rectangle_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Text_108 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Rectangle_10 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=87) ;
  filter: alpha(opacity=87) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Paragraph_47 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Image_84 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Image_85 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Image_88 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Image_89 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Image_90 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Image_91 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Paragraph_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Button_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Image_92 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Paragraph_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Button_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Image_93 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-close-white {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}