#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  filter: alpha(opacity=60);
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Paragraph_21 {
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Paragraph_4 {
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Paragraph_16 {
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Text_48 {
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Image_25 {
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Paragraph_18 {
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Text_76 {
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Button_18 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 13px 13px 13px 13px;
  padding-top: 7px;
  padding-right: 7px;
  padding-bottom: 7px;
  padding-left: 7px;
  width: 201px;
  height: 70px;
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Paragraph_31 {
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Text_49 {
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Image_26 {
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Paragraph_19 {
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Button_20 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 13px 13px 13px 13px;
  padding-top: 7px;
  padding-right: 7px;
  padding-bottom: 7px;
  padding-left: 7px;
  width: 201px;
  height: 70px;
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Paragraph_33 {
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Line_6 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Line_6 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Text_67 {
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Text_70 {
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Text_77 {
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Line_46 {
  border-top-width: 2px;
  border-top-style: dotted;
  border-top-color: #C32822;
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Line_46 {
  border-top-width: 2px;
  border-top-style: dotted;
  border-top-color: #C32822;
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Line_47 {
  border-top-width: 2px;
  border-top-style: dotted;
  border-top-color: #C32822;
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Line_47 {
  border-top-width: 2px;
  border-top-style: dotted;
  border-top-color: #C32822;
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Text_81 {
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Text_82 {
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Text_83 {
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Line_50 {
  border-top-width: 2px;
  border-top-style: dotted;
  border-top-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Line_50 {
  border-top-width: 2px;
  border-top-style: dotted;
  border-top-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Line_51 {
  border-top-width: 2px;
  border-top-style: dotted;
  border-top-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Line_51 {
  border-top-width: 2px;
  border-top-style: dotted;
  border-top-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Line_12 {
  border-top-width: 1px;
  border-top-style: dotted;
  border-top-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Line_12 {
  border-top-width: 1px;
  border-top-style: dotted;
  border-top-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Rectangle_21 {
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Button_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 11px 11px 11px 11px;
  padding-top: 6px;
  padding-right: 6px;
  padding-bottom: 6px;
  padding-left: 6px;
  width: 380px;
  height: 57px;
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Paragraph_43 {
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Text_40 {
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Text_41 {
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Paragraph_44 {
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Paragraph_41 {
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Paragraph_45 {
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Paragraph_42 {
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Text_87 {
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Text_88 {
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Image_69 {
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Text_13 {
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Line_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #757873;
  -ms-transform: rotate(89.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Line_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #757873;
  -ms-transform: rotate(89.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Line_4 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #757873;
  -ms-transform: rotate(89.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Line_4 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #757873;
  -ms-transform: rotate(89.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Line_7 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #757873;
  -ms-transform: rotate(89.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Line_7 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #757873;
  -ms-transform: rotate(89.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Line_8 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #757873;
  -ms-transform: rotate(89.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Line_8 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #757873;
  -ms-transform: rotate(89.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Line_9 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Line_9 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Line_10 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Line_10 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Line_11 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Line_11 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Line_13 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Line_13 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Line_14 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Line_14 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Rectangle_6 {
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Rectangle_8 {
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Rectangle_16 {
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Rectangle_17 {
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Rectangle_18 {
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Rectangle_19 {
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Image_86 {
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Image_67 {
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Paragraph_3 {
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Paragraph_13 {
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Paragraph_14 {
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Paragraph_15 {
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Image_68 {
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Image_72 {
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Image_87 {
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Paragraph_20 {
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Image_27 {
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Paragraph_51 {
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Text_122 {
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Text_123 {
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Button_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 13px 13px 13px 13px;
  padding-top: 7px;
  padding-right: 7px;
  padding-bottom: 7px;
  padding-left: 7px;
  width: 201px;
  height: 70px;
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Paragraph_46 {
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Paragraph_49 {
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Line_1 {
  border-top-width: 2px;
  border-top-style: dotted;
  border-top-color: #8D8F8F;
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Line_1 {
  border-top-width: 2px;
  border-top-style: dotted;
  border-top-color: #8D8F8F;
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Text_12 {
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Line_2 {
  border-top-width: 2px;
  border-top-style: dotted;
  border-top-color: #535358;
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Line_2 {
  border-top-width: 2px;
  border-top-style: dotted;
  border-top-color: #535358;
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Button_7 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 7px 7px 7px 7px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  width: 179px;
  height: 32px;
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Paragraph_50 {
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Text_124 {
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Text_125 {
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Image_9 {
  -ms-transform: rotate(90.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Paragraph_60 {
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Button_11 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 13px 13px 13px 13px;
  padding-top: 7px;
  padding-right: 7px;
  padding-bottom: 7px;
  padding-left: 7px;
  width: 201px;
  height: 70px;
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Paragraph_61 {
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Button_28 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 7px 7px 7px 7px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  width: 179px;
  height: 32px;
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Paragraph_66 {
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Paragraph_82 {
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Text_141 {
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Text_145 {
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Text_146 {
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Line_35 {
  border-top-width: 2px;
  border-top-style: dotted;
  border-top-color: #CEDF00;
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Line_35 {
  border-top-width: 2px;
  border-top-style: dotted;
  border-top-color: #CEDF00;
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Text_147 {
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Line_36 {
  border-top-width: 2px;
  border-top-style: dotted;
  border-top-color: #CEDF00;
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Line_36 {
  border-top-width: 2px;
  border-top-style: dotted;
  border-top-color: #CEDF00;
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Text_148 {
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Text_149 {
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Text_154 {
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Text_155 {
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Image_17 {
  -ms-transform: rotate(90.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Button_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 13px 13px 13px 13px;
  padding-top: 7px;
  padding-right: 7px;
  padding-bottom: 7px;
  padding-left: 7px;
  width: 201px;
  height: 70px;
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Paragraph_5 {
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Text_35 {
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Text_36 {
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Text_37 {
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Image_3 {
  -ms-transform: rotate(90.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Paragraph_52 {
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Text_14 {
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Text_15 {
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Text_16 {
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Line_5 {
  border-top-width: 2px;
  border-top-style: dotted;
  border-top-color: #009FE3;
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Line_5 {
  border-top-width: 2px;
  border-top-style: dotted;
  border-top-color: #009FE3;
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Line_17 {
  border-top-width: 2px;
  border-top-style: dotted;
  border-top-color: #009FE3;
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Line_17 {
  border-top-width: 2px;
  border-top-style: dotted;
  border-top-color: #009FE3;
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Button_8 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 7px 7px 7px 7px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  width: 179px;
  height: 32px;
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Paragraph_53 {
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Text_126 {
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Text_127 {
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Text_39 {
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Paragraph_17 {
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Text_71 {
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Text_78 {
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Button_19 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 13px 13px 13px 13px;
  padding-top: 7px;
  padding-right: 7px;
  padding-bottom: 7px;
  padding-left: 7px;
  width: 201px;
  height: 70px;
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Paragraph_32 {
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Paragraph_39 {
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Text_79 {
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Line_48 {
  border-top-width: 2px;
  border-top-style: dotted;
  border-top-color: #F28B00;
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Line_48 {
  border-top-width: 2px;
  border-top-style: dotted;
  border-top-color: #F28B00;
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Line_49 {
  border-top-width: 2px;
  border-top-style: dotted;
  border-top-color: #F28B00;
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Line_49 {
  border-top-width: 2px;
  border-top-style: dotted;
  border-top-color: #F28B00;
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Paragraph_40 {
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Text_89 {
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Image_10 {
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Text_17 {
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Image_78 {
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Paragraph_10 {
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Button_4 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 8px 8px 8px 8px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  width: 157px;
  height: 38px;
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Image_79 {
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Image_76 {
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Image_77 {
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Image_80 {
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Paragraph_11 {
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Button_5 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 8px 8px 8px 8px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  width: 157px;
  height: 38px;
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Image_81 {
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Rectangle_7 {
  border-top-width: 1px;
  border-top-style: dotted;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: dotted;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: dotted;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Image_32 {
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Rectangle_9 {
  border-top-width: 1px;
  border-top-style: dotted;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: dotted;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: dotted;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Text_60 {
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Text_68 {
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Rectangle_20 {
  border-top-width: 1px;
  border-top-style: dotted;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: dotted;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: dotted;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Image_33 {
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Text_72 {
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Text_84 {
  -ms-transform: rotate(180.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Text_85 {
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Text_86 {
  -ms-transform: rotate(180.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Rectangle_22 {
  border-top-width: 1px;
  border-top-style: dotted;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: dotted;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: dotted;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Text_90 {
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Text_106 {
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Text_107 {
  -ms-transform: rotate(180.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Rectangle_23 {
  border-top-width: 1px;
  border-top-style: dotted;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: dotted;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: dotted;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Text_108 {
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Rectangle_10 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=87);
  filter: alpha(opacity=87);
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Paragraph_47 {
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Image_84 {
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Image_85 {
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Image_88 {
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Image_89 {
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Image_90 {
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Image_91 {
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Paragraph_22 {
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Button_6 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 8px 8px 8px 8px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  width: 157px;
  height: 38px;
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Image_92 {
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Paragraph_23 {
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Button_9 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 8px 8px 8px 8px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  width: 157px;
  height: 38px;
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-Image_93 {
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 #s-close-white {
  -ms-transform: rotate(0.0deg);
}
#s-693907c3-6572-42c3-bdaf-8dc385498f39 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}