#s-7733e952-c765-4ffe-bb0c-a4d1345cc749 #s-Rectangle_5 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=48);
  filter: alpha(opacity=48);
  -ms-transform: rotate(0.0deg);
}
#s-7733e952-c765-4ffe-bb0c-a4d1345cc749 #s-Image_66 {
  -ms-transform: rotate(0.0deg);
}
#s-7733e952-c765-4ffe-bb0c-a4d1345cc749 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-7733e952-c765-4ffe-bb0c-a4d1345cc749 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-7733e952-c765-4ffe-bb0c-a4d1345cc749 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-7733e952-c765-4ffe-bb0c-a4d1345cc749 #s-Paragraph_7 {
  -ms-transform: rotate(0.0deg);
}
#s-7733e952-c765-4ffe-bb0c-a4d1345cc749 #s-Line_1 {
  border-top-width: 1px;
  border-top-style: dotted;
  border-top-color: #F28B00;
  -ms-transform: rotate(0.0deg);
}
#s-7733e952-c765-4ffe-bb0c-a4d1345cc749 #s-Line_1 {
  border-top-width: 1px;
  border-top-style: dotted;
  border-top-color: #F28B00;
  -ms-transform: rotate(0.0deg);
}
#s-7733e952-c765-4ffe-bb0c-a4d1345cc749 #s-Line_2 {
  border-top-width: 1px;
  border-top-style: dotted;
  border-top-color: #F28B00;
  -ms-transform: rotate(0.0deg);
}
#s-7733e952-c765-4ffe-bb0c-a4d1345cc749 #s-Line_2 {
  border-top-width: 1px;
  border-top-style: dotted;
  border-top-color: #F28B00;
  -ms-transform: rotate(0.0deg);
}
#s-7733e952-c765-4ffe-bb0c-a4d1345cc749 #s-Image_69 {
  -ms-transform: rotate(0.0deg);
}
#s-7733e952-c765-4ffe-bb0c-a4d1345cc749 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-7733e952-c765-4ffe-bb0c-a4d1345cc749 #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-7733e952-c765-4ffe-bb0c-a4d1345cc749 #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-7733e952-c765-4ffe-bb0c-a4d1345cc749 #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-7733e952-c765-4ffe-bb0c-a4d1345cc749 #s-Text_13 {
  -ms-transform: rotate(0.0deg);
}
#s-7733e952-c765-4ffe-bb0c-a4d1345cc749 #s-Line_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #757873;
  -ms-transform: rotate(89.0deg);
}
#s-7733e952-c765-4ffe-bb0c-a4d1345cc749 #s-Line_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #757873;
  -ms-transform: rotate(89.0deg);
}
#s-7733e952-c765-4ffe-bb0c-a4d1345cc749 #s-Line_4 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #757873;
  -ms-transform: rotate(89.0deg);
}
#s-7733e952-c765-4ffe-bb0c-a4d1345cc749 #s-Line_4 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #757873;
  -ms-transform: rotate(89.0deg);
}
#s-7733e952-c765-4ffe-bb0c-a4d1345cc749 #s-Line_5 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #757873;
  -ms-transform: rotate(89.0deg);
}
#s-7733e952-c765-4ffe-bb0c-a4d1345cc749 #s-Line_5 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #757873;
  -ms-transform: rotate(89.0deg);
}
#s-7733e952-c765-4ffe-bb0c-a4d1345cc749 #s-Line_6 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #757873;
  -ms-transform: rotate(89.0deg);
}
#s-7733e952-c765-4ffe-bb0c-a4d1345cc749 #s-Line_6 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #757873;
  -ms-transform: rotate(89.0deg);
}
#s-7733e952-c765-4ffe-bb0c-a4d1345cc749 #s-Line_7 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-7733e952-c765-4ffe-bb0c-a4d1345cc749 #s-Line_7 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-7733e952-c765-4ffe-bb0c-a4d1345cc749 #s-Line_8 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-7733e952-c765-4ffe-bb0c-a4d1345cc749 #s-Line_8 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-7733e952-c765-4ffe-bb0c-a4d1345cc749 #s-Line_9 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-7733e952-c765-4ffe-bb0c-a4d1345cc749 #s-Line_9 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-7733e952-c765-4ffe-bb0c-a4d1345cc749 #s-Line_10 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-7733e952-c765-4ffe-bb0c-a4d1345cc749 #s-Line_10 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-7733e952-c765-4ffe-bb0c-a4d1345cc749 #s-Line_11 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-7733e952-c765-4ffe-bb0c-a4d1345cc749 #s-Line_11 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-7733e952-c765-4ffe-bb0c-a4d1345cc749 #s-Image_70 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: alpha(opacity=70);
}
#s-7733e952-c765-4ffe-bb0c-a4d1345cc749 #s-Image_71 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: alpha(opacity=70);
}
#s-7733e952-c765-4ffe-bb0c-a4d1345cc749 #s-Rectangle_6 {
  -ms-transform: rotate(0.0deg);
}
#s-7733e952-c765-4ffe-bb0c-a4d1345cc749 #s-Rectangle_8 {
  -ms-transform: rotate(0.0deg);
}
#s-7733e952-c765-4ffe-bb0c-a4d1345cc749 #s-Rectangle_16 {
  -ms-transform: rotate(0.0deg);
}
#s-7733e952-c765-4ffe-bb0c-a4d1345cc749 #s-Rectangle_17 {
  -ms-transform: rotate(0.0deg);
}
#s-7733e952-c765-4ffe-bb0c-a4d1345cc749 #s-Rectangle_18 {
  -ms-transform: rotate(0.0deg);
}
#s-7733e952-c765-4ffe-bb0c-a4d1345cc749 #s-Rectangle_19 {
  -ms-transform: rotate(0.0deg);
}
#s-7733e952-c765-4ffe-bb0c-a4d1345cc749 #s-Rectangle_20 {
  -ms-transform: rotate(0.0deg);
}
#s-7733e952-c765-4ffe-bb0c-a4d1345cc749 #s-Text_14 {
  -ms-transform: rotate(0.0deg);
}
#s-7733e952-c765-4ffe-bb0c-a4d1345cc749 #s-Image_73 {
  -ms-transform: rotate(0.0deg);
}
#s-7733e952-c765-4ffe-bb0c-a4d1345cc749 #s-Image_74 {
  -ms-transform: rotate(0.0deg);
}
#s-7733e952-c765-4ffe-bb0c-a4d1345cc749 #s-Image_75 {
  -ms-transform: rotate(0.0deg);
}
#s-7733e952-c765-4ffe-bb0c-a4d1345cc749 #s-Image_76 {
  -ms-transform: rotate(0.0deg);
}
#s-7733e952-c765-4ffe-bb0c-a4d1345cc749 #s-Image_77 {
  -ms-transform: rotate(0.0deg);
}
#s-7733e952-c765-4ffe-bb0c-a4d1345cc749 #s-Image_78 {
  -ms-transform: rotate(0.0deg);
}
#s-7733e952-c765-4ffe-bb0c-a4d1345cc749 #s-Paragraph_10 {
  -ms-transform: rotate(0.0deg);
}
#s-7733e952-c765-4ffe-bb0c-a4d1345cc749 #s-Button_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 8px 8px 8px 8px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  width: 157px;
  height: 38px;
  -ms-transform: rotate(0.0deg);
}
#s-7733e952-c765-4ffe-bb0c-a4d1345cc749 #s-Image_79 {
  -ms-transform: rotate(0.0deg);
}
#s-7733e952-c765-4ffe-bb0c-a4d1345cc749 #s-Paragraph_11 {
  -ms-transform: rotate(0.0deg);
}
#s-7733e952-c765-4ffe-bb0c-a4d1345cc749 #s-Button_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 8px 8px 8px 8px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  width: 157px;
  height: 38px;
  -ms-transform: rotate(0.0deg);
}
#s-7733e952-c765-4ffe-bb0c-a4d1345cc749 #s-Image_80 {
  -ms-transform: rotate(0.0deg);
}
#s-7733e952-c765-4ffe-bb0c-a4d1345cc749 #s-Image_81 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: alpha(opacity=70);
}
#s-7733e952-c765-4ffe-bb0c-a4d1345cc749 #s-Rectangle_21 {
  border-top-width: 1px;
  border-top-style: dotted;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: dotted;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: dotted;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-7733e952-c765-4ffe-bb0c-a4d1345cc749 #s-Image_82 {
  -ms-transform: rotate(0.0deg);
}
#s-7733e952-c765-4ffe-bb0c-a4d1345cc749 #s-Rectangle_22 {
  border-top-width: 1px;
  border-top-style: dotted;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: dotted;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: dotted;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-7733e952-c765-4ffe-bb0c-a4d1345cc749 #s-Text_26 {
  -ms-transform: rotate(0.0deg);
}
#s-7733e952-c765-4ffe-bb0c-a4d1345cc749 #s-Text_27 {
  -ms-transform: rotate(0.0deg);
}
#s-7733e952-c765-4ffe-bb0c-a4d1345cc749 #s-Rectangle_23 {
  border-top-width: 1px;
  border-top-style: dotted;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: dotted;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: dotted;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-7733e952-c765-4ffe-bb0c-a4d1345cc749 #s-Image_83 {
  -ms-transform: rotate(0.0deg);
}
#s-7733e952-c765-4ffe-bb0c-a4d1345cc749 #s-Text_29 {
  -ms-transform: rotate(0.0deg);
}
#s-7733e952-c765-4ffe-bb0c-a4d1345cc749 #s-Text_30 {
  -ms-transform: rotate(180.0deg);
}
#s-7733e952-c765-4ffe-bb0c-a4d1345cc749 #s-Text_31 {
  -ms-transform: rotate(0.0deg);
}
#s-7733e952-c765-4ffe-bb0c-a4d1345cc749 #s-Text_32 {
  -ms-transform: rotate(180.0deg);
}
#s-7733e952-c765-4ffe-bb0c-a4d1345cc749 #s-Rectangle_24 {
  border-top-width: 1px;
  border-top-style: dotted;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: dotted;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: dotted;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-7733e952-c765-4ffe-bb0c-a4d1345cc749 #s-Text_33 {
  -ms-transform: rotate(0.0deg);
}
#s-7733e952-c765-4ffe-bb0c-a4d1345cc749 #s-Text_39 {
  -ms-transform: rotate(0.0deg);
}
#s-7733e952-c765-4ffe-bb0c-a4d1345cc749 #s-Text_40 {
  -ms-transform: rotate(180.0deg);
}
#s-7733e952-c765-4ffe-bb0c-a4d1345cc749 #s-Rectangle_25 {
  border-top-width: 1px;
  border-top-style: dotted;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: dotted;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: dotted;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-7733e952-c765-4ffe-bb0c-a4d1345cc749 #s-Text_41 {
  -ms-transform: rotate(0.0deg);
}
#s-7733e952-c765-4ffe-bb0c-a4d1345cc749 #s-Image_84 {
  -ms-transform: rotate(0.0deg);
}
#s-7733e952-c765-4ffe-bb0c-a4d1345cc749 #s-Image_85 {
  -ms-transform: rotate(180.0deg);
}
#s-7733e952-c765-4ffe-bb0c-a4d1345cc749 #s-Image_86 {
  -ms-transform: rotate(0.0deg);
}
#s-7733e952-c765-4ffe-bb0c-a4d1345cc749 #s-Image_67 {
  -ms-transform: rotate(0.0deg);
}
#s-7733e952-c765-4ffe-bb0c-a4d1345cc749 #s-Paragraph_2 {
  -ms-transform: rotate(0.0deg);
}
#s-7733e952-c765-4ffe-bb0c-a4d1345cc749 #s-Paragraph_3 {
  -ms-transform: rotate(0.0deg);
}
#s-7733e952-c765-4ffe-bb0c-a4d1345cc749 #s-Paragraph_5 {
  -ms-transform: rotate(0.0deg);
}
#s-7733e952-c765-4ffe-bb0c-a4d1345cc749 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-7733e952-c765-4ffe-bb0c-a4d1345cc749 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-7733e952-c765-4ffe-bb0c-a4d1345cc749 #s-Paragraph_6 {
  -ms-transform: rotate(0.0deg);
}
#s-7733e952-c765-4ffe-bb0c-a4d1345cc749 #s-Image_68 {
  -ms-transform: rotate(0.0deg);
}
#s-7733e952-c765-4ffe-bb0c-a4d1345cc749 #s-Image_72 {
  -ms-transform: rotate(0.0deg);
}
#s-7733e952-c765-4ffe-bb0c-a4d1345cc749 #s-Image_87 {
  -ms-transform: rotate(0.0deg);
}
#s-7733e952-c765-4ffe-bb0c-a4d1345cc749 #s-Paragraph_12 {
  -ms-transform: rotate(0.0deg);
}
#s-7733e952-c765-4ffe-bb0c-a4d1345cc749 #s-Rectangle_7 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=87);
  filter: alpha(opacity=87);
  -ms-transform: rotate(0.0deg);
}
#s-7733e952-c765-4ffe-bb0c-a4d1345cc749 #s-Paragraph_44 {
  -ms-transform: rotate(0.0deg);
}
#s-7733e952-c765-4ffe-bb0c-a4d1345cc749 #s-Image_88 {
  -ms-transform: rotate(0.0deg);
}
#s-7733e952-c765-4ffe-bb0c-a4d1345cc749 #s-Image_89 {
  -ms-transform: rotate(0.0deg);
}
#s-7733e952-c765-4ffe-bb0c-a4d1345cc749 #s-Image_90 {
  -ms-transform: rotate(0.0deg);
}
#s-7733e952-c765-4ffe-bb0c-a4d1345cc749 #s-Paragraph_13 {
  -ms-transform: rotate(0.0deg);
}
#s-7733e952-c765-4ffe-bb0c-a4d1345cc749 #s-Button_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 8px 8px 8px 8px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  width: 157px;
  height: 38px;
  -ms-transform: rotate(0.0deg);
}
#s-7733e952-c765-4ffe-bb0c-a4d1345cc749 #s-Image_91 {
  -ms-transform: rotate(0.0deg);
}
#s-7733e952-c765-4ffe-bb0c-a4d1345cc749 #s-Image_92 {
  -ms-transform: rotate(0.0deg);
}
#s-7733e952-c765-4ffe-bb0c-a4d1345cc749 #s-Image_93 {
  -ms-transform: rotate(0.0deg);
}
#s-7733e952-c765-4ffe-bb0c-a4d1345cc749 #s-Image_94 {
  -ms-transform: rotate(0.0deg);
}
#s-7733e952-c765-4ffe-bb0c-a4d1345cc749 #s-Paragraph_14 {
  -ms-transform: rotate(0.0deg);
}
#s-7733e952-c765-4ffe-bb0c-a4d1345cc749 #s-Button_4 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 8px 8px 8px 8px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  width: 157px;
  height: 38px;
  -ms-transform: rotate(0.0deg);
}
#s-7733e952-c765-4ffe-bb0c-a4d1345cc749 #s-Image_95 {
  -ms-transform: rotate(0.0deg);
}
#s-7733e952-c765-4ffe-bb0c-a4d1345cc749 #s-close-white {
  -ms-transform: rotate(0.0deg);
}
#s-7733e952-c765-4ffe-bb0c-a4d1345cc749 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}