#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Rectangle_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60) ;
  filter: alpha(opacity=60) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Paragraph_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Paragraph_39 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Paragraph_41 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Image_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70) ;
  filter: alpha(opacity=70) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Paragraph_47 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Button_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70) ;
  filter: alpha(opacity=70) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Paragraph_48 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Paragraph_49 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Button_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Paragraph_50 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Paragraph_51 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Button_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Paragraph_52 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Paragraph_53 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Text_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Text_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Text_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Line_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Text_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Line_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Button_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Paragraph_54 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Paragraph_55 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Paragraph_56 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Text_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Paragraph_57 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Button_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Paragraph_58 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Button_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Paragraph_59 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Image_6 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=69) ;
  filter: alpha(opacity=69) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Paragraph_60 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Button_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Paragraph_61 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Image_7 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70) ;
  filter: alpha(opacity=70) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Paragraph_62 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Button_26 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70) ;
  filter: alpha(opacity=70) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Paragraph_64 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Line_7 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Button_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Paragraph_65 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Button_28 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=69) ;
  filter: alpha(opacity=69) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Paragraph_66 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Line_8 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Button_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Paragraph_67 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Text_56 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Text_57 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Image_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Image_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Image_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Image_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Image_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Image_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Paragraph_68 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Button_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Image_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Paragraph_69 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Button_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Image_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Image_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Text_60 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Text_67 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Rectangle_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Image_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Text_70 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Text_82 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-1.0,M12=-1.2246467991473532E-16,M21=1.2246467991473532E-16,M22=-1.0);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-1.0,M12=-1.2246467991473532E-16,M21=1.2246467991473532E-16,M22=-1.0);
  margin-left: -1px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Text_83 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Text_84 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-1.0,M12=-1.2246467991473532E-16,M21=1.2246467991473532E-16,M22=-1.0);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-1.0,M12=-1.2246467991473532E-16,M21=1.2246467991473532E-16,M22=-1.0);
  margin-left: -1px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Rectangle_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Text_85 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Text_106 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Text_107 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-1.0,M12=-1.2246467991473532E-16,M21=1.2246467991473532E-16,M22=-1.0);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-1.0,M12=-1.2246467991473532E-16,M21=1.2246467991473532E-16,M22=-1.0);
  margin-left: -1px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Rectangle_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Text_108 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Line_28 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Image_48 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Button_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Paragraph_75 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Text_116 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Text_117 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Text_118 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Button_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Paragraph_76 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Paragraph_77 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Button_34 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Paragraph_78 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Text_120 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Text_121 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Text_122 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Text_123 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Text_124 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Text_125 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Paragraph_79 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Text_126 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Line_29 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Line_30 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Text_127 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Text_128 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Text_129 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Text_130 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Paragraph_80 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Text_131 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Text_132 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Text_133 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Line_31 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Text_135 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Line_32 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Text_136 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Text_137 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Paragraph_81 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Text_138 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Text_139 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Text_140 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Line_33 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Text_142 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Line_34 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Text_143 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Text_144 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Paragraph_82 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Text_145 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Text_146 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Text_147 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Text_149 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Text_150 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Text_151 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Image_69 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Image_67 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Paragraph_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Paragraph_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Paragraph_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Text_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Text_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Paragraph_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Image_68 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Image_72 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Image_87 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Paragraph_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Image_85 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=6.123233995736766E-17,M12=-1.0,M21=1.0,M22=6.123233995736766E-17);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=6.123233995736766E-17,M12=-1.0,M21=1.0,M22=6.123233995736766E-17);
  margin-left: -14px;
  margin-top: 13px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Image_8 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=6.123233995736766E-17,M12=-1.0,M21=1.0,M22=6.123233995736766E-17);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=6.123233995736766E-17,M12=-1.0,M21=1.0,M22=6.123233995736766E-17);
  margin-left: -14px;
  margin-top: 13px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Image_9 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=6.123233995736766E-17,M12=-1.0,M21=1.0,M22=6.123233995736766E-17);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=6.123233995736766E-17,M12=-1.0,M21=1.0,M22=6.123233995736766E-17);
  margin-left: -14px;
  margin-top: 13px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Paragraph_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Paragraph_70 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Text_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Text_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Text_152 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Text_153 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Text_154 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Text_155 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Paragraph_63 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Paragraph_71 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Image_10 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=6.123233995736766E-17,M12=-1.0,M21=1.0,M22=6.123233995736766E-17);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=6.123233995736766E-17,M12=-1.0,M21=1.0,M22=6.123233995736766E-17);
  margin-left: -14px;
  margin-top: 13px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Image_13 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=6.123233995736766E-17,M12=-1.0,M21=1.0,M22=6.123233995736766E-17);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=6.123233995736766E-17,M12=-1.0,M21=1.0,M22=6.123233995736766E-17);
  margin-left: -14px;
  margin-top: 13px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Image_14 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=6.123233995736766E-17,M12=-1.0,M21=1.0,M22=6.123233995736766E-17);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=6.123233995736766E-17,M12=-1.0,M21=1.0,M22=6.123233995736766E-17);
  margin-left: -14px;
  margin-top: 13px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Line_35 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Line_36 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Rectangle_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Rectangle_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Rectangle_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Rectangle_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Rectangle_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Text_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Text_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Line_5 {
  rotation: 89.0;
  margin-left: 14px;
  margin-top: -16px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Line_6 {
  rotation: 89.0;
  margin-left: 14px;
  margin-top: -16px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Line_9 {
  rotation: 89.0;
  margin-left: 14px;
  margin-top: -16px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Line_10 {
  rotation: 89.0;
  margin-left: 14px;
  margin-top: -16px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Line_11 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Line_12 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Line_13 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Line_14 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Text_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Line_15 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Line_16 {
  rotation: 89.0;
  margin-left: 14px;
  margin-top: -16px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Line_17 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Rectangle_10 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=87) ;
  filter: alpha(opacity=87) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Paragraph_44 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Image_88 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Image_89 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Image_90 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Paragraph_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Button_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Image_91 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Image_84 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Image_86 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Image_92 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Paragraph_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Button_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-Image_93 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d #s-close-white {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80407402-ab0e-42d1-a297-cafa15c6911d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}