#s-81a659f3-8469-4f66-92b5-08786d33dfd5 #s-Rectangle_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  filter: alpha(opacity=40);
  -ms-transform: rotate(0.0deg);
}
#s-81a659f3-8469-4f66-92b5-08786d33dfd5 #s-Paragraph_2 {
  -ms-transform: rotate(0.0deg);
}
#s-81a659f3-8469-4f66-92b5-08786d33dfd5 #s-Paragraph_3 {
  -ms-transform: rotate(0.0deg);
}
#s-81a659f3-8469-4f66-92b5-08786d33dfd5 #s-Rectangle_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  border-radius: 14px 14px 14px 14px;
  -ms-transform: rotate(0.0deg);
}
#s-81a659f3-8469-4f66-92b5-08786d33dfd5 #s-Rectangle_17 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  border-radius: 4px 4px 4px 4px;
  -ms-transform: rotate(0.0deg);
}
#s-81a659f3-8469-4f66-92b5-08786d33dfd5 #s-Rectangle_11 {
  -ms-transform: rotate(0.0deg);
}
#s-81a659f3-8469-4f66-92b5-08786d33dfd5 #s-Rectangle_12 {
  -ms-transform: rotate(0.0deg);
}
#s-81a659f3-8469-4f66-92b5-08786d33dfd5 #s-Rectangle_13 {
  -ms-transform: rotate(0.0deg);
}
#s-81a659f3-8469-4f66-92b5-08786d33dfd5 #s-Rectangle_14 {
  -ms-transform: rotate(0.0deg);
}
#s-81a659f3-8469-4f66-92b5-08786d33dfd5 #s-Rectangle_15 {
  -ms-transform: rotate(0.0deg);
}
#s-81a659f3-8469-4f66-92b5-08786d33dfd5 #s-Rectangle_16 {
  -ms-transform: rotate(0.0deg);
}
#s-81a659f3-8469-4f66-92b5-08786d33dfd5 #s-Rectangle_18 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  border-radius: 5px 5px 5px 5px;
  -ms-transform: rotate(0.0deg);
}
#s-81a659f3-8469-4f66-92b5-08786d33dfd5 #s-Rectangle_19 {
  -ms-transform: rotate(0.0deg);
}
#s-81a659f3-8469-4f66-92b5-08786d33dfd5 #s-Rectangle_20 {
  -ms-transform: rotate(0.0deg);
}
#s-81a659f3-8469-4f66-92b5-08786d33dfd5 #s-Rectangle_21 {
  -ms-transform: rotate(0.0deg);
}
#s-81a659f3-8469-4f66-92b5-08786d33dfd5 #s-Rectangle_22 {
  -ms-transform: rotate(0.0deg);
}
#s-81a659f3-8469-4f66-92b5-08786d33dfd5 #s-Rectangle_23 {
  -ms-transform: rotate(0.0deg);
}
#s-81a659f3-8469-4f66-92b5-08786d33dfd5 #s-Rectangle_24 {
  -ms-transform: rotate(0.0deg);
}
#s-81a659f3-8469-4f66-92b5-08786d33dfd5 #s-Rectangle_25 {
  -ms-transform: rotate(0.0deg);
}
#s-81a659f3-8469-4f66-92b5-08786d33dfd5 #s-Rectangle_26 {
  -ms-transform: rotate(0.0deg);
}
#s-81a659f3-8469-4f66-92b5-08786d33dfd5 #s-Rectangle_27 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-81a659f3-8469-4f66-92b5-08786d33dfd5 #s-Rectangle_5 {
  -ms-transform: rotate(0.0deg);
}
#s-81a659f3-8469-4f66-92b5-08786d33dfd5 #s-Rectangle_28 {
  -ms-transform: rotate(0.0deg);
}
#s-81a659f3-8469-4f66-92b5-08786d33dfd5 #s-Rectangle_29 {
  -ms-transform: rotate(0.0deg);
}
#s-81a659f3-8469-4f66-92b5-08786d33dfd5 #s-Rectangle_31 {
  -ms-transform: rotate(0.0deg);
}
#s-81a659f3-8469-4f66-92b5-08786d33dfd5 #s-Rectangle_32 {
  -ms-transform: rotate(0.0deg);
}
#s-81a659f3-8469-4f66-92b5-08786d33dfd5 #s-Rectangle_34 {
  -ms-transform: rotate(0.0deg);
}
#s-81a659f3-8469-4f66-92b5-08786d33dfd5 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-81a659f3-8469-4f66-92b5-08786d33dfd5 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-81a659f3-8469-4f66-92b5-08786d33dfd5 #s-Button_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 196px;
  height: 23px;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-81a659f3-8469-4f66-92b5-08786d33dfd5 #s-Category_1-options {
  background-color: #FFFFFF;
}
#s-81a659f3-8469-4f66-92b5-08786d33dfd5 #s-Rectangle_35 {
  -ms-transform: rotate(0.0deg);
}
#s-81a659f3-8469-4f66-92b5-08786d33dfd5 #s-Rectangle_33 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  border-radius: 1px 1px 1px 1px;
  -ms-transform: rotate(0.0deg);
}
#s-81a659f3-8469-4f66-92b5-08786d33dfd5 #s-Rectangle_30 {
  -ms-transform: rotate(0.0deg);
}
#s-81a659f3-8469-4f66-92b5-08786d33dfd5 #s-Rectangle_36 {
  -ms-transform: rotate(0.0deg);
}
#s-81a659f3-8469-4f66-92b5-08786d33dfd5 #s-Rectangle_37 {
  -ms-transform: rotate(0.0deg);
}
#s-81a659f3-8469-4f66-92b5-08786d33dfd5 #s-Category_2-options {
  background-color: #FFFFFF;
}
#s-81a659f3-8469-4f66-92b5-08786d33dfd5 #s-Category_3-options {
  background-color: #FFFFFF;
}
#s-81a659f3-8469-4f66-92b5-08786d33dfd5 #s-Category_4-options {
  background-color: #FFFFFF;
}
#s-81a659f3-8469-4f66-92b5-08786d33dfd5 #s-Rectangle_38 {
  -ms-transform: rotate(0.0deg);
}
#s-81a659f3-8469-4f66-92b5-08786d33dfd5 #s-Line_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-81a659f3-8469-4f66-92b5-08786d33dfd5 #s-Line_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-81a659f3-8469-4f66-92b5-08786d33dfd5 #s-Category_5-options {
  background-color: #FFFFFF;
}
#s-81a659f3-8469-4f66-92b5-08786d33dfd5 #s-Category_6-options {
  background-color: #FFFFFF;
}
#s-81a659f3-8469-4f66-92b5-08786d33dfd5 #s-Rectangle_6 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  border-radius: 14px 14px 14px 14px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=97);
  filter: alpha(opacity=97);
  -ms-transform: rotate(0.0deg);
}
#s-81a659f3-8469-4f66-92b5-08786d33dfd5 #s-Text_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
  filter: alpha(opacity=99);
  -ms-transform: rotate(0.0deg);
}
#s-81a659f3-8469-4f66-92b5-08786d33dfd5 #s-Text_4 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
  filter: alpha(opacity=99);
  -ms-transform: rotate(0.0deg);
}
#s-81a659f3-8469-4f66-92b5-08786d33dfd5 #s-Line_2 {
  border-top-width: 8px;
  border-top-style: solid;
  border-top-color: #F28B00;
  -ms-transform: rotate(0.0deg);
}
#s-81a659f3-8469-4f66-92b5-08786d33dfd5 #s-Line_2 {
  border-top-width: 8px;
  border-top-style: solid;
  border-top-color: #F28B00;
  -ms-transform: rotate(0.0deg);
}
#s-81a659f3-8469-4f66-92b5-08786d33dfd5 #s-Paragraph_5 {
  -ms-transform: rotate(0.0deg);
}
#s-81a659f3-8469-4f66-92b5-08786d33dfd5 #s-Image_67 {
  -ms-transform: rotate(0.0deg);
}
#s-81a659f3-8469-4f66-92b5-08786d33dfd5 #s-Paragraph_4 {
  -ms-transform: rotate(0.0deg);
}
#s-81a659f3-8469-4f66-92b5-08786d33dfd5 #s-Paragraph_6 {
  -ms-transform: rotate(0.0deg);
}
#s-81a659f3-8469-4f66-92b5-08786d33dfd5 #s-Paragraph_7 {
  -ms-transform: rotate(0.0deg);
}
#s-81a659f3-8469-4f66-92b5-08786d33dfd5 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-81a659f3-8469-4f66-92b5-08786d33dfd5 #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-81a659f3-8469-4f66-92b5-08786d33dfd5 #s-Paragraph_8 {
  -ms-transform: rotate(0.0deg);
}
#s-81a659f3-8469-4f66-92b5-08786d33dfd5 #s-Image_68 {
  -ms-transform: rotate(0.0deg);
}
#s-81a659f3-8469-4f66-92b5-08786d33dfd5 #s-Image_72 {
  -ms-transform: rotate(0.0deg);
}
#s-81a659f3-8469-4f66-92b5-08786d33dfd5 #s-Image_87 {
  -ms-transform: rotate(0.0deg);
}
#s-81a659f3-8469-4f66-92b5-08786d33dfd5 #s-Paragraph_12 {
  -ms-transform: rotate(0.0deg);
}
#s-81a659f3-8469-4f66-92b5-08786d33dfd5 #s-Image_69 {
  -ms-transform: rotate(0.0deg);
}
#s-81a659f3-8469-4f66-92b5-08786d33dfd5 #s-Rectangle_7 {
  -ms-transform: rotate(0.0deg);
}
#s-81a659f3-8469-4f66-92b5-08786d33dfd5 #s-Rectangle_8 {
  -ms-transform: rotate(0.0deg);
}
#s-81a659f3-8469-4f66-92b5-08786d33dfd5 #s-Rectangle_39 {
  -ms-transform: rotate(0.0deg);
}
#s-81a659f3-8469-4f66-92b5-08786d33dfd5 #s-Rectangle_40 {
  -ms-transform: rotate(0.0deg);
}
#s-81a659f3-8469-4f66-92b5-08786d33dfd5 #s-Rectangle_41 {
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #009FE3;
  -ms-transform: rotate(0.0deg);
}
#s-81a659f3-8469-4f66-92b5-08786d33dfd5 #s-Rectangle_42 {
  -ms-transform: rotate(0.0deg);
}
#s-81a659f3-8469-4f66-92b5-08786d33dfd5 #s-Image_86 {
  -ms-transform: rotate(0.0deg);
}
#s-81a659f3-8469-4f66-92b5-08786d33dfd5 #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-81a659f3-8469-4f66-92b5-08786d33dfd5 #s-Text_12 {
  -ms-transform: rotate(0.0deg);
}
#s-81a659f3-8469-4f66-92b5-08786d33dfd5 #s-Text_13 {
  -ms-transform: rotate(0.0deg);
}
#s-81a659f3-8469-4f66-92b5-08786d33dfd5 #s-Text_14 {
  -ms-transform: rotate(0.0deg);
}
#s-81a659f3-8469-4f66-92b5-08786d33dfd5 #s-Line_5 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #757873;
  -ms-transform: rotate(89.0deg);
}
#s-81a659f3-8469-4f66-92b5-08786d33dfd5 #s-Line_5 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #757873;
  -ms-transform: rotate(89.0deg);
}
#s-81a659f3-8469-4f66-92b5-08786d33dfd5 #s-Line_6 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #757873;
  -ms-transform: rotate(89.0deg);
}
#s-81a659f3-8469-4f66-92b5-08786d33dfd5 #s-Line_6 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #757873;
  -ms-transform: rotate(89.0deg);
}
#s-81a659f3-8469-4f66-92b5-08786d33dfd5 #s-Line_7 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #757873;
  -ms-transform: rotate(89.0deg);
}
#s-81a659f3-8469-4f66-92b5-08786d33dfd5 #s-Line_7 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #757873;
  -ms-transform: rotate(89.0deg);
}
#s-81a659f3-8469-4f66-92b5-08786d33dfd5 #s-Line_8 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #757873;
  -ms-transform: rotate(89.0deg);
}
#s-81a659f3-8469-4f66-92b5-08786d33dfd5 #s-Line_8 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #757873;
  -ms-transform: rotate(89.0deg);
}
#s-81a659f3-8469-4f66-92b5-08786d33dfd5 #s-Line_10 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-81a659f3-8469-4f66-92b5-08786d33dfd5 #s-Line_10 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-81a659f3-8469-4f66-92b5-08786d33dfd5 #s-Line_11 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-81a659f3-8469-4f66-92b5-08786d33dfd5 #s-Line_11 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-81a659f3-8469-4f66-92b5-08786d33dfd5 #s-Line_12 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #009FE3;
  -ms-transform: rotate(0.0deg);
}
#s-81a659f3-8469-4f66-92b5-08786d33dfd5 #s-Line_12 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #009FE3;
  -ms-transform: rotate(0.0deg);
}
#s-81a659f3-8469-4f66-92b5-08786d33dfd5 #s-Line_13 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-81a659f3-8469-4f66-92b5-08786d33dfd5 #s-Line_13 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-81a659f3-8469-4f66-92b5-08786d33dfd5 #s-Text_15 {
  -ms-transform: rotate(0.0deg);
}
#s-81a659f3-8469-4f66-92b5-08786d33dfd5 #s-Line_14 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-81a659f3-8469-4f66-92b5-08786d33dfd5 #s-Line_14 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-81a659f3-8469-4f66-92b5-08786d33dfd5 #s-Line_15 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #757873;
  -ms-transform: rotate(89.0deg);
}
#s-81a659f3-8469-4f66-92b5-08786d33dfd5 #s-Line_15 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #757873;
  -ms-transform: rotate(89.0deg);
}
#s-81a659f3-8469-4f66-92b5-08786d33dfd5 #s-Text_16 {
  -ms-transform: rotate(0.0deg);
}
#s-81a659f3-8469-4f66-92b5-08786d33dfd5 #s-Line_17 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-81a659f3-8469-4f66-92b5-08786d33dfd5 #s-Line_17 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-81a659f3-8469-4f66-92b5-08786d33dfd5 #s-Rectangle_9 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=87);
  filter: alpha(opacity=87);
  -ms-transform: rotate(0.0deg);
}
#s-81a659f3-8469-4f66-92b5-08786d33dfd5 #s-Paragraph_44 {
  -ms-transform: rotate(0.0deg);
}
#s-81a659f3-8469-4f66-92b5-08786d33dfd5 #s-Image_88 {
  -ms-transform: rotate(0.0deg);
}
#s-81a659f3-8469-4f66-92b5-08786d33dfd5 #s-Image_89 {
  -ms-transform: rotate(0.0deg);
}
#s-81a659f3-8469-4f66-92b5-08786d33dfd5 #s-Image_90 {
  -ms-transform: rotate(0.0deg);
}
#s-81a659f3-8469-4f66-92b5-08786d33dfd5 #s-Paragraph_13 {
  -ms-transform: rotate(0.0deg);
}
#s-81a659f3-8469-4f66-92b5-08786d33dfd5 #s-Button_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 8px 8px 8px 8px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  width: 157px;
  height: 38px;
  -ms-transform: rotate(0.0deg);
}
#s-81a659f3-8469-4f66-92b5-08786d33dfd5 #s-Image_91 {
  -ms-transform: rotate(0.0deg);
}
#s-81a659f3-8469-4f66-92b5-08786d33dfd5 #s-Image_84 {
  -ms-transform: rotate(0.0deg);
}
#s-81a659f3-8469-4f66-92b5-08786d33dfd5 #s-Image_85 {
  -ms-transform: rotate(0.0deg);
}
#s-81a659f3-8469-4f66-92b5-08786d33dfd5 #s-Image_92 {
  -ms-transform: rotate(0.0deg);
}
#s-81a659f3-8469-4f66-92b5-08786d33dfd5 #s-Paragraph_14 {
  -ms-transform: rotate(0.0deg);
}
#s-81a659f3-8469-4f66-92b5-08786d33dfd5 #s-Button_4 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 8px 8px 8px 8px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  width: 157px;
  height: 38px;
  -ms-transform: rotate(0.0deg);
}
#s-81a659f3-8469-4f66-92b5-08786d33dfd5 #s-Image_93 {
  -ms-transform: rotate(0.0deg);
}
#s-81a659f3-8469-4f66-92b5-08786d33dfd5 #s-close-white {
  -ms-transform: rotate(0.0deg);
}
#s-81a659f3-8469-4f66-92b5-08786d33dfd5 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}