#s-899d8d61-a910-445a-81eb-b32e3c6c61cc #s-Rectangle_7 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=87) ;
  filter: alpha(opacity=87) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-899d8d61-a910-445a-81eb-b32e3c6c61cc #s-Paragraph_44 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-899d8d61-a910-445a-81eb-b32e3c6c61cc #s-Image_88 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-899d8d61-a910-445a-81eb-b32e3c6c61cc #s-Image_89 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-899d8d61-a910-445a-81eb-b32e3c6c61cc #s-Image_90 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-899d8d61-a910-445a-81eb-b32e3c6c61cc #s-Paragraph_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-899d8d61-a910-445a-81eb-b32e3c6c61cc #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-899d8d61-a910-445a-81eb-b32e3c6c61cc #s-Image_91 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-899d8d61-a910-445a-81eb-b32e3c6c61cc #s-Image_84 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-899d8d61-a910-445a-81eb-b32e3c6c61cc #s-Image_85 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-899d8d61-a910-445a-81eb-b32e3c6c61cc #s-Image_86 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-899d8d61-a910-445a-81eb-b32e3c6c61cc #s-Paragraph_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-899d8d61-a910-445a-81eb-b32e3c6c61cc #s-Button_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-899d8d61-a910-445a-81eb-b32e3c6c61cc #s-Image_92 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-899d8d61-a910-445a-81eb-b32e3c6c61cc #s-close-white {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-899d8d61-a910-445a-81eb-b32e3c6c61cc > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}