#s-899d8d61-a910-445a-81eb-b32e3c6c61cc > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-899d8d61-a910-445a-81eb-b32e3c6c61cc > #alignmentBox {
  position: relative;
  margin: 0 auto;
  width: 1366px;
  min-width: 1366px;
  min-height: 768px;
}
#s-899d8d61-a910-445a-81eb-b32e3c6c61cc #s-Rectangle_7 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1366px;
  height: 2052px;
  background-color: #999999;
  background-image: none;
  opacity: 0.87;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-899d8d61-a910-445a-81eb-b32e3c6c61cc #s-Rectangle_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-899d8d61-a910-445a-81eb-b32e3c6c61cc #s-Rectangle_7 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-899d8d61-a910-445a-81eb-b32e3c6c61cc #s-Rectangle_7 span#rtr-s-Rectangle_7_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-899d8d61-a910-445a-81eb-b32e3c6c61cc #s-Paragraph_44 {
  position: absolute;
  top: 87px;
  left: 268px;
  width: 794px;
  height: 111px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 68px;
  font-size: 36.0pt;
  font-family: Gotham Medium,Arial;
}
#s-899d8d61-a910-445a-81eb-b32e3c6c61cc #s-Paragraph_44 .valign {
  vertical-align: top;
  text-align: center;
}
#s-899d8d61-a910-445a-81eb-b32e3c6c61cc #s-Paragraph_44 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Gotham Medium,Arial;
  font-size: 36.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-899d8d61-a910-445a-81eb-b32e3c6c61cc #s-Paragraph_44 span#rtr-s-Paragraph_44_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Gotham Medium,Arial;
  font-size: 36.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-899d8d61-a910-445a-81eb-b32e3c6c61cc #s-Image_88 {
  position: absolute;
  top: 237px;
  left: 734px;
  width: 399px;
  height: 397px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-899d8d61-a910-445a-81eb-b32e3c6c61cc #s-Image_89 {
  position: absolute;
  top: 231px;
  left: 751px;
  width: 399px;
  height: 397px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  cursor: pointer;
}
#s-899d8d61-a910-445a-81eb-b32e3c6c61cc #s-Image_90 {
  position: absolute;
  top: 312px;
  left: 833px;
  width: 217px;
  height: 198px;
  border-top-width: 1px;
  border-top-style: dotted;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: dotted;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: dotted;
  border-left-color: #000000;
  border-radius: 100px 100px 100px 100px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-899d8d61-a910-445a-81eb-b32e3c6c61cc #s-Paragraph_13 {
  position: absolute;
  top: 248px;
  left: 762px;
  width: 210px;
  height: 40px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 49px;
  font-size: 26.0pt;
  font-family: Gotham Medium,Arial;
}
#s-899d8d61-a910-445a-81eb-b32e3c6c61cc #s-Paragraph_13 .valign {
  vertical-align: top;
  text-align: center;
}
#s-899d8d61-a910-445a-81eb-b32e3c6c61cc #s-Paragraph_13 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Gotham Medium,Arial;
  font-size: 26.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-899d8d61-a910-445a-81eb-b32e3c6c61cc #s-Paragraph_13 span#rtr-s-Paragraph_13_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Gotham Medium,Arial;
  font-size: 26.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-899d8d61-a910-445a-81eb-b32e3c6c61cc #s-Button_3 {
  position: absolute;
  top: 537px;
  left: 864px;
  width: 157px;
  height: 38px;
  background-color: #2CA4D9;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 8px 8px 8px 8px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 1px 1px 2px 0px #F3F3F3;
  text-shadow: none;
  cursor: pointer;
  font-size: 16.0pt;
  font-family: Gotham Bold,Arial;
}
#s-899d8d61-a910-445a-81eb-b32e3c6c61cc #s-Button_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-899d8d61-a910-445a-81eb-b32e3c6c61cc #s-Button_3 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Gotham Bold,Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-899d8d61-a910-445a-81eb-b32e3c6c61cc #s-Button_3 span#rtr-s-Button_3_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Gotham Bold,Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-899d8d61-a910-445a-81eb-b32e3c6c61cc #s-Image_91 {
  position: absolute;
  top: 551px;
  left: 1005px;
  width: 11px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-899d8d61-a910-445a-81eb-b32e3c6c61cc #s-Group_1 {
  position: absolute;
  top: 231px;
  left: 210px;
  width: 417px;
  height: 403px;
}
#s-899d8d61-a910-445a-81eb-b32e3c6c61cc #s-Image_84 {
  position: absolute;
  top: 6px;
  left: 0px;
  width: 399px;
  height: 397px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-899d8d61-a910-445a-81eb-b32e3c6c61cc #s-Image_85 {
  position: absolute;
  top: 0px;
  left: 18px;
  width: 399px;
  height: 397px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  cursor: pointer;
}
#s-899d8d61-a910-445a-81eb-b32e3c6c61cc #s-Image_86 {
  position: absolute;
  top: 81px;
  left: 91px;
  width: 217px;
  height: 198px;
  border-top-width: 1px;
  border-top-style: dotted;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: dotted;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: dotted;
  border-left-color: #000000;
  border-radius: 100px 100px 100px 100px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-899d8d61-a910-445a-81eb-b32e3c6c61cc #s-Paragraph_14 {
  position: absolute;
  top: 17px;
  left: 24px;
  width: 210px;
  height: 40px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 49px;
  font-size: 26.0pt;
  font-family: Gotham Medium,Arial;
}
#s-899d8d61-a910-445a-81eb-b32e3c6c61cc #s-Paragraph_14 .valign {
  vertical-align: top;
  text-align: center;
}
#s-899d8d61-a910-445a-81eb-b32e3c6c61cc #s-Paragraph_14 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Gotham Medium,Arial;
  font-size: 26.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-899d8d61-a910-445a-81eb-b32e3c6c61cc #s-Paragraph_14 span#rtr-s-Paragraph_14_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Gotham Medium,Arial;
  font-size: 26.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-899d8d61-a910-445a-81eb-b32e3c6c61cc #s-Button_4 {
  position: absolute;
  top: 306px;
  left: 133px;
  width: 157px;
  height: 38px;
  background-color: #F18A00;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 8px 8px 8px 8px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 1px 1px 2px 0px #F3F3F3;
  text-shadow: none;
  cursor: pointer;
  font-size: 16.0pt;
  font-family: Gotham Bold,Arial;
}
#s-899d8d61-a910-445a-81eb-b32e3c6c61cc #s-Button_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-899d8d61-a910-445a-81eb-b32e3c6c61cc #s-Button_4 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Gotham Bold,Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-899d8d61-a910-445a-81eb-b32e3c6c61cc #s-Button_4 span#rtr-s-Button_4_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Gotham Bold,Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-899d8d61-a910-445a-81eb-b32e3c6c61cc #s-Image_92 {
  position: absolute;
  top: 320px;
  left: 274px;
  width: 11px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-899d8d61-a910-445a-81eb-b32e3c6c61cc #s-close-white {
  position: absolute;
  top: 67px;
  left: 1006px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 20.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-899d8d61-a910-445a-81eb-b32e3c6c61cc #s-close-white .valign {
  vertical-align: middle;
  text-align: left;
}
#s-899d8d61-a910-445a-81eb-b32e3c6c61cc #s-close-white span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-899d8d61-a910-445a-81eb-b32e3c6c61cc #s-close-white span#rtr-s-close-white_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-899d8d61-a910-445a-81eb-b32e3c6c61cc > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}