#s-91e728df-7244-49ca-8029-656564e22a78 #s-Rectangle_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=58);
  filter: alpha(opacity=58);
  -ms-transform: rotate(0.0deg);
}
#s-91e728df-7244-49ca-8029-656564e22a78 #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=58);
  filter: alpha(opacity=58);
  -ms-transform: rotate(0.0deg);
}
#s-91e728df-7244-49ca-8029-656564e22a78 #s-Rectangle_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=58);
  filter: alpha(opacity=58);
  -ms-transform: rotate(0.0deg);
}
#s-91e728df-7244-49ca-8029-656564e22a78 #s-Rectangle_4 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=58);
  filter: alpha(opacity=58);
  -ms-transform: rotate(0.0deg);
}
#s-91e728df-7244-49ca-8029-656564e22a78 #s-Rectangle_5 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=58);
  filter: alpha(opacity=58);
  -ms-transform: rotate(0.0deg);
}
#s-91e728df-7244-49ca-8029-656564e22a78 #s-Rectangle_6 {
  -ms-transform: rotate(0.0deg);
}
#s-91e728df-7244-49ca-8029-656564e22a78 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-91e728df-7244-49ca-8029-656564e22a78 #s-Line_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-91e728df-7244-49ca-8029-656564e22a78 #s-Line_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-91e728df-7244-49ca-8029-656564e22a78 #s-Text_39 {
  -ms-transform: rotate(0.0deg);
}
#s-91e728df-7244-49ca-8029-656564e22a78 #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#s-91e728df-7244-49ca-8029-656564e22a78 #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-91e728df-7244-49ca-8029-656564e22a78 #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#s-91e728df-7244-49ca-8029-656564e22a78 #s-Rectangle_7 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #CEDF00;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #CEDF00;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #CEDF00;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #CEDF00;
  border-radius: 7px 7px 7px 7px;
  -ms-transform: rotate(0.0deg);
}
#s-91e728df-7244-49ca-8029-656564e22a78 #s-Text_40 {
  -ms-transform: rotate(0.0deg);
}
#s-91e728df-7244-49ca-8029-656564e22a78 #s-Line_17 {
  border-top-width: 1px;
  border-top-style: dotted;
  border-top-color: #599EE1;
  -ms-transform: rotate(0.0deg);
}
#s-91e728df-7244-49ca-8029-656564e22a78 #s-Line_17 {
  border-top-width: 1px;
  border-top-style: dotted;
  border-top-color: #599EE1;
  -ms-transform: rotate(0.0deg);
}
#s-91e728df-7244-49ca-8029-656564e22a78 #s-Text_42 {
  -ms-transform: rotate(0.0deg);
}
#s-91e728df-7244-49ca-8029-656564e22a78 #s-Text_43 {
  -ms-transform: rotate(0.0deg);
}
#s-91e728df-7244-49ca-8029-656564e22a78 #s-Text_44 {
  -ms-transform: rotate(0.0deg);
}
#s-91e728df-7244-49ca-8029-656564e22a78 #s-Text_45 {
  -ms-transform: rotate(0.0deg);
}
#s-91e728df-7244-49ca-8029-656564e22a78 #s-Text_46 {
  -ms-transform: rotate(0.0deg);
}
#s-91e728df-7244-49ca-8029-656564e22a78 #s-Line_18 {
  border-top-width: 1px;
  border-top-style: dotted;
  border-top-color: #599EE1;
  -ms-transform: rotate(0.0deg);
}
#s-91e728df-7244-49ca-8029-656564e22a78 #s-Line_18 {
  border-top-width: 1px;
  border-top-style: dotted;
  border-top-color: #599EE1;
  -ms-transform: rotate(0.0deg);
}
#s-91e728df-7244-49ca-8029-656564e22a78 #s-Text_47 {
  -ms-transform: rotate(0.0deg);
}
#s-91e728df-7244-49ca-8029-656564e22a78 #s-Text_48 {
  -ms-transform: rotate(0.0deg);
}
#s-91e728df-7244-49ca-8029-656564e22a78 #s-Line_19 {
  border-top-width: 1px;
  border-top-style: dotted;
  border-top-color: #599EE1;
  -ms-transform: rotate(0.0deg);
}
#s-91e728df-7244-49ca-8029-656564e22a78 #s-Line_19 {
  border-top-width: 1px;
  border-top-style: dotted;
  border-top-color: #599EE1;
  -ms-transform: rotate(0.0deg);
}
#s-91e728df-7244-49ca-8029-656564e22a78 #s-Text_50 {
  -ms-transform: rotate(0.0deg);
}
#s-91e728df-7244-49ca-8029-656564e22a78 #s-Text_51 {
  -ms-transform: rotate(0.0deg);
}
#s-91e728df-7244-49ca-8029-656564e22a78 #s-Text_52 {
  -ms-transform: rotate(0.0deg);
}
#s-91e728df-7244-49ca-8029-656564e22a78 #s-Text_53 {
  -ms-transform: rotate(0.0deg);
}
#s-91e728df-7244-49ca-8029-656564e22a78 #s-Table_3 {
  border-collapse: separate;
}
#s-91e728df-7244-49ca-8029-656564e22a78 #s-Text_54 {
  -ms-transform: rotate(0.0deg);
}
#s-91e728df-7244-49ca-8029-656564e22a78 #s-Text_55 {
  -ms-transform: rotate(0.0deg);
}
#s-91e728df-7244-49ca-8029-656564e22a78 #s-Line_22 {
  border-top-width: 1px;
  border-top-style: dotted;
  border-top-color: #599EE1;
  -ms-transform: rotate(0.0deg);
}
#s-91e728df-7244-49ca-8029-656564e22a78 #s-Line_22 {
  border-top-width: 1px;
  border-top-style: dotted;
  border-top-color: #599EE1;
  -ms-transform: rotate(0.0deg);
}
#s-91e728df-7244-49ca-8029-656564e22a78 #s-Text_56 {
  -ms-transform: rotate(0.0deg);
}
#s-91e728df-7244-49ca-8029-656564e22a78 #s-Line_23 {
  border-top-width: 1px;
  border-top-style: dotted;
  border-top-color: #599EE1;
  -ms-transform: rotate(90.0deg);
}
#s-91e728df-7244-49ca-8029-656564e22a78 #s-Line_23 {
  border-top-width: 1px;
  border-top-style: dotted;
  border-top-color: #599EE1;
  -ms-transform: rotate(90.0deg);
}
#s-91e728df-7244-49ca-8029-656564e22a78 #s-Line_24 {
  border-top-width: 1px;
  border-top-style: dotted;
  border-top-color: #599EE1;
  -ms-transform: rotate(0.0deg);
}
#s-91e728df-7244-49ca-8029-656564e22a78 #s-Line_24 {
  border-top-width: 1px;
  border-top-style: dotted;
  border-top-color: #599EE1;
  -ms-transform: rotate(0.0deg);
}
#s-91e728df-7244-49ca-8029-656564e22a78 #s-Text_57 {
  -ms-transform: rotate(0.0deg);
}
#s-91e728df-7244-49ca-8029-656564e22a78 #s-Text_58 {
  -ms-transform: rotate(0.0deg);
}
#s-91e728df-7244-49ca-8029-656564e22a78 #s-Text_59 {
  -ms-transform: rotate(0.0deg);
}
#s-91e728df-7244-49ca-8029-656564e22a78 #s-Text_60 {
  -ms-transform: rotate(0.0deg);
}
#s-91e728df-7244-49ca-8029-656564e22a78 #s-Text_61 {
  -ms-transform: rotate(0.0deg);
}
#s-91e728df-7244-49ca-8029-656564e22a78 #s-Text_62 {
  -ms-transform: rotate(0.0deg);
}
#s-91e728df-7244-49ca-8029-656564e22a78 #s-Text_63 {
  -ms-transform: rotate(0.0deg);
}
#s-91e728df-7244-49ca-8029-656564e22a78 #s-Text_64 {
  -ms-transform: rotate(0.0deg);
}
#s-91e728df-7244-49ca-8029-656564e22a78 #s-Text_65 {
  -ms-transform: rotate(0.0deg);
}
#s-91e728df-7244-49ca-8029-656564e22a78 #s-Text_66 {
  -ms-transform: rotate(0.0deg);
}
#s-91e728df-7244-49ca-8029-656564e22a78 #s-Table_4 {
  border-collapse: separate;
}
#s-91e728df-7244-49ca-8029-656564e22a78 #s-Text_67 {
  -ms-transform: rotate(0.0deg);
}
#s-91e728df-7244-49ca-8029-656564e22a78 #s-Text_68 {
  -ms-transform: rotate(0.0deg);
}
#s-91e728df-7244-49ca-8029-656564e22a78 #s-Text_69 {
  -ms-transform: rotate(0.0deg);
}
#s-91e728df-7244-49ca-8029-656564e22a78 #s-Text_70 {
  -ms-transform: rotate(0.0deg);
}
#s-91e728df-7244-49ca-8029-656564e22a78 #s-Text_71 {
  -ms-transform: rotate(0.0deg);
}
#s-91e728df-7244-49ca-8029-656564e22a78 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-91e728df-7244-49ca-8029-656564e22a78 #s-Text_72 {
  -ms-transform: rotate(0.0deg);
}
#s-91e728df-7244-49ca-8029-656564e22a78 #s-Text_73 {
  -ms-transform: rotate(0.0deg);
}
#s-91e728df-7244-49ca-8029-656564e22a78 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-91e728df-7244-49ca-8029-656564e22a78 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-91e728df-7244-49ca-8029-656564e22a78 #s-Text_13 {
  -ms-transform: rotate(0.0deg);
}
#s-91e728df-7244-49ca-8029-656564e22a78 #s-Text_15 {
  -ms-transform: rotate(0.0deg);
}
#s-91e728df-7244-49ca-8029-656564e22a78 #s-Line_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #5C6670;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=97) progid:DXImageTransform.Microsoft.Alpha(Opacity=97);
  filter: alpha(opacity=97) alpha(opacity=97);
  -ms-transform: rotate(89.0deg);
}
#s-91e728df-7244-49ca-8029-656564e22a78 #s-Line_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #5C6670;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=97) progid:DXImageTransform.Microsoft.Alpha(Opacity=97);
  filter: alpha(opacity=97) alpha(opacity=97);
  -ms-transform: rotate(89.0deg);
}
#s-91e728df-7244-49ca-8029-656564e22a78 #s-Line_5 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #5C6670;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=97) progid:DXImageTransform.Microsoft.Alpha(Opacity=97);
  filter: alpha(opacity=97) alpha(opacity=97);
  -ms-transform: rotate(89.0deg);
}
#s-91e728df-7244-49ca-8029-656564e22a78 #s-Line_5 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #5C6670;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=97) progid:DXImageTransform.Microsoft.Alpha(Opacity=97);
  filter: alpha(opacity=97) alpha(opacity=97);
  -ms-transform: rotate(89.0deg);
}
#s-91e728df-7244-49ca-8029-656564e22a78 #s-Line_7 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #5C6670;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=97) progid:DXImageTransform.Microsoft.Alpha(Opacity=97);
  filter: alpha(opacity=97) alpha(opacity=97);
  -ms-transform: rotate(89.0deg);
}
#s-91e728df-7244-49ca-8029-656564e22a78 #s-Line_7 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #5C6670;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=97) progid:DXImageTransform.Microsoft.Alpha(Opacity=97);
  filter: alpha(opacity=97) alpha(opacity=97);
  -ms-transform: rotate(89.0deg);
}
#s-91e728df-7244-49ca-8029-656564e22a78 #s-Line_9 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #05AADD;
  -ms-transform: rotate(0.0deg);
}
#s-91e728df-7244-49ca-8029-656564e22a78 #s-Line_9 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #05AADD;
  -ms-transform: rotate(0.0deg);
}
#s-91e728df-7244-49ca-8029-656564e22a78 #s-Line_10 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-91e728df-7244-49ca-8029-656564e22a78 #s-Line_10 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-91e728df-7244-49ca-8029-656564e22a78 #s-Line_11 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-91e728df-7244-49ca-8029-656564e22a78 #s-Line_11 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-91e728df-7244-49ca-8029-656564e22a78 #s-Line_12 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-91e728df-7244-49ca-8029-656564e22a78 #s-Line_12 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-91e728df-7244-49ca-8029-656564e22a78 #s-Text_14 {
  -ms-transform: rotate(0.0deg);
}
#s-91e728df-7244-49ca-8029-656564e22a78 #s-Line_8 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #5C6670;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=97) progid:DXImageTransform.Microsoft.Alpha(Opacity=97);
  filter: alpha(opacity=97) alpha(opacity=97);
  -ms-transform: rotate(89.0deg);
}
#s-91e728df-7244-49ca-8029-656564e22a78 #s-Line_8 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #5C6670;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=97) progid:DXImageTransform.Microsoft.Alpha(Opacity=97);
  filter: alpha(opacity=97) alpha(opacity=97);
  -ms-transform: rotate(89.0deg);
}
#s-91e728df-7244-49ca-8029-656564e22a78 #s-Line_13 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-91e728df-7244-49ca-8029-656564e22a78 #s-Line_13 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-91e728df-7244-49ca-8029-656564e22a78 #s-Rectangle_8 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #F28B00;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #F28B00;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #F28B00;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #F28B00;
  border-radius: 4px 4px 4px 4px;
  -ms-transform: rotate(0.0deg);
}
#s-91e728df-7244-49ca-8029-656564e22a78 #s-Text_74 {
  -ms-transform: rotate(0.0deg);
}
#s-91e728df-7244-49ca-8029-656564e22a78 #s-Text_75 {
  -ms-transform: rotate(0.0deg);
}
#s-91e728df-7244-49ca-8029-656564e22a78 #s-Image_67 {
  -ms-transform: rotate(0.0deg);
}
#s-91e728df-7244-49ca-8029-656564e22a78 #s-Paragraph_2 {
  -ms-transform: rotate(0.0deg);
}
#s-91e728df-7244-49ca-8029-656564e22a78 #s-Paragraph_3 {
  -ms-transform: rotate(0.0deg);
}
#s-91e728df-7244-49ca-8029-656564e22a78 #s-Paragraph_5 {
  -ms-transform: rotate(0.0deg);
}
#s-91e728df-7244-49ca-8029-656564e22a78 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-91e728df-7244-49ca-8029-656564e22a78 #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-91e728df-7244-49ca-8029-656564e22a78 #s-Paragraph_6 {
  -ms-transform: rotate(0.0deg);
}
#s-91e728df-7244-49ca-8029-656564e22a78 #s-Image_68 {
  -ms-transform: rotate(0.0deg);
}
#s-91e728df-7244-49ca-8029-656564e22a78 #s-Image_72 {
  -ms-transform: rotate(0.0deg);
}
#s-91e728df-7244-49ca-8029-656564e22a78 #s-Image_87 {
  -ms-transform: rotate(0.0deg);
}
#s-91e728df-7244-49ca-8029-656564e22a78 #s-Paragraph_12 {
  -ms-transform: rotate(0.0deg);
}
#s-91e728df-7244-49ca-8029-656564e22a78 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}