#s-953713c0-97ce-4e6f-9053-1a13c8c8d58e #s-Image_9 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=95) ;
  filter: alpha(opacity=95) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-953713c0-97ce-4e6f-9053-1a13c8c8d58e #s-Image_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-953713c0-97ce-4e6f-9053-1a13c8c8d58e #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60) ;
  filter: alpha(opacity=60) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-953713c0-97ce-4e6f-9053-1a13c8c8d58e #s-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-953713c0-97ce-4e6f-9053-1a13c8c8d58e #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-953713c0-97ce-4e6f-9053-1a13c8c8d58e #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-953713c0-97ce-4e6f-9053-1a13c8c8d58e #s-Paragraph_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-953713c0-97ce-4e6f-9053-1a13c8c8d58e #s-Paragraph_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-953713c0-97ce-4e6f-9053-1a13c8c8d58e #s-Paragraph_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-953713c0-97ce-4e6f-9053-1a13c8c8d58e #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-953713c0-97ce-4e6f-9053-1a13c8c8d58e #s-Paragraph_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-953713c0-97ce-4e6f-9053-1a13c8c8d58e #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-953713c0-97ce-4e6f-9053-1a13c8c8d58e #s-Paragraph_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-953713c0-97ce-4e6f-9053-1a13c8c8d58e #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-953713c0-97ce-4e6f-9053-1a13c8c8d58e #s-Paragraph_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-953713c0-97ce-4e6f-9053-1a13c8c8d58e #s-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-953713c0-97ce-4e6f-9053-1a13c8c8d58e #s-Paragraph_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-953713c0-97ce-4e6f-9053-1a13c8c8d58e #s-Paragraph_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-953713c0-97ce-4e6f-9053-1a13c8c8d58e #s-Text_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-953713c0-97ce-4e6f-9053-1a13c8c8d58e #s-Paragraph_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-953713c0-97ce-4e6f-9053-1a13c8c8d58e #s-Text_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-953713c0-97ce-4e6f-9053-1a13c8c8d58e #s-Paragraph_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-953713c0-97ce-4e6f-9053-1a13c8c8d58e #s-Text_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-953713c0-97ce-4e6f-9053-1a13c8c8d58e #s-Image_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-953713c0-97ce-4e6f-9053-1a13c8c8d58e #s-Image_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-953713c0-97ce-4e6f-9053-1a13c8c8d58e #s-Image_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-953713c0-97ce-4e6f-9053-1a13c8c8d58e #s-Image_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-953713c0-97ce-4e6f-9053-1a13c8c8d58e #s-Paragraph_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-953713c0-97ce-4e6f-9053-1a13c8c8d58e #s-Paragraph_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-953713c0-97ce-4e6f-9053-1a13c8c8d58e #s-Text_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-953713c0-97ce-4e6f-9053-1a13c8c8d58e #s-Text_24 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-1.0,M12=-1.2246467991473532E-16,M21=1.2246467991473532E-16,M22=-1.0);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-1.0,M12=-1.2246467991473532E-16,M21=1.2246467991473532E-16,M22=-1.0);
  margin-left: -1px;
  margin-top: -1px;
}
#s-953713c0-97ce-4e6f-9053-1a13c8c8d58e #s-Image_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-953713c0-97ce-4e6f-9053-1a13c8c8d58e #s-Image_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-953713c0-97ce-4e6f-9053-1a13c8c8d58e #s-Line_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-953713c0-97ce-4e6f-9053-1a13c8c8d58e #s-Line_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-953713c0-97ce-4e6f-9053-1a13c8c8d58e #s-Line_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-953713c0-97ce-4e6f-9053-1a13c8c8d58e #s-Rectangle_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=76) ;
  filter: alpha(opacity=76) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-953713c0-97ce-4e6f-9053-1a13c8c8d58e #s-Paragraph_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80) ;
  filter: alpha(opacity=80) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-953713c0-97ce-4e6f-9053-1a13c8c8d58e #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-953713c0-97ce-4e6f-9053-1a13c8c8d58e #s-Paragraph_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-953713c0-97ce-4e6f-9053-1a13c8c8d58e #s-Image_69 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-953713c0-97ce-4e6f-9053-1a13c8c8d58e #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-953713c0-97ce-4e6f-9053-1a13c8c8d58e #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-953713c0-97ce-4e6f-9053-1a13c8c8d58e #s-Rectangle_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-953713c0-97ce-4e6f-9053-1a13c8c8d58e #s-Rectangle_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-953713c0-97ce-4e6f-9053-1a13c8c8d58e #s-Rectangle_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-953713c0-97ce-4e6f-9053-1a13c8c8d58e #s-Rectangle_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-953713c0-97ce-4e6f-9053-1a13c8c8d58e #s-Image_86 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-953713c0-97ce-4e6f-9053-1a13c8c8d58e #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-953713c0-97ce-4e6f-9053-1a13c8c8d58e #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-953713c0-97ce-4e6f-9053-1a13c8c8d58e #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-953713c0-97ce-4e6f-9053-1a13c8c8d58e #s-Text_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-953713c0-97ce-4e6f-9053-1a13c8c8d58e #s-Text_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-953713c0-97ce-4e6f-9053-1a13c8c8d58e #s-Line_3 {
  rotation: 89.0;
  margin-left: 14px;
  margin-top: -16px;
}
#s-953713c0-97ce-4e6f-9053-1a13c8c8d58e #s-Line_7 {
  rotation: 89.0;
  margin-left: 14px;
  margin-top: -16px;
}
#s-953713c0-97ce-4e6f-9053-1a13c8c8d58e #s-Line_8 {
  rotation: 89.0;
  margin-left: 14px;
  margin-top: -16px;
}
#s-953713c0-97ce-4e6f-9053-1a13c8c8d58e #s-Line_9 {
  rotation: 89.0;
  margin-left: 14px;
  margin-top: -16px;
}
#s-953713c0-97ce-4e6f-9053-1a13c8c8d58e #s-Line_10 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-953713c0-97ce-4e6f-9053-1a13c8c8d58e #s-Line_11 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-953713c0-97ce-4e6f-9053-1a13c8c8d58e #s-Line_12 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-953713c0-97ce-4e6f-9053-1a13c8c8d58e #s-Line_13 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-953713c0-97ce-4e6f-9053-1a13c8c8d58e #s-Line_14 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-953713c0-97ce-4e6f-9053-1a13c8c8d58e #s-Image_67 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-953713c0-97ce-4e6f-9053-1a13c8c8d58e #s-Paragraph_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-953713c0-97ce-4e6f-9053-1a13c8c8d58e #s-Paragraph_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-953713c0-97ce-4e6f-9053-1a13c8c8d58e #s-Paragraph_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-953713c0-97ce-4e6f-9053-1a13c8c8d58e #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-953713c0-97ce-4e6f-9053-1a13c8c8d58e #s-Text_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-953713c0-97ce-4e6f-9053-1a13c8c8d58e #s-Paragraph_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-953713c0-97ce-4e6f-9053-1a13c8c8d58e #s-Image_68 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-953713c0-97ce-4e6f-9053-1a13c8c8d58e #s-Image_72 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-953713c0-97ce-4e6f-9053-1a13c8c8d58e #s-Image_87 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-953713c0-97ce-4e6f-9053-1a13c8c8d58e #s-Paragraph_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-953713c0-97ce-4e6f-9053-1a13c8c8d58e #s-Rectangle_7 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=87) ;
  filter: alpha(opacity=87) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-953713c0-97ce-4e6f-9053-1a13c8c8d58e #s-Paragraph_44 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-953713c0-97ce-4e6f-9053-1a13c8c8d58e #s-Image_88 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-953713c0-97ce-4e6f-9053-1a13c8c8d58e #s-Image_89 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-953713c0-97ce-4e6f-9053-1a13c8c8d58e #s-Image_90 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-953713c0-97ce-4e6f-9053-1a13c8c8d58e #s-Paragraph_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-953713c0-97ce-4e6f-9053-1a13c8c8d58e #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-953713c0-97ce-4e6f-9053-1a13c8c8d58e #s-Image_91 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-953713c0-97ce-4e6f-9053-1a13c8c8d58e #s-Image_84 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-953713c0-97ce-4e6f-9053-1a13c8c8d58e #s-Image_85 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-953713c0-97ce-4e6f-9053-1a13c8c8d58e #s-Image_92 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-953713c0-97ce-4e6f-9053-1a13c8c8d58e #s-Paragraph_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-953713c0-97ce-4e6f-9053-1a13c8c8d58e #s-Button_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-953713c0-97ce-4e6f-9053-1a13c8c8d58e #s-Image_93 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-953713c0-97ce-4e6f-9053-1a13c8c8d58e #s-close-white {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-953713c0-97ce-4e6f-9053-1a13c8c8d58e > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}