#s-984f7da0-e481-4347-a1bb-89f70a18bb30 #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60) ;
  filter: alpha(opacity=60) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-984f7da0-e481-4347-a1bb-89f70a18bb30 #s-Text_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-984f7da0-e481-4347-a1bb-89f70a18bb30 #s-Image_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=95) ;
  filter: alpha(opacity=95) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-984f7da0-e481-4347-a1bb-89f70a18bb30 #s-Rectangle_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=76) ;
  filter: alpha(opacity=76) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-984f7da0-e481-4347-a1bb-89f70a18bb30 #s-Paragraph_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80) ;
  filter: alpha(opacity=80) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-984f7da0-e481-4347-a1bb-89f70a18bb30 #s-Paragraph_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-984f7da0-e481-4347-a1bb-89f70a18bb30 #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-984f7da0-e481-4347-a1bb-89f70a18bb30 #s-Paragraph_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-984f7da0-e481-4347-a1bb-89f70a18bb30 #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-984f7da0-e481-4347-a1bb-89f70a18bb30 #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-984f7da0-e481-4347-a1bb-89f70a18bb30 #s-Text_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-984f7da0-e481-4347-a1bb-89f70a18bb30 #s-Line_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-984f7da0-e481-4347-a1bb-89f70a18bb30 #s-Image_69 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-984f7da0-e481-4347-a1bb-89f70a18bb30 #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-984f7da0-e481-4347-a1bb-89f70a18bb30 #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-984f7da0-e481-4347-a1bb-89f70a18bb30 #s-Rectangle_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-984f7da0-e481-4347-a1bb-89f70a18bb30 #s-Rectangle_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-984f7da0-e481-4347-a1bb-89f70a18bb30 #s-Rectangle_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-984f7da0-e481-4347-a1bb-89f70a18bb30 #s-Rectangle_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-984f7da0-e481-4347-a1bb-89f70a18bb30 #s-Image_86 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-984f7da0-e481-4347-a1bb-89f70a18bb30 #s-Image_67 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-984f7da0-e481-4347-a1bb-89f70a18bb30 #s-Paragraph_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-984f7da0-e481-4347-a1bb-89f70a18bb30 #s-Paragraph_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-984f7da0-e481-4347-a1bb-89f70a18bb30 #s-Paragraph_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-984f7da0-e481-4347-a1bb-89f70a18bb30 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-984f7da0-e481-4347-a1bb-89f70a18bb30 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-984f7da0-e481-4347-a1bb-89f70a18bb30 #s-Paragraph_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-984f7da0-e481-4347-a1bb-89f70a18bb30 #s-Image_68 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-984f7da0-e481-4347-a1bb-89f70a18bb30 #s-Image_72 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-984f7da0-e481-4347-a1bb-89f70a18bb30 #s-Image_87 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-984f7da0-e481-4347-a1bb-89f70a18bb30 #s-Paragraph_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-984f7da0-e481-4347-a1bb-89f70a18bb30 #s-Rectangle_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-984f7da0-e481-4347-a1bb-89f70a18bb30 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-984f7da0-e481-4347-a1bb-89f70a18bb30 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-984f7da0-e481-4347-a1bb-89f70a18bb30 #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-984f7da0-e481-4347-a1bb-89f70a18bb30 #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-984f7da0-e481-4347-a1bb-89f70a18bb30 #s-Text_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-984f7da0-e481-4347-a1bb-89f70a18bb30 #s-Line_3 {
  rotation: 89.0;
  margin-left: 14px;
  margin-top: -16px;
}
#s-984f7da0-e481-4347-a1bb-89f70a18bb30 #s-Line_5 {
  rotation: 89.0;
  margin-left: 14px;
  margin-top: -16px;
}
#s-984f7da0-e481-4347-a1bb-89f70a18bb30 #s-Line_6 {
  rotation: 89.0;
  margin-left: 14px;
  margin-top: -16px;
}
#s-984f7da0-e481-4347-a1bb-89f70a18bb30 #s-Line_7 {
  rotation: 89.0;
  margin-left: 14px;
  margin-top: -16px;
}
#s-984f7da0-e481-4347-a1bb-89f70a18bb30 #s-Line_8 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-984f7da0-e481-4347-a1bb-89f70a18bb30 #s-Line_9 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-984f7da0-e481-4347-a1bb-89f70a18bb30 #s-Line_10 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-984f7da0-e481-4347-a1bb-89f70a18bb30 #s-Line_11 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-984f7da0-e481-4347-a1bb-89f70a18bb30 #s-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-984f7da0-e481-4347-a1bb-89f70a18bb30 #s-Line_12 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-984f7da0-e481-4347-a1bb-89f70a18bb30 #s-Line_13 {
  rotation: 89.0;
  margin-left: 14px;
  margin-top: -16px;
}
#s-984f7da0-e481-4347-a1bb-89f70a18bb30 #s-Text_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-984f7da0-e481-4347-a1bb-89f70a18bb30 #s-Line_17 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-984f7da0-e481-4347-a1bb-89f70a18bb30 #s-Rectangle_7 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=87) ;
  filter: alpha(opacity=87) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-984f7da0-e481-4347-a1bb-89f70a18bb30 #s-Paragraph_44 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-984f7da0-e481-4347-a1bb-89f70a18bb30 #s-Image_88 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-984f7da0-e481-4347-a1bb-89f70a18bb30 #s-Image_89 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-984f7da0-e481-4347-a1bb-89f70a18bb30 #s-Image_90 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-984f7da0-e481-4347-a1bb-89f70a18bb30 #s-Paragraph_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-984f7da0-e481-4347-a1bb-89f70a18bb30 #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-984f7da0-e481-4347-a1bb-89f70a18bb30 #s-Image_91 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-984f7da0-e481-4347-a1bb-89f70a18bb30 #s-Image_84 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-984f7da0-e481-4347-a1bb-89f70a18bb30 #s-Image_85 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-984f7da0-e481-4347-a1bb-89f70a18bb30 #s-Image_92 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-984f7da0-e481-4347-a1bb-89f70a18bb30 #s-Paragraph_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-984f7da0-e481-4347-a1bb-89f70a18bb30 #s-Button_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-984f7da0-e481-4347-a1bb-89f70a18bb30 #s-Image_93 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-984f7da0-e481-4347-a1bb-89f70a18bb30 #s-close-white {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-984f7da0-e481-4347-a1bb-89f70a18bb30 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}