#s-99835fcb-1717-4c65-8b46-ca4b89145f76 #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  filter: alpha(opacity=60);
  -ms-transform: rotate(0.0deg);
}
#s-99835fcb-1717-4c65-8b46-ca4b89145f76 #s-Paragraph_21 {
  -ms-transform: rotate(0.0deg);
}
#s-99835fcb-1717-4c65-8b46-ca4b89145f76 #s-Rectangle_21 {
  -ms-transform: rotate(0.0deg);
}
#s-99835fcb-1717-4c65-8b46-ca4b89145f76 #s-Paragraph_43 {
  -ms-transform: rotate(0.0deg);
}
#s-99835fcb-1717-4c65-8b46-ca4b89145f76 #s-Paragraph_2 {
  -ms-transform: rotate(0.0deg);
}
#s-99835fcb-1717-4c65-8b46-ca4b89145f76 #s-Image_13 {
  -ms-transform: rotate(0.0deg);
}
#s-99835fcb-1717-4c65-8b46-ca4b89145f76 #s-Paragraph_5 {
  -ms-transform: rotate(0.0deg);
}
#s-99835fcb-1717-4c65-8b46-ca4b89145f76 #s-Button_12 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 11px 11px 11px 11px;
  padding-top: 6px;
  padding-right: 6px;
  padding-bottom: 6px;
  padding-left: 6px;
  width: 176px;
  height: 54px;
  -ms-transform: rotate(0.0deg);
}
#s-99835fcb-1717-4c65-8b46-ca4b89145f76 #s-Paragraph_23 {
  -ms-transform: rotate(0.0deg);
}
#s-99835fcb-1717-4c65-8b46-ca4b89145f76 #s-Paragraph_11 {
  -ms-transform: rotate(0.0deg);
}
#s-99835fcb-1717-4c65-8b46-ca4b89145f76 #s-Text_63 {
  -ms-transform: rotate(0.0deg);
}
#s-99835fcb-1717-4c65-8b46-ca4b89145f76 #s-Text_64 {
  -ms-transform: rotate(0.0deg);
}
#s-99835fcb-1717-4c65-8b46-ca4b89145f76 #s-Text_75 {
  -ms-transform: rotate(0.0deg);
}
#s-99835fcb-1717-4c65-8b46-ca4b89145f76 #s-Line_41 {
  border-top-width: 2px;
  border-top-style: dotted;
  border-top-color: #05AADD;
  -ms-transform: rotate(0.0deg);
}
#s-99835fcb-1717-4c65-8b46-ca4b89145f76 #s-Line_41 {
  border-top-width: 2px;
  border-top-style: dotted;
  border-top-color: #05AADD;
  -ms-transform: rotate(0.0deg);
}
#s-99835fcb-1717-4c65-8b46-ca4b89145f76 #s-Button_16 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 7px 7px 7px 7px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  width: 179px;
  height: 32px;
  -ms-transform: rotate(0.0deg);
}
#s-99835fcb-1717-4c65-8b46-ca4b89145f76 #s-Paragraph_29 {
  -ms-transform: rotate(0.0deg);
}
#s-99835fcb-1717-4c65-8b46-ca4b89145f76 #s-Text_36 {
  -ms-transform: rotate(0.0deg);
}
#s-99835fcb-1717-4c65-8b46-ca4b89145f76 #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-99835fcb-1717-4c65-8b46-ca4b89145f76 #s-Rectangle_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #F28B00;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #F28B00;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #F28B00;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #F28B00;
  border-radius: 3px 3px 3px 3px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=89);
  filter: alpha(opacity=89);
  -ms-transform: rotate(0.0deg);
}
#s-99835fcb-1717-4c65-8b46-ca4b89145f76 #s-Image_14 {
  -ms-transform: rotate(0.0deg);
}
#s-99835fcb-1717-4c65-8b46-ca4b89145f76 #s-Paragraph_6 {
  -ms-transform: rotate(0.0deg);
}
#s-99835fcb-1717-4c65-8b46-ca4b89145f76 #s-Button_13 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 11px 11px 11px 11px;
  padding-top: 6px;
  padding-right: 6px;
  padding-bottom: 6px;
  padding-left: 6px;
  width: 176px;
  height: 54px;
  -ms-transform: rotate(0.0deg);
}
#s-99835fcb-1717-4c65-8b46-ca4b89145f76 #s-Paragraph_24 {
  -ms-transform: rotate(0.0deg);
}
#s-99835fcb-1717-4c65-8b46-ca4b89145f76 #s-Paragraph_22 {
  -ms-transform: rotate(0.0deg);
}
#s-99835fcb-1717-4c65-8b46-ca4b89145f76 #s-Text_65 {
  -ms-transform: rotate(0.0deg);
}
#s-99835fcb-1717-4c65-8b46-ca4b89145f76 #s-Text_66 {
  -ms-transform: rotate(0.0deg);
}
#s-99835fcb-1717-4c65-8b46-ca4b89145f76 #s-Text_80 {
  -ms-transform: rotate(0.0deg);
}
#s-99835fcb-1717-4c65-8b46-ca4b89145f76 #s-Line_42 {
  border-top-width: 2px;
  border-top-style: dotted;
  border-top-color: #CEDF00;
  -ms-transform: rotate(0.0deg);
}
#s-99835fcb-1717-4c65-8b46-ca4b89145f76 #s-Line_42 {
  border-top-width: 2px;
  border-top-style: dotted;
  border-top-color: #CEDF00;
  -ms-transform: rotate(0.0deg);
}
#s-99835fcb-1717-4c65-8b46-ca4b89145f76 #s-Button_17 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 7px 7px 7px 7px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  width: 179px;
  height: 32px;
  -ms-transform: rotate(0.0deg);
}
#s-99835fcb-1717-4c65-8b46-ca4b89145f76 #s-Paragraph_30 {
  -ms-transform: rotate(0.0deg);
}
#s-99835fcb-1717-4c65-8b46-ca4b89145f76 #s-Text_37 {
  -ms-transform: rotate(0.0deg);
}
#s-99835fcb-1717-4c65-8b46-ca4b89145f76 #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-99835fcb-1717-4c65-8b46-ca4b89145f76 #s-Rectangle_7 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #F28B00;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #F28B00;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #F28B00;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #F28B00;
  border-radius: 3px 3px 3px 3px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=89);
  filter: alpha(opacity=89);
  -ms-transform: rotate(0.0deg);
}
#s-99835fcb-1717-4c65-8b46-ca4b89145f76 #s-Image_15 {
  -ms-transform: rotate(0.0deg);
}
#s-99835fcb-1717-4c65-8b46-ca4b89145f76 #s-Rectangle_8 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #F28B00;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #F28B00;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #F28B00;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #F28B00;
  border-radius: 3px 3px 3px 3px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=89);
  filter: alpha(opacity=89);
  -ms-transform: rotate(0.0deg);
}
#s-99835fcb-1717-4c65-8b46-ca4b89145f76 #s-Image_24 {
  -ms-transform: rotate(0.0deg);
}
#s-99835fcb-1717-4c65-8b46-ca4b89145f76 #s-Paragraph_3 {
  -ms-transform: rotate(0.0deg);
}
#s-99835fcb-1717-4c65-8b46-ca4b89145f76 #s-Paragraph_27 {
  -ms-transform: rotate(0.0deg);
}
#s-99835fcb-1717-4c65-8b46-ca4b89145f76 #s-Button_15 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 11px 11px 11px 11px;
  padding-top: 6px;
  padding-right: 6px;
  padding-bottom: 6px;
  padding-left: 6px;
  width: 176px;
  height: 54px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: alpha(opacity=70);
  -ms-transform: rotate(0.0deg);
}
#s-99835fcb-1717-4c65-8b46-ca4b89145f76 #s-Paragraph_31 {
  -ms-transform: rotate(0.0deg);
}
#s-99835fcb-1717-4c65-8b46-ca4b89145f76 #s-Rectangle_22 {
  border-top-width: 1px;
  border-top-style: dotted;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: dotted;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: dotted;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-99835fcb-1717-4c65-8b46-ca4b89145f76 #s-Image_82 {
  -ms-transform: rotate(0.0deg);
}
#s-99835fcb-1717-4c65-8b46-ca4b89145f76 #s-Rectangle_23 {
  border-top-width: 1px;
  border-top-style: dotted;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: dotted;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: dotted;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-99835fcb-1717-4c65-8b46-ca4b89145f76 #s-Text_27 {
  -ms-transform: rotate(0.0deg);
}
#s-99835fcb-1717-4c65-8b46-ca4b89145f76 #s-Text_29 {
  -ms-transform: rotate(0.0deg);
}
#s-99835fcb-1717-4c65-8b46-ca4b89145f76 #s-Rectangle_24 {
  border-top-width: 1px;
  border-top-style: dotted;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: dotted;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: dotted;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-99835fcb-1717-4c65-8b46-ca4b89145f76 #s-Image_83 {
  -ms-transform: rotate(0.0deg);
}
#s-99835fcb-1717-4c65-8b46-ca4b89145f76 #s-Text_30 {
  -ms-transform: rotate(0.0deg);
}
#s-99835fcb-1717-4c65-8b46-ca4b89145f76 #s-Text_31 {
  -ms-transform: rotate(180.0deg);
}
#s-99835fcb-1717-4c65-8b46-ca4b89145f76 #s-Text_32 {
  -ms-transform: rotate(0.0deg);
}
#s-99835fcb-1717-4c65-8b46-ca4b89145f76 #s-Text_33 {
  -ms-transform: rotate(180.0deg);
}
#s-99835fcb-1717-4c65-8b46-ca4b89145f76 #s-Rectangle_25 {
  border-top-width: 1px;
  border-top-style: dotted;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: dotted;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: dotted;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-99835fcb-1717-4c65-8b46-ca4b89145f76 #s-Text_34 {
  -ms-transform: rotate(0.0deg);
}
#s-99835fcb-1717-4c65-8b46-ca4b89145f76 #s-Text_39 {
  -ms-transform: rotate(0.0deg);
}
#s-99835fcb-1717-4c65-8b46-ca4b89145f76 #s-Text_40 {
  -ms-transform: rotate(180.0deg);
}
#s-99835fcb-1717-4c65-8b46-ca4b89145f76 #s-Rectangle_26 {
  border-top-width: 1px;
  border-top-style: dotted;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: dotted;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: dotted;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-99835fcb-1717-4c65-8b46-ca4b89145f76 #s-Text_41 {
  -ms-transform: rotate(0.0deg);
}
#s-99835fcb-1717-4c65-8b46-ca4b89145f76 #s-Image_67 {
  -ms-transform: rotate(0.0deg);
}
#s-99835fcb-1717-4c65-8b46-ca4b89145f76 #s-Paragraph_4 {
  -ms-transform: rotate(0.0deg);
}
#s-99835fcb-1717-4c65-8b46-ca4b89145f76 #s-Paragraph_8 {
  -ms-transform: rotate(0.0deg);
}
#s-99835fcb-1717-4c65-8b46-ca4b89145f76 #s-Paragraph_9 {
  -ms-transform: rotate(0.0deg);
}
#s-99835fcb-1717-4c65-8b46-ca4b89145f76 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-99835fcb-1717-4c65-8b46-ca4b89145f76 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-99835fcb-1717-4c65-8b46-ca4b89145f76 #s-Paragraph_10 {
  -ms-transform: rotate(0.0deg);
}
#s-99835fcb-1717-4c65-8b46-ca4b89145f76 #s-Image_68 {
  -ms-transform: rotate(0.0deg);
}
#s-99835fcb-1717-4c65-8b46-ca4b89145f76 #s-Image_72 {
  -ms-transform: rotate(0.0deg);
}
#s-99835fcb-1717-4c65-8b46-ca4b89145f76 #s-Image_87 {
  -ms-transform: rotate(0.0deg);
}
#s-99835fcb-1717-4c65-8b46-ca4b89145f76 #s-Paragraph_12 {
  -ms-transform: rotate(0.0deg);
}
#s-99835fcb-1717-4c65-8b46-ca4b89145f76 #s-Image_69 {
  -ms-transform: rotate(0.0deg);
}
#s-99835fcb-1717-4c65-8b46-ca4b89145f76 #s-Rectangle_6 {
  -ms-transform: rotate(0.0deg);
}
#s-99835fcb-1717-4c65-8b46-ca4b89145f76 #s-Rectangle_9 {
  -ms-transform: rotate(0.0deg);
}
#s-99835fcb-1717-4c65-8b46-ca4b89145f76 #s-Rectangle_16 {
  -ms-transform: rotate(0.0deg);
}
#s-99835fcb-1717-4c65-8b46-ca4b89145f76 #s-Rectangle_17 {
  -ms-transform: rotate(0.0deg);
}
#s-99835fcb-1717-4c65-8b46-ca4b89145f76 #s-Rectangle_18 {
  -ms-transform: rotate(0.0deg);
}
#s-99835fcb-1717-4c65-8b46-ca4b89145f76 #s-Rectangle_19 {
  -ms-transform: rotate(0.0deg);
}
#s-99835fcb-1717-4c65-8b46-ca4b89145f76 #s-Image_86 {
  -ms-transform: rotate(0.0deg);
}
#s-99835fcb-1717-4c65-8b46-ca4b89145f76 #s-Paragraph_28 {
  -ms-transform: rotate(0.0deg);
}
#s-99835fcb-1717-4c65-8b46-ca4b89145f76 #s-Button_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 11px 11px 11px 11px;
  padding-top: 6px;
  padding-right: 6px;
  padding-bottom: 6px;
  padding-left: 6px;
  width: 380px;
  height: 57px;
  -ms-transform: rotate(0.0deg);
}
#s-99835fcb-1717-4c65-8b46-ca4b89145f76 #s-Image_10 {
  -ms-transform: rotate(0.0deg);
}
#s-99835fcb-1717-4c65-8b46-ca4b89145f76 #s-Paragraph_7 {
  -ms-transform: rotate(0.0deg);
}
#s-99835fcb-1717-4c65-8b46-ca4b89145f76 #s-Button_14 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 11px 11px 11px 11px;
  padding-top: 6px;
  padding-right: 6px;
  padding-bottom: 6px;
  padding-left: 6px;
  width: 176px;
  height: 54px;
  -ms-transform: rotate(0.0deg);
}
#s-99835fcb-1717-4c65-8b46-ca4b89145f76 #s-Paragraph_25 {
  -ms-transform: rotate(0.0deg);
}
#s-99835fcb-1717-4c65-8b46-ca4b89145f76 #s-Paragraph_26 {
  -ms-transform: rotate(0.0deg);
}
#s-99835fcb-1717-4c65-8b46-ca4b89145f76 #s-Text_68 {
  -ms-transform: rotate(0.0deg);
}
#s-99835fcb-1717-4c65-8b46-ca4b89145f76 #s-Text_69 {
  -ms-transform: rotate(0.0deg);
}
#s-99835fcb-1717-4c65-8b46-ca4b89145f76 #s-Text_84 {
  -ms-transform: rotate(0.0deg);
}
#s-99835fcb-1717-4c65-8b46-ca4b89145f76 #s-Line_43 {
  border-top-width: 2px;
  border-top-style: dotted;
  border-top-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-99835fcb-1717-4c65-8b46-ca4b89145f76 #s-Line_43 {
  border-top-width: 2px;
  border-top-style: dotted;
  border-top-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-99835fcb-1717-4c65-8b46-ca4b89145f76 #s-Button_21 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 7px 7px 7px 7px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  width: 179px;
  height: 32px;
  -ms-transform: rotate(0.0deg);
}
#s-99835fcb-1717-4c65-8b46-ca4b89145f76 #s-Paragraph_34 {
  -ms-transform: rotate(0.0deg);
}
#s-99835fcb-1717-4c65-8b46-ca4b89145f76 #s-Text_38 {
  -ms-transform: rotate(0.0deg);
}
#s-99835fcb-1717-4c65-8b46-ca4b89145f76 #s-Text_12 {
  -ms-transform: rotate(0.0deg);
}
#s-99835fcb-1717-4c65-8b46-ca4b89145f76 #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-99835fcb-1717-4c65-8b46-ca4b89145f76 #s-Text_13 {
  -ms-transform: rotate(0.0deg);
}
#s-99835fcb-1717-4c65-8b46-ca4b89145f76 #s-Text_14 {
  -ms-transform: rotate(0.0deg);
}
#s-99835fcb-1717-4c65-8b46-ca4b89145f76 #s-Text_15 {
  -ms-transform: rotate(0.0deg);
}
#s-99835fcb-1717-4c65-8b46-ca4b89145f76 #s-Line_5 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #757873;
  -ms-transform: rotate(89.0deg);
}
#s-99835fcb-1717-4c65-8b46-ca4b89145f76 #s-Line_5 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #757873;
  -ms-transform: rotate(89.0deg);
}
#s-99835fcb-1717-4c65-8b46-ca4b89145f76 #s-Line_6 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #757873;
  -ms-transform: rotate(89.0deg);
}
#s-99835fcb-1717-4c65-8b46-ca4b89145f76 #s-Line_6 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #757873;
  -ms-transform: rotate(89.0deg);
}
#s-99835fcb-1717-4c65-8b46-ca4b89145f76 #s-Line_7 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #757873;
  -ms-transform: rotate(89.0deg);
}
#s-99835fcb-1717-4c65-8b46-ca4b89145f76 #s-Line_7 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #757873;
  -ms-transform: rotate(89.0deg);
}
#s-99835fcb-1717-4c65-8b46-ca4b89145f76 #s-Line_8 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #757873;
  -ms-transform: rotate(89.0deg);
}
#s-99835fcb-1717-4c65-8b46-ca4b89145f76 #s-Line_8 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #757873;
  -ms-transform: rotate(89.0deg);
}
#s-99835fcb-1717-4c65-8b46-ca4b89145f76 #s-Line_9 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-99835fcb-1717-4c65-8b46-ca4b89145f76 #s-Line_9 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-99835fcb-1717-4c65-8b46-ca4b89145f76 #s-Line_10 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-99835fcb-1717-4c65-8b46-ca4b89145f76 #s-Line_10 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-99835fcb-1717-4c65-8b46-ca4b89145f76 #s-Line_11 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-99835fcb-1717-4c65-8b46-ca4b89145f76 #s-Line_11 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-99835fcb-1717-4c65-8b46-ca4b89145f76 #s-Line_12 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-99835fcb-1717-4c65-8b46-ca4b89145f76 #s-Line_12 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-99835fcb-1717-4c65-8b46-ca4b89145f76 #s-Text_16 {
  -ms-transform: rotate(0.0deg);
}
#s-99835fcb-1717-4c65-8b46-ca4b89145f76 #s-Line_13 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-99835fcb-1717-4c65-8b46-ca4b89145f76 #s-Line_13 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-99835fcb-1717-4c65-8b46-ca4b89145f76 #s-Line_14 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #757873;
  -ms-transform: rotate(89.0deg);
}
#s-99835fcb-1717-4c65-8b46-ca4b89145f76 #s-Line_14 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #757873;
  -ms-transform: rotate(89.0deg);
}
#s-99835fcb-1717-4c65-8b46-ca4b89145f76 #s-Text_17 {
  -ms-transform: rotate(0.0deg);
}
#s-99835fcb-1717-4c65-8b46-ca4b89145f76 #s-Line_17 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-99835fcb-1717-4c65-8b46-ca4b89145f76 #s-Line_17 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-99835fcb-1717-4c65-8b46-ca4b89145f76 #s-Rectangle_10 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=87);
  filter: alpha(opacity=87);
  -ms-transform: rotate(0.0deg);
}
#s-99835fcb-1717-4c65-8b46-ca4b89145f76 #s-Paragraph_44 {
  -ms-transform: rotate(0.0deg);
}
#s-99835fcb-1717-4c65-8b46-ca4b89145f76 #s-Image_88 {
  -ms-transform: rotate(0.0deg);
}
#s-99835fcb-1717-4c65-8b46-ca4b89145f76 #s-Image_89 {
  -ms-transform: rotate(0.0deg);
}
#s-99835fcb-1717-4c65-8b46-ca4b89145f76 #s-Image_90 {
  -ms-transform: rotate(0.0deg);
}
#s-99835fcb-1717-4c65-8b46-ca4b89145f76 #s-Paragraph_13 {
  -ms-transform: rotate(0.0deg);
}
#s-99835fcb-1717-4c65-8b46-ca4b89145f76 #s-Button_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 8px 8px 8px 8px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  width: 157px;
  height: 38px;
  -ms-transform: rotate(0.0deg);
}
#s-99835fcb-1717-4c65-8b46-ca4b89145f76 #s-Image_91 {
  -ms-transform: rotate(0.0deg);
}
#s-99835fcb-1717-4c65-8b46-ca4b89145f76 #s-Image_84 {
  -ms-transform: rotate(0.0deg);
}
#s-99835fcb-1717-4c65-8b46-ca4b89145f76 #s-Image_85 {
  -ms-transform: rotate(0.0deg);
}
#s-99835fcb-1717-4c65-8b46-ca4b89145f76 #s-Image_92 {
  -ms-transform: rotate(0.0deg);
}
#s-99835fcb-1717-4c65-8b46-ca4b89145f76 #s-Paragraph_14 {
  -ms-transform: rotate(0.0deg);
}
#s-99835fcb-1717-4c65-8b46-ca4b89145f76 #s-Button_4 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 8px 8px 8px 8px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  width: 157px;
  height: 38px;
  -ms-transform: rotate(0.0deg);
}
#s-99835fcb-1717-4c65-8b46-ca4b89145f76 #s-Image_93 {
  -ms-transform: rotate(0.0deg);
}
#s-99835fcb-1717-4c65-8b46-ca4b89145f76 #s-close-white {
  -ms-transform: rotate(0.0deg);
}
#s-99835fcb-1717-4c65-8b46-ca4b89145f76 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}