#s-becc133e-f0bb-4d6f-bc57-5973616f1a4e #s-Rectangle_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  border-radius: 10px 10px 10px 10px;
  -ms-transform: rotate(0.0deg);
}
#s-becc133e-f0bb-4d6f-bc57-5973616f1a4e #s-Rectangle_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=48);
  filter: alpha(opacity=48);
  -ms-transform: rotate(0.0deg);
}
#s-becc133e-f0bb-4d6f-bc57-5973616f1a4e #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-becc133e-f0bb-4d6f-bc57-5973616f1a4e #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-becc133e-f0bb-4d6f-bc57-5973616f1a4e #s-Button_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 196px;
  height: 23px;
  -ms-transform: rotate(0.0deg);
}
#s-becc133e-f0bb-4d6f-bc57-5973616f1a4e #s-Rectangle_33 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  border-radius: 1px 1px 1px 1px;
  -ms-transform: rotate(0.0deg);
}
#s-becc133e-f0bb-4d6f-bc57-5973616f1a4e #s-Rectangle_30 {
  -ms-transform: rotate(0.0deg);
}
#s-becc133e-f0bb-4d6f-bc57-5973616f1a4e #s-Rectangle_36 {
  -ms-transform: rotate(0.0deg);
}
#s-becc133e-f0bb-4d6f-bc57-5973616f1a4e #s-Rectangle_37 {
  -ms-transform: rotate(0.0deg);
}
#s-becc133e-f0bb-4d6f-bc57-5973616f1a4e #s-Paragraph_2 {
  -ms-transform: rotate(0.0deg);
}
#s-becc133e-f0bb-4d6f-bc57-5973616f1a4e #s-Paragraph_3 {
  -ms-transform: rotate(0.0deg);
}
#s-becc133e-f0bb-4d6f-bc57-5973616f1a4e #s-Rectangle_6 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  border-radius: 14px 14px 14px 14px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=97);
  filter: alpha(opacity=97);
  -ms-transform: rotate(0.0deg);
}
#s-becc133e-f0bb-4d6f-bc57-5973616f1a4e #s-Text_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
  filter: alpha(opacity=99);
  -ms-transform: rotate(0.0deg);
}
#s-becc133e-f0bb-4d6f-bc57-5973616f1a4e #s-Text_4 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
  filter: alpha(opacity=99);
  -ms-transform: rotate(0.0deg);
}
#s-becc133e-f0bb-4d6f-bc57-5973616f1a4e #s-Line_2 {
  border-top-width: 8px;
  border-top-style: solid;
  border-top-color: #F28B00;
  -ms-transform: rotate(0.0deg);
}
#s-becc133e-f0bb-4d6f-bc57-5973616f1a4e #s-Line_2 {
  border-top-width: 8px;
  border-top-style: solid;
  border-top-color: #F28B00;
  -ms-transform: rotate(0.0deg);
}
#s-becc133e-f0bb-4d6f-bc57-5973616f1a4e #s-Paragraph_5 {
  -ms-transform: rotate(0.0deg);
}
#s-becc133e-f0bb-4d6f-bc57-5973616f1a4e #s-Rectangle_17 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  border-radius: 4px 4px 4px 4px;
  -ms-transform: rotate(0.0deg);
}
#s-becc133e-f0bb-4d6f-bc57-5973616f1a4e #s-Rectangle_11 {
  -ms-transform: rotate(0.0deg);
}
#s-becc133e-f0bb-4d6f-bc57-5973616f1a4e #s-Rectangle_12 {
  -ms-transform: rotate(0.0deg);
}
#s-becc133e-f0bb-4d6f-bc57-5973616f1a4e #s-Rectangle_13 {
  -ms-transform: rotate(0.0deg);
}
#s-becc133e-f0bb-4d6f-bc57-5973616f1a4e #s-Rectangle_14 {
  -ms-transform: rotate(0.0deg);
}
#s-becc133e-f0bb-4d6f-bc57-5973616f1a4e #s-Rectangle_15 {
  -ms-transform: rotate(0.0deg);
}
#s-becc133e-f0bb-4d6f-bc57-5973616f1a4e #s-Rectangle_16 {
  -ms-transform: rotate(0.0deg);
}
#s-becc133e-f0bb-4d6f-bc57-5973616f1a4e #s-Rectangle_27 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-becc133e-f0bb-4d6f-bc57-5973616f1a4e #s-Rectangle_5 {
  -ms-transform: rotate(0.0deg);
}
#s-becc133e-f0bb-4d6f-bc57-5973616f1a4e #s-Rectangle_29 {
  -ms-transform: rotate(0.0deg);
}
#s-becc133e-f0bb-4d6f-bc57-5973616f1a4e #s-Rectangle_31 {
  -ms-transform: rotate(0.0deg);
}
#s-becc133e-f0bb-4d6f-bc57-5973616f1a4e #s-Rectangle_32 {
  -ms-transform: rotate(0.0deg);
}
#s-becc133e-f0bb-4d6f-bc57-5973616f1a4e #s-Rectangle_34 {
  -ms-transform: rotate(0.0deg);
}
#s-becc133e-f0bb-4d6f-bc57-5973616f1a4e #s-Category_1-options {
  background-color: #FFFFFF;
}
#s-becc133e-f0bb-4d6f-bc57-5973616f1a4e #s-Rectangle_35 {
  -ms-transform: rotate(0.0deg);
}
#s-becc133e-f0bb-4d6f-bc57-5973616f1a4e #s-Rectangle_38 {
  -ms-transform: rotate(0.0deg);
}
#s-becc133e-f0bb-4d6f-bc57-5973616f1a4e #s-Line_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-becc133e-f0bb-4d6f-bc57-5973616f1a4e #s-Line_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-becc133e-f0bb-4d6f-bc57-5973616f1a4e #s-Category_5-options {
  background-color: #FFFFFF;
}
#s-becc133e-f0bb-4d6f-bc57-5973616f1a4e #s-Category_6-options {
  background-color: #FFFFFF;
}
#s-becc133e-f0bb-4d6f-bc57-5973616f1a4e #s-Image_67 {
  -ms-transform: rotate(0.0deg);
}
#s-becc133e-f0bb-4d6f-bc57-5973616f1a4e #s-Paragraph_4 {
  -ms-transform: rotate(0.0deg);
}
#s-becc133e-f0bb-4d6f-bc57-5973616f1a4e #s-Paragraph_6 {
  -ms-transform: rotate(0.0deg);
}
#s-becc133e-f0bb-4d6f-bc57-5973616f1a4e #s-Paragraph_7 {
  -ms-transform: rotate(0.0deg);
}
#s-becc133e-f0bb-4d6f-bc57-5973616f1a4e #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-becc133e-f0bb-4d6f-bc57-5973616f1a4e #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-becc133e-f0bb-4d6f-bc57-5973616f1a4e #s-Paragraph_8 {
  -ms-transform: rotate(0.0deg);
}
#s-becc133e-f0bb-4d6f-bc57-5973616f1a4e #s-Image_68 {
  -ms-transform: rotate(0.0deg);
}
#s-becc133e-f0bb-4d6f-bc57-5973616f1a4e #s-Image_72 {
  -ms-transform: rotate(0.0deg);
}
#s-becc133e-f0bb-4d6f-bc57-5973616f1a4e #s-Image_87 {
  -ms-transform: rotate(0.0deg);
}
#s-becc133e-f0bb-4d6f-bc57-5973616f1a4e #s-Paragraph_12 {
  -ms-transform: rotate(0.0deg);
}
#s-becc133e-f0bb-4d6f-bc57-5973616f1a4e #s-Image_69 {
  -ms-transform: rotate(0.0deg);
}
#s-becc133e-f0bb-4d6f-bc57-5973616f1a4e #s-Rectangle_7 {
  -ms-transform: rotate(0.0deg);
}
#s-becc133e-f0bb-4d6f-bc57-5973616f1a4e #s-Rectangle_8 {
  -ms-transform: rotate(0.0deg);
}
#s-becc133e-f0bb-4d6f-bc57-5973616f1a4e #s-Rectangle_18 {
  -ms-transform: rotate(0.0deg);
}
#s-becc133e-f0bb-4d6f-bc57-5973616f1a4e #s-Rectangle_19 {
  -ms-transform: rotate(0.0deg);
}
#s-becc133e-f0bb-4d6f-bc57-5973616f1a4e #s-Rectangle_20 {
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #009FE3;
  -ms-transform: rotate(0.0deg);
}
#s-becc133e-f0bb-4d6f-bc57-5973616f1a4e #s-Rectangle_21 {
  -ms-transform: rotate(0.0deg);
}
#s-becc133e-f0bb-4d6f-bc57-5973616f1a4e #s-Image_86 {
  -ms-transform: rotate(0.0deg);
}
#s-becc133e-f0bb-4d6f-bc57-5973616f1a4e #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-becc133e-f0bb-4d6f-bc57-5973616f1a4e #s-Text_12 {
  -ms-transform: rotate(0.0deg);
}
#s-becc133e-f0bb-4d6f-bc57-5973616f1a4e #s-Text_13 {
  -ms-transform: rotate(0.0deg);
}
#s-becc133e-f0bb-4d6f-bc57-5973616f1a4e #s-Text_14 {
  -ms-transform: rotate(0.0deg);
}
#s-becc133e-f0bb-4d6f-bc57-5973616f1a4e #s-Line_5 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #757873;
  -ms-transform: rotate(89.0deg);
}
#s-becc133e-f0bb-4d6f-bc57-5973616f1a4e #s-Line_5 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #757873;
  -ms-transform: rotate(89.0deg);
}
#s-becc133e-f0bb-4d6f-bc57-5973616f1a4e #s-Line_6 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #757873;
  -ms-transform: rotate(89.0deg);
}
#s-becc133e-f0bb-4d6f-bc57-5973616f1a4e #s-Line_6 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #757873;
  -ms-transform: rotate(89.0deg);
}
#s-becc133e-f0bb-4d6f-bc57-5973616f1a4e #s-Line_7 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #757873;
  -ms-transform: rotate(89.0deg);
}
#s-becc133e-f0bb-4d6f-bc57-5973616f1a4e #s-Line_7 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #757873;
  -ms-transform: rotate(89.0deg);
}
#s-becc133e-f0bb-4d6f-bc57-5973616f1a4e #s-Line_8 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #757873;
  -ms-transform: rotate(89.0deg);
}
#s-becc133e-f0bb-4d6f-bc57-5973616f1a4e #s-Line_8 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #757873;
  -ms-transform: rotate(89.0deg);
}
#s-becc133e-f0bb-4d6f-bc57-5973616f1a4e #s-Line_10 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-becc133e-f0bb-4d6f-bc57-5973616f1a4e #s-Line_10 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-becc133e-f0bb-4d6f-bc57-5973616f1a4e #s-Line_11 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-becc133e-f0bb-4d6f-bc57-5973616f1a4e #s-Line_11 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-becc133e-f0bb-4d6f-bc57-5973616f1a4e #s-Line_12 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #009FE3;
  -ms-transform: rotate(0.0deg);
}
#s-becc133e-f0bb-4d6f-bc57-5973616f1a4e #s-Line_12 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #009FE3;
  -ms-transform: rotate(0.0deg);
}
#s-becc133e-f0bb-4d6f-bc57-5973616f1a4e #s-Line_13 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-becc133e-f0bb-4d6f-bc57-5973616f1a4e #s-Line_13 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-becc133e-f0bb-4d6f-bc57-5973616f1a4e #s-Text_15 {
  -ms-transform: rotate(0.0deg);
}
#s-becc133e-f0bb-4d6f-bc57-5973616f1a4e #s-Line_14 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-becc133e-f0bb-4d6f-bc57-5973616f1a4e #s-Line_14 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-becc133e-f0bb-4d6f-bc57-5973616f1a4e #s-Line_15 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #757873;
  -ms-transform: rotate(89.0deg);
}
#s-becc133e-f0bb-4d6f-bc57-5973616f1a4e #s-Line_15 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #757873;
  -ms-transform: rotate(89.0deg);
}
#s-becc133e-f0bb-4d6f-bc57-5973616f1a4e #s-Text_16 {
  -ms-transform: rotate(0.0deg);
}
#s-becc133e-f0bb-4d6f-bc57-5973616f1a4e #s-Line_17 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-becc133e-f0bb-4d6f-bc57-5973616f1a4e #s-Line_17 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-becc133e-f0bb-4d6f-bc57-5973616f1a4e > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}