#s-cbdc828b-9f47-48d8-9247-e56408919a76 #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  filter: alpha(opacity=60);
  -ms-transform: rotate(0.0deg);
}
#s-cbdc828b-9f47-48d8-9247-e56408919a76 #s-Line_12 {
  border-top-width: 1px;
  border-top-style: dotted;
  border-top-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-cbdc828b-9f47-48d8-9247-e56408919a76 #s-Line_12 {
  border-top-width: 1px;
  border-top-style: dotted;
  border-top-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-cbdc828b-9f47-48d8-9247-e56408919a76 #s-Paragraph_4 {
  -ms-transform: rotate(0.0deg);
}
#s-cbdc828b-9f47-48d8-9247-e56408919a76 #s-Image_13 {
  -ms-transform: rotate(0.0deg);
}
#s-cbdc828b-9f47-48d8-9247-e56408919a76 #s-Paragraph_5 {
  -ms-transform: rotate(0.0deg);
}
#s-cbdc828b-9f47-48d8-9247-e56408919a76 #s-Image_14 {
  -ms-transform: rotate(0.0deg);
}
#s-cbdc828b-9f47-48d8-9247-e56408919a76 #s-Button_12 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 11px 11px 11px 11px;
  padding-top: 6px;
  padding-right: 6px;
  padding-bottom: 6px;
  padding-left: 6px;
  width: 176px;
  height: 54px;
  -ms-transform: rotate(0.0deg);
}
#s-cbdc828b-9f47-48d8-9247-e56408919a76 #s-Paragraph_23 {
  -ms-transform: rotate(0.0deg);
}
#s-cbdc828b-9f47-48d8-9247-e56408919a76 #s-Paragraph_11 {
  -ms-transform: rotate(0.0deg);
}
#s-cbdc828b-9f47-48d8-9247-e56408919a76 #s-Text_63 {
  -ms-transform: rotate(0.0deg);
}
#s-cbdc828b-9f47-48d8-9247-e56408919a76 #s-Text_64 {
  -ms-transform: rotate(0.0deg);
}
#s-cbdc828b-9f47-48d8-9247-e56408919a76 #s-Text_75 {
  -ms-transform: rotate(0.0deg);
}
#s-cbdc828b-9f47-48d8-9247-e56408919a76 #s-Line_41 {
  border-top-width: 2px;
  border-top-style: dotted;
  border-top-color: #F28B00;
  -ms-transform: rotate(0.0deg);
}
#s-cbdc828b-9f47-48d8-9247-e56408919a76 #s-Line_41 {
  border-top-width: 2px;
  border-top-style: dotted;
  border-top-color: #F28B00;
  -ms-transform: rotate(0.0deg);
}
#s-cbdc828b-9f47-48d8-9247-e56408919a76 #s-Button_16 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 7px 7px 7px 7px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  width: 179px;
  height: 32px;
  -ms-transform: rotate(0.0deg);
}
#s-cbdc828b-9f47-48d8-9247-e56408919a76 #s-Paragraph_29 {
  -ms-transform: rotate(0.0deg);
}
#s-cbdc828b-9f47-48d8-9247-e56408919a76 #s-Text_36 {
  -ms-transform: rotate(0.0deg);
}
#s-cbdc828b-9f47-48d8-9247-e56408919a76 #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-cbdc828b-9f47-48d8-9247-e56408919a76 #s-Image_15 {
  -ms-transform: rotate(0.0deg);
}
#s-cbdc828b-9f47-48d8-9247-e56408919a76 #s-Paragraph_7 {
  -ms-transform: rotate(0.0deg);
}
#s-cbdc828b-9f47-48d8-9247-e56408919a76 #s-Button_13 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 11px 11px 11px 11px;
  padding-top: 6px;
  padding-right: 6px;
  padding-bottom: 6px;
  padding-left: 6px;
  width: 176px;
  height: 54px;
  -ms-transform: rotate(0.0deg);
}
#s-cbdc828b-9f47-48d8-9247-e56408919a76 #s-Paragraph_24 {
  -ms-transform: rotate(0.0deg);
}
#s-cbdc828b-9f47-48d8-9247-e56408919a76 #s-Paragraph_30 {
  -ms-transform: rotate(0.0deg);
}
#s-cbdc828b-9f47-48d8-9247-e56408919a76 #s-Text_65 {
  -ms-transform: rotate(0.0deg);
}
#s-cbdc828b-9f47-48d8-9247-e56408919a76 #s-Text_66 {
  -ms-transform: rotate(0.0deg);
}
#s-cbdc828b-9f47-48d8-9247-e56408919a76 #s-Text_85 {
  -ms-transform: rotate(0.0deg);
}
#s-cbdc828b-9f47-48d8-9247-e56408919a76 #s-Line_42 {
  border-top-width: 2px;
  border-top-style: dotted;
  border-top-color: #F28B00;
  -ms-transform: rotate(0.0deg);
}
#s-cbdc828b-9f47-48d8-9247-e56408919a76 #s-Line_42 {
  border-top-width: 2px;
  border-top-style: dotted;
  border-top-color: #F28B00;
  -ms-transform: rotate(0.0deg);
}
#s-cbdc828b-9f47-48d8-9247-e56408919a76 #s-Button_17 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 7px 7px 7px 7px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  width: 179px;
  height: 32px;
  -ms-transform: rotate(0.0deg);
}
#s-cbdc828b-9f47-48d8-9247-e56408919a76 #s-Paragraph_35 {
  -ms-transform: rotate(0.0deg);
}
#s-cbdc828b-9f47-48d8-9247-e56408919a76 #s-Text_38 {
  -ms-transform: rotate(0.0deg);
}
#s-cbdc828b-9f47-48d8-9247-e56408919a76 #s-Text_12 {
  -ms-transform: rotate(0.0deg);
}
#s-cbdc828b-9f47-48d8-9247-e56408919a76 #s-Image_18 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=56);
  filter: alpha(opacity=56);
}
#s-cbdc828b-9f47-48d8-9247-e56408919a76 #s-Paragraph_3 {
  -ms-transform: rotate(0.0deg);
}
#s-cbdc828b-9f47-48d8-9247-e56408919a76 #s-Paragraph_25 {
  -ms-transform: rotate(0.0deg);
}
#s-cbdc828b-9f47-48d8-9247-e56408919a76 #s-Button_15 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 11px 11px 11px 11px;
  padding-top: 6px;
  padding-right: 6px;
  padding-bottom: 6px;
  padding-left: 6px;
  width: 176px;
  height: 54px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: alpha(opacity=70);
  -ms-transform: rotate(0.0deg);
}
#s-cbdc828b-9f47-48d8-9247-e56408919a76 #s-Paragraph_26 {
  -ms-transform: rotate(0.0deg);
}
#s-cbdc828b-9f47-48d8-9247-e56408919a76 #s-Paragraph_16 {
  -ms-transform: rotate(0.0deg);
}
#s-cbdc828b-9f47-48d8-9247-e56408919a76 #s-Image_25 {
  -ms-transform: rotate(0.0deg);
}
#s-cbdc828b-9f47-48d8-9247-e56408919a76 #s-Image_28 {
  -ms-transform: rotate(0.0deg);
}
#s-cbdc828b-9f47-48d8-9247-e56408919a76 #s-Paragraph_8 {
  -ms-transform: rotate(0.0deg);
}
#s-cbdc828b-9f47-48d8-9247-e56408919a76 #s-Button_18 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 11px 11px 11px 11px;
  padding-top: 6px;
  padding-right: 6px;
  padding-bottom: 6px;
  padding-left: 6px;
  width: 176px;
  height: 54px;
  -ms-transform: rotate(0.0deg);
}
#s-cbdc828b-9f47-48d8-9247-e56408919a76 #s-Paragraph_31 {
  -ms-transform: rotate(0.0deg);
}
#s-cbdc828b-9f47-48d8-9247-e56408919a76 #s-Paragraph_17 {
  -ms-transform: rotate(0.0deg);
}
#s-cbdc828b-9f47-48d8-9247-e56408919a76 #s-Text_67 {
  -ms-transform: rotate(0.0deg);
}
#s-cbdc828b-9f47-48d8-9247-e56408919a76 #s-Text_68 {
  -ms-transform: rotate(0.0deg);
}
#s-cbdc828b-9f47-48d8-9247-e56408919a76 #s-Text_76 {
  -ms-transform: rotate(0.0deg);
}
#s-cbdc828b-9f47-48d8-9247-e56408919a76 #s-Line_43 {
  border-top-width: 2px;
  border-top-style: dotted;
  border-top-color: #C32822;
  -ms-transform: rotate(0.0deg);
}
#s-cbdc828b-9f47-48d8-9247-e56408919a76 #s-Line_43 {
  border-top-width: 2px;
  border-top-style: dotted;
  border-top-color: #C32822;
  -ms-transform: rotate(0.0deg);
}
#s-cbdc828b-9f47-48d8-9247-e56408919a76 #s-Button_19 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 7px 7px 7px 7px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  width: 179px;
  height: 32px;
  -ms-transform: rotate(0.0deg);
}
#s-cbdc828b-9f47-48d8-9247-e56408919a76 #s-Paragraph_32 {
  -ms-transform: rotate(0.0deg);
}
#s-cbdc828b-9f47-48d8-9247-e56408919a76 #s-Text_39 {
  -ms-transform: rotate(0.0deg);
}
#s-cbdc828b-9f47-48d8-9247-e56408919a76 #s-Text_13 {
  -ms-transform: rotate(0.0deg);
}
#s-cbdc828b-9f47-48d8-9247-e56408919a76 #s-Paragraph_9 {
  -ms-transform: rotate(0.0deg);
}
#s-cbdc828b-9f47-48d8-9247-e56408919a76 #s-Button_20 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 11px 11px 11px 11px;
  padding-top: 6px;
  padding-right: 6px;
  padding-bottom: 6px;
  padding-left: 6px;
  width: 176px;
  height: 54px;
  -ms-transform: rotate(0.0deg);
}
#s-cbdc828b-9f47-48d8-9247-e56408919a76 #s-Paragraph_33 {
  -ms-transform: rotate(0.0deg);
}
#s-cbdc828b-9f47-48d8-9247-e56408919a76 #s-Paragraph_18 {
  -ms-transform: rotate(0.0deg);
}
#s-cbdc828b-9f47-48d8-9247-e56408919a76 #s-Text_69 {
  -ms-transform: rotate(0.0deg);
}
#s-cbdc828b-9f47-48d8-9247-e56408919a76 #s-Text_70 {
  -ms-transform: rotate(0.0deg);
}
#s-cbdc828b-9f47-48d8-9247-e56408919a76 #s-Text_77 {
  -ms-transform: rotate(0.0deg);
}
#s-cbdc828b-9f47-48d8-9247-e56408919a76 #s-Button_22 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 7px 7px 7px 7px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  width: 179px;
  height: 32px;
  -ms-transform: rotate(0.0deg);
}
#s-cbdc828b-9f47-48d8-9247-e56408919a76 #s-Paragraph_39 {
  -ms-transform: rotate(0.0deg);
}
#s-cbdc828b-9f47-48d8-9247-e56408919a76 #s-Text_40 {
  -ms-transform: rotate(0.0deg);
}
#s-cbdc828b-9f47-48d8-9247-e56408919a76 #s-Text_14 {
  -ms-transform: rotate(0.0deg);
}
#s-cbdc828b-9f47-48d8-9247-e56408919a76 #s-Line_44 {
  border-top-width: 2px;
  border-top-style: dotted;
  border-top-color: #CEDF00;
  -ms-transform: rotate(0.0deg);
}
#s-cbdc828b-9f47-48d8-9247-e56408919a76 #s-Line_44 {
  border-top-width: 2px;
  border-top-style: dotted;
  border-top-color: #CEDF00;
  -ms-transform: rotate(0.0deg);
}
#s-cbdc828b-9f47-48d8-9247-e56408919a76 #s-Line_45 {
  border-top-width: 2px;
  border-top-style: dotted;
  border-top-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-cbdc828b-9f47-48d8-9247-e56408919a76 #s-Line_45 {
  border-top-width: 2px;
  border-top-style: dotted;
  border-top-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-cbdc828b-9f47-48d8-9247-e56408919a76 #s-Image_27 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=56);
  filter: alpha(opacity=56);
}
#s-cbdc828b-9f47-48d8-9247-e56408919a76 #s-Paragraph_44 {
  -ms-transform: rotate(0.0deg);
}
#s-cbdc828b-9f47-48d8-9247-e56408919a76 #s-Paragraph_45 {
  -ms-transform: rotate(0.0deg);
}
#s-cbdc828b-9f47-48d8-9247-e56408919a76 #s-Image_69 {
  -ms-transform: rotate(0.0deg);
}
#s-cbdc828b-9f47-48d8-9247-e56408919a76 #s-Rectangle_7 {
  -ms-transform: rotate(0.0deg);
}
#s-cbdc828b-9f47-48d8-9247-e56408919a76 #s-Rectangle_8 {
  -ms-transform: rotate(0.0deg);
}
#s-cbdc828b-9f47-48d8-9247-e56408919a76 #s-Rectangle_16 {
  -ms-transform: rotate(0.0deg);
}
#s-cbdc828b-9f47-48d8-9247-e56408919a76 #s-Rectangle_17 {
  -ms-transform: rotate(0.0deg);
}
#s-cbdc828b-9f47-48d8-9247-e56408919a76 #s-Rectangle_18 {
  -ms-transform: rotate(0.0deg);
}
#s-cbdc828b-9f47-48d8-9247-e56408919a76 #s-Rectangle_19 {
  -ms-transform: rotate(0.0deg);
}
#s-cbdc828b-9f47-48d8-9247-e56408919a76 #s-Image_86 {
  -ms-transform: rotate(0.0deg);
}
#s-cbdc828b-9f47-48d8-9247-e56408919a76 #s-Image_84 {
  -ms-transform: rotate(0.0deg);
}
#s-cbdc828b-9f47-48d8-9247-e56408919a76 #s-Image_85 {
  -ms-transform: rotate(0.0deg);
}
#s-cbdc828b-9f47-48d8-9247-e56408919a76 #s-Image_88 {
  -ms-transform: rotate(0.0deg);
}
#s-cbdc828b-9f47-48d8-9247-e56408919a76 #s-Paragraph_38 {
  -ms-transform: rotate(0.0deg);
}
#s-cbdc828b-9f47-48d8-9247-e56408919a76 #s-Button_4 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 8px 8px 8px 8px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  width: 157px;
  height: 38px;
  -ms-transform: rotate(0.0deg);
}
#s-cbdc828b-9f47-48d8-9247-e56408919a76 #s-Image_92 {
  -ms-transform: rotate(0.0deg);
}
#s-cbdc828b-9f47-48d8-9247-e56408919a76 #s-Text_17 {
  -ms-transform: rotate(0.0deg);
}
#s-cbdc828b-9f47-48d8-9247-e56408919a76 #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-cbdc828b-9f47-48d8-9247-e56408919a76 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-cbdc828b-9f47-48d8-9247-e56408919a76 #s-Image_78 {
  -ms-transform: rotate(0.0deg);
}
#s-cbdc828b-9f47-48d8-9247-e56408919a76 #s-Paragraph_10 {
  -ms-transform: rotate(0.0deg);
}
#s-cbdc828b-9f47-48d8-9247-e56408919a76 #s-Button_5 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 8px 8px 8px 8px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  width: 157px;
  height: 38px;
  -ms-transform: rotate(0.0deg);
}
#s-cbdc828b-9f47-48d8-9247-e56408919a76 #s-Image_79 {
  -ms-transform: rotate(0.0deg);
}
#s-cbdc828b-9f47-48d8-9247-e56408919a76 #s-Rectangle_9 {
  border-top-width: 1px;
  border-top-style: dotted;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: dotted;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: dotted;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-cbdc828b-9f47-48d8-9247-e56408919a76 #s-Image_32 {
  -ms-transform: rotate(0.0deg);
}
#s-cbdc828b-9f47-48d8-9247-e56408919a76 #s-Rectangle_10 {
  border-top-width: 1px;
  border-top-style: dotted;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: dotted;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: dotted;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-cbdc828b-9f47-48d8-9247-e56408919a76 #s-Text_60 {
  -ms-transform: rotate(0.0deg);
}
#s-cbdc828b-9f47-48d8-9247-e56408919a76 #s-Text_74 {
  -ms-transform: rotate(0.0deg);
}
#s-cbdc828b-9f47-48d8-9247-e56408919a76 #s-Rectangle_20 {
  border-top-width: 1px;
  border-top-style: dotted;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: dotted;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: dotted;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-cbdc828b-9f47-48d8-9247-e56408919a76 #s-Image_33 {
  -ms-transform: rotate(0.0deg);
}
#s-cbdc828b-9f47-48d8-9247-e56408919a76 #s-Text_79 {
  -ms-transform: rotate(0.0deg);
}
#s-cbdc828b-9f47-48d8-9247-e56408919a76 #s-Text_86 {
  -ms-transform: rotate(180.0deg);
}
#s-cbdc828b-9f47-48d8-9247-e56408919a76 #s-Text_87 {
  -ms-transform: rotate(0.0deg);
}
#s-cbdc828b-9f47-48d8-9247-e56408919a76 #s-Text_88 {
  -ms-transform: rotate(180.0deg);
}
#s-cbdc828b-9f47-48d8-9247-e56408919a76 #s-Rectangle_22 {
  border-top-width: 1px;
  border-top-style: dotted;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: dotted;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: dotted;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-cbdc828b-9f47-48d8-9247-e56408919a76 #s-Text_90 {
  -ms-transform: rotate(0.0deg);
}
#s-cbdc828b-9f47-48d8-9247-e56408919a76 #s-Text_106 {
  -ms-transform: rotate(0.0deg);
}
#s-cbdc828b-9f47-48d8-9247-e56408919a76 #s-Text_107 {
  -ms-transform: rotate(180.0deg);
}
#s-cbdc828b-9f47-48d8-9247-e56408919a76 #s-Rectangle_23 {
  border-top-width: 1px;
  border-top-style: dotted;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: dotted;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: dotted;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-cbdc828b-9f47-48d8-9247-e56408919a76 #s-Text_108 {
  -ms-transform: rotate(0.0deg);
}
#s-cbdc828b-9f47-48d8-9247-e56408919a76 #s-Image_67 {
  -ms-transform: rotate(0.0deg);
}
#s-cbdc828b-9f47-48d8-9247-e56408919a76 #s-Paragraph_21 {
  -ms-transform: rotate(0.0deg);
}
#s-cbdc828b-9f47-48d8-9247-e56408919a76 #s-Paragraph_12 {
  -ms-transform: rotate(0.0deg);
}
#s-cbdc828b-9f47-48d8-9247-e56408919a76 #s-Paragraph_13 {
  -ms-transform: rotate(0.0deg);
}
#s-cbdc828b-9f47-48d8-9247-e56408919a76 #s-Paragraph_14 {
  -ms-transform: rotate(0.0deg);
}
#s-cbdc828b-9f47-48d8-9247-e56408919a76 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-cbdc828b-9f47-48d8-9247-e56408919a76 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-cbdc828b-9f47-48d8-9247-e56408919a76 #s-Image_68 {
  -ms-transform: rotate(0.0deg);
}
#s-cbdc828b-9f47-48d8-9247-e56408919a76 #s-Image_72 {
  -ms-transform: rotate(0.0deg);
}
#s-cbdc828b-9f47-48d8-9247-e56408919a76 #s-Image_87 {
  -ms-transform: rotate(0.0deg);
}
#s-cbdc828b-9f47-48d8-9247-e56408919a76 #s-Rectangle_21 {
  -ms-transform: rotate(0.0deg);
}
#s-cbdc828b-9f47-48d8-9247-e56408919a76 #s-Button_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 11px 11px 11px 11px;
  padding-top: 6px;
  padding-right: 6px;
  padding-bottom: 6px;
  padding-left: 6px;
  width: 380px;
  height: 57px;
  -ms-transform: rotate(0.0deg);
}
#s-cbdc828b-9f47-48d8-9247-e56408919a76 #s-Paragraph_43 {
  -ms-transform: rotate(0.0deg);
}
#s-cbdc828b-9f47-48d8-9247-e56408919a76 #s-Image_10 {
  -ms-transform: rotate(0.0deg);
}
#s-cbdc828b-9f47-48d8-9247-e56408919a76 #s-Button_11 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 11px 11px 11px 11px;
  padding-top: 6px;
  padding-right: 6px;
  padding-bottom: 6px;
  padding-left: 6px;
  width: 176px;
  height: 54px;
  -ms-transform: rotate(0.0deg);
}
#s-cbdc828b-9f47-48d8-9247-e56408919a76 #s-Paragraph_22 {
  -ms-transform: rotate(0.0deg);
}
#s-cbdc828b-9f47-48d8-9247-e56408919a76 #s-Button_14 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 7px 7px 7px 7px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  width: 179px;
  height: 32px;
  -ms-transform: rotate(0.0deg);
}
#s-cbdc828b-9f47-48d8-9247-e56408919a76 #s-Paragraph_27 {
  -ms-transform: rotate(0.0deg);
}
#s-cbdc828b-9f47-48d8-9247-e56408919a76 #s-Text_37 {
  -ms-transform: rotate(0.0deg);
}
#s-cbdc828b-9f47-48d8-9247-e56408919a76 #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-cbdc828b-9f47-48d8-9247-e56408919a76 #s-Paragraph_34 {
  -ms-transform: rotate(0.0deg);
}
#s-cbdc828b-9f47-48d8-9247-e56408919a76 #s-Text_72 {
  -ms-transform: rotate(0.0deg);
}
#s-cbdc828b-9f47-48d8-9247-e56408919a76 #s-Text_80 {
  -ms-transform: rotate(0.0deg);
}
#s-cbdc828b-9f47-48d8-9247-e56408919a76 #s-Text_84 {
  -ms-transform: rotate(0.0deg);
}
#s-cbdc828b-9f47-48d8-9247-e56408919a76 #s-Paragraph_6 {
  -ms-transform: rotate(0.0deg);
}
#s-cbdc828b-9f47-48d8-9247-e56408919a76 #s-Line_40 {
  border-top-width: 2px;
  border-top-style: dotted;
  border-top-color: #60676E;
  -ms-transform: rotate(0.0deg);
}
#s-cbdc828b-9f47-48d8-9247-e56408919a76 #s-Line_40 {
  border-top-width: 2px;
  border-top-style: dotted;
  border-top-color: #60676E;
  -ms-transform: rotate(0.0deg);
}
#s-cbdc828b-9f47-48d8-9247-e56408919a76 #s-Image_24 {
  -ms-transform: rotate(0.0deg);
}
#s-cbdc828b-9f47-48d8-9247-e56408919a76 #s-Paragraph_19 {
  -ms-transform: rotate(0.0deg);
}
#s-cbdc828b-9f47-48d8-9247-e56408919a76 #s-Button_23 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 11px 11px 11px 11px;
  padding-top: 6px;
  padding-right: 6px;
  padding-bottom: 6px;
  padding-left: 6px;
  width: 176px;
  height: 54px;
  -ms-transform: rotate(0.0deg);
}
#s-cbdc828b-9f47-48d8-9247-e56408919a76 #s-Paragraph_40 {
  -ms-transform: rotate(0.0deg);
}
#s-cbdc828b-9f47-48d8-9247-e56408919a76 #s-Paragraph_41 {
  -ms-transform: rotate(0.0deg);
}
#s-cbdc828b-9f47-48d8-9247-e56408919a76 #s-Text_71 {
  -ms-transform: rotate(0.0deg);
}
#s-cbdc828b-9f47-48d8-9247-e56408919a76 #s-Text_73 {
  -ms-transform: rotate(0.0deg);
}
#s-cbdc828b-9f47-48d8-9247-e56408919a76 #s-Text_78 {
  -ms-transform: rotate(0.0deg);
}
#s-cbdc828b-9f47-48d8-9247-e56408919a76 #s-Button_24 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 7px 7px 7px 7px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  width: 179px;
  height: 32px;
  -ms-transform: rotate(0.0deg);
}
#s-cbdc828b-9f47-48d8-9247-e56408919a76 #s-Paragraph_42 {
  -ms-transform: rotate(0.0deg);
}
#s-cbdc828b-9f47-48d8-9247-e56408919a76 #s-Text_41 {
  -ms-transform: rotate(0.0deg);
}
#s-cbdc828b-9f47-48d8-9247-e56408919a76 #s-Text_15 {
  -ms-transform: rotate(0.0deg);
}
#s-cbdc828b-9f47-48d8-9247-e56408919a76 #s-Button_25 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 11px 11px 11px 11px;
  padding-top: 6px;
  padding-right: 6px;
  padding-bottom: 6px;
  padding-left: 6px;
  width: 176px;
  height: 54px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=68);
  filter: alpha(opacity=68);
  -ms-transform: rotate(0.0deg);
}
#s-cbdc828b-9f47-48d8-9247-e56408919a76 #s-Paragraph_47 {
  -ms-transform: rotate(0.0deg);
}
#s-cbdc828b-9f47-48d8-9247-e56408919a76 #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-cbdc828b-9f47-48d8-9247-e56408919a76 #s-Text_16 {
  -ms-transform: rotate(0.0deg);
}
#s-cbdc828b-9f47-48d8-9247-e56408919a76 #s-Text_18 {
  -ms-transform: rotate(0.0deg);
}
#s-cbdc828b-9f47-48d8-9247-e56408919a76 #s-Text_19 {
  -ms-transform: rotate(0.0deg);
}
#s-cbdc828b-9f47-48d8-9247-e56408919a76 #s-Line_5 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #757873;
  -ms-transform: rotate(89.0deg);
}
#s-cbdc828b-9f47-48d8-9247-e56408919a76 #s-Line_5 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #757873;
  -ms-transform: rotate(89.0deg);
}
#s-cbdc828b-9f47-48d8-9247-e56408919a76 #s-Line_6 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #757873;
  -ms-transform: rotate(89.0deg);
}
#s-cbdc828b-9f47-48d8-9247-e56408919a76 #s-Line_6 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #757873;
  -ms-transform: rotate(89.0deg);
}
#s-cbdc828b-9f47-48d8-9247-e56408919a76 #s-Line_7 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #757873;
  -ms-transform: rotate(89.0deg);
}
#s-cbdc828b-9f47-48d8-9247-e56408919a76 #s-Line_7 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #757873;
  -ms-transform: rotate(89.0deg);
}
#s-cbdc828b-9f47-48d8-9247-e56408919a76 #s-Line_8 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #757873;
  -ms-transform: rotate(89.0deg);
}
#s-cbdc828b-9f47-48d8-9247-e56408919a76 #s-Line_8 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #757873;
  -ms-transform: rotate(89.0deg);
}
#s-cbdc828b-9f47-48d8-9247-e56408919a76 #s-Line_9 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-cbdc828b-9f47-48d8-9247-e56408919a76 #s-Line_9 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-cbdc828b-9f47-48d8-9247-e56408919a76 #s-Line_10 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-cbdc828b-9f47-48d8-9247-e56408919a76 #s-Line_10 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-cbdc828b-9f47-48d8-9247-e56408919a76 #s-Line_11 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-cbdc828b-9f47-48d8-9247-e56408919a76 #s-Line_11 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-cbdc828b-9f47-48d8-9247-e56408919a76 #s-Line_13 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-cbdc828b-9f47-48d8-9247-e56408919a76 #s-Line_13 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-cbdc828b-9f47-48d8-9247-e56408919a76 #s-Text_20 {
  -ms-transform: rotate(0.0deg);
}
#s-cbdc828b-9f47-48d8-9247-e56408919a76 #s-Line_14 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-cbdc828b-9f47-48d8-9247-e56408919a76 #s-Line_14 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-cbdc828b-9f47-48d8-9247-e56408919a76 #s-Line_15 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #757873;
  -ms-transform: rotate(89.0deg);
}
#s-cbdc828b-9f47-48d8-9247-e56408919a76 #s-Line_15 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #757873;
  -ms-transform: rotate(89.0deg);
}
#s-cbdc828b-9f47-48d8-9247-e56408919a76 #s-Text_21 {
  -ms-transform: rotate(0.0deg);
}
#s-cbdc828b-9f47-48d8-9247-e56408919a76 #s-Line_17 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-cbdc828b-9f47-48d8-9247-e56408919a76 #s-Line_17 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-cbdc828b-9f47-48d8-9247-e56408919a76 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}