#s-e57c7af8-7c31-4e9c-a91a-3205027dc2c1 #s-Rectangle_5 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=48);
  filter: alpha(opacity=48);
  -ms-transform: rotate(0.0deg);
}
#s-e57c7af8-7c31-4e9c-a91a-3205027dc2c1 #s-Image_66 {
  -ms-transform: rotate(0.0deg);
}
#s-e57c7af8-7c31-4e9c-a91a-3205027dc2c1 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-e57c7af8-7c31-4e9c-a91a-3205027dc2c1 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-e57c7af8-7c31-4e9c-a91a-3205027dc2c1 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-e57c7af8-7c31-4e9c-a91a-3205027dc2c1 #s-Paragraph_7 {
  -ms-transform: rotate(0.0deg);
}
#s-e57c7af8-7c31-4e9c-a91a-3205027dc2c1 #s-Line_1 {
  border-top-width: 1px;
  border-top-style: dotted;
  border-top-color: #F28B00;
  -ms-transform: rotate(0.0deg);
}
#s-e57c7af8-7c31-4e9c-a91a-3205027dc2c1 #s-Line_1 {
  border-top-width: 1px;
  border-top-style: dotted;
  border-top-color: #F28B00;
  -ms-transform: rotate(0.0deg);
}
#s-e57c7af8-7c31-4e9c-a91a-3205027dc2c1 #s-Line_2 {
  border-top-width: 1px;
  border-top-style: dotted;
  border-top-color: #F28B00;
  -ms-transform: rotate(0.0deg);
}
#s-e57c7af8-7c31-4e9c-a91a-3205027dc2c1 #s-Line_2 {
  border-top-width: 1px;
  border-top-style: dotted;
  border-top-color: #F28B00;
  -ms-transform: rotate(0.0deg);
}
#s-e57c7af8-7c31-4e9c-a91a-3205027dc2c1 #s-Image_69 {
  -ms-transform: rotate(0.0deg);
}
#s-e57c7af8-7c31-4e9c-a91a-3205027dc2c1 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-e57c7af8-7c31-4e9c-a91a-3205027dc2c1 #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-e57c7af8-7c31-4e9c-a91a-3205027dc2c1 #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-e57c7af8-7c31-4e9c-a91a-3205027dc2c1 #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-e57c7af8-7c31-4e9c-a91a-3205027dc2c1 #s-Text_13 {
  -ms-transform: rotate(0.0deg);
}
#s-e57c7af8-7c31-4e9c-a91a-3205027dc2c1 #s-Line_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #757873;
  -ms-transform: rotate(89.0deg);
}
#s-e57c7af8-7c31-4e9c-a91a-3205027dc2c1 #s-Line_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #757873;
  -ms-transform: rotate(89.0deg);
}
#s-e57c7af8-7c31-4e9c-a91a-3205027dc2c1 #s-Line_4 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #757873;
  -ms-transform: rotate(89.0deg);
}
#s-e57c7af8-7c31-4e9c-a91a-3205027dc2c1 #s-Line_4 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #757873;
  -ms-transform: rotate(89.0deg);
}
#s-e57c7af8-7c31-4e9c-a91a-3205027dc2c1 #s-Line_5 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #757873;
  -ms-transform: rotate(89.0deg);
}
#s-e57c7af8-7c31-4e9c-a91a-3205027dc2c1 #s-Line_5 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #757873;
  -ms-transform: rotate(89.0deg);
}
#s-e57c7af8-7c31-4e9c-a91a-3205027dc2c1 #s-Line_6 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #757873;
  -ms-transform: rotate(89.0deg);
}
#s-e57c7af8-7c31-4e9c-a91a-3205027dc2c1 #s-Line_6 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #757873;
  -ms-transform: rotate(89.0deg);
}
#s-e57c7af8-7c31-4e9c-a91a-3205027dc2c1 #s-Line_7 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-e57c7af8-7c31-4e9c-a91a-3205027dc2c1 #s-Line_7 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-e57c7af8-7c31-4e9c-a91a-3205027dc2c1 #s-Line_8 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-e57c7af8-7c31-4e9c-a91a-3205027dc2c1 #s-Line_8 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-e57c7af8-7c31-4e9c-a91a-3205027dc2c1 #s-Line_9 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-e57c7af8-7c31-4e9c-a91a-3205027dc2c1 #s-Line_9 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-e57c7af8-7c31-4e9c-a91a-3205027dc2c1 #s-Line_10 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-e57c7af8-7c31-4e9c-a91a-3205027dc2c1 #s-Line_10 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-e57c7af8-7c31-4e9c-a91a-3205027dc2c1 #s-Line_11 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-e57c7af8-7c31-4e9c-a91a-3205027dc2c1 #s-Line_11 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-e57c7af8-7c31-4e9c-a91a-3205027dc2c1 #s-Image_70 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: alpha(opacity=70);
}
#s-e57c7af8-7c31-4e9c-a91a-3205027dc2c1 #s-Image_71 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: alpha(opacity=70);
}
#s-e57c7af8-7c31-4e9c-a91a-3205027dc2c1 #s-Rectangle_6 {
  -ms-transform: rotate(0.0deg);
}
#s-e57c7af8-7c31-4e9c-a91a-3205027dc2c1 #s-Rectangle_8 {
  -ms-transform: rotate(0.0deg);
}
#s-e57c7af8-7c31-4e9c-a91a-3205027dc2c1 #s-Rectangle_16 {
  -ms-transform: rotate(0.0deg);
}
#s-e57c7af8-7c31-4e9c-a91a-3205027dc2c1 #s-Rectangle_17 {
  -ms-transform: rotate(0.0deg);
}
#s-e57c7af8-7c31-4e9c-a91a-3205027dc2c1 #s-Rectangle_18 {
  -ms-transform: rotate(0.0deg);
}
#s-e57c7af8-7c31-4e9c-a91a-3205027dc2c1 #s-Rectangle_19 {
  -ms-transform: rotate(0.0deg);
}
#s-e57c7af8-7c31-4e9c-a91a-3205027dc2c1 #s-Rectangle_20 {
  -ms-transform: rotate(0.0deg);
}
#s-e57c7af8-7c31-4e9c-a91a-3205027dc2c1 #s-Text_14 {
  -ms-transform: rotate(0.0deg);
}
#s-e57c7af8-7c31-4e9c-a91a-3205027dc2c1 #s-Image_73 {
  -ms-transform: rotate(0.0deg);
}
#s-e57c7af8-7c31-4e9c-a91a-3205027dc2c1 #s-Image_74 {
  -ms-transform: rotate(0.0deg);
}
#s-e57c7af8-7c31-4e9c-a91a-3205027dc2c1 #s-Image_75 {
  -ms-transform: rotate(0.0deg);
}
#s-e57c7af8-7c31-4e9c-a91a-3205027dc2c1 #s-Image_76 {
  -ms-transform: rotate(0.0deg);
}
#s-e57c7af8-7c31-4e9c-a91a-3205027dc2c1 #s-Image_77 {
  -ms-transform: rotate(0.0deg);
}
#s-e57c7af8-7c31-4e9c-a91a-3205027dc2c1 #s-Image_78 {
  -ms-transform: rotate(0.0deg);
}
#s-e57c7af8-7c31-4e9c-a91a-3205027dc2c1 #s-Paragraph_10 {
  -ms-transform: rotate(0.0deg);
}
#s-e57c7af8-7c31-4e9c-a91a-3205027dc2c1 #s-Button_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 8px 8px 8px 8px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  width: 157px;
  height: 38px;
  -ms-transform: rotate(0.0deg);
}
#s-e57c7af8-7c31-4e9c-a91a-3205027dc2c1 #s-Image_79 {
  -ms-transform: rotate(0.0deg);
}
#s-e57c7af8-7c31-4e9c-a91a-3205027dc2c1 #s-Paragraph_11 {
  -ms-transform: rotate(0.0deg);
}
#s-e57c7af8-7c31-4e9c-a91a-3205027dc2c1 #s-Button_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 8px 8px 8px 8px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  width: 157px;
  height: 38px;
  -ms-transform: rotate(0.0deg);
}
#s-e57c7af8-7c31-4e9c-a91a-3205027dc2c1 #s-Image_80 {
  -ms-transform: rotate(0.0deg);
}
#s-e57c7af8-7c31-4e9c-a91a-3205027dc2c1 #s-Image_81 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: alpha(opacity=70);
}
#s-e57c7af8-7c31-4e9c-a91a-3205027dc2c1 #s-Rectangle_21 {
  border-top-width: 1px;
  border-top-style: dotted;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: dotted;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: dotted;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-e57c7af8-7c31-4e9c-a91a-3205027dc2c1 #s-Image_82 {
  -ms-transform: rotate(0.0deg);
}
#s-e57c7af8-7c31-4e9c-a91a-3205027dc2c1 #s-Rectangle_22 {
  border-top-width: 1px;
  border-top-style: dotted;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: dotted;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: dotted;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-e57c7af8-7c31-4e9c-a91a-3205027dc2c1 #s-Text_26 {
  -ms-transform: rotate(0.0deg);
}
#s-e57c7af8-7c31-4e9c-a91a-3205027dc2c1 #s-Text_27 {
  -ms-transform: rotate(0.0deg);
}
#s-e57c7af8-7c31-4e9c-a91a-3205027dc2c1 #s-Rectangle_23 {
  border-top-width: 1px;
  border-top-style: dotted;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: dotted;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: dotted;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-e57c7af8-7c31-4e9c-a91a-3205027dc2c1 #s-Image_83 {
  -ms-transform: rotate(0.0deg);
}
#s-e57c7af8-7c31-4e9c-a91a-3205027dc2c1 #s-Text_29 {
  -ms-transform: rotate(0.0deg);
}
#s-e57c7af8-7c31-4e9c-a91a-3205027dc2c1 #s-Text_30 {
  -ms-transform: rotate(180.0deg);
}
#s-e57c7af8-7c31-4e9c-a91a-3205027dc2c1 #s-Text_31 {
  -ms-transform: rotate(0.0deg);
}
#s-e57c7af8-7c31-4e9c-a91a-3205027dc2c1 #s-Text_32 {
  -ms-transform: rotate(180.0deg);
}
#s-e57c7af8-7c31-4e9c-a91a-3205027dc2c1 #s-Rectangle_24 {
  border-top-width: 1px;
  border-top-style: dotted;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: dotted;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: dotted;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-e57c7af8-7c31-4e9c-a91a-3205027dc2c1 #s-Text_33 {
  -ms-transform: rotate(0.0deg);
}
#s-e57c7af8-7c31-4e9c-a91a-3205027dc2c1 #s-Text_39 {
  -ms-transform: rotate(0.0deg);
}
#s-e57c7af8-7c31-4e9c-a91a-3205027dc2c1 #s-Text_40 {
  -ms-transform: rotate(180.0deg);
}
#s-e57c7af8-7c31-4e9c-a91a-3205027dc2c1 #s-Rectangle_25 {
  border-top-width: 1px;
  border-top-style: dotted;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: dotted;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: dotted;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-e57c7af8-7c31-4e9c-a91a-3205027dc2c1 #s-Text_41 {
  -ms-transform: rotate(0.0deg);
}
#s-e57c7af8-7c31-4e9c-a91a-3205027dc2c1 #s-Image_84 {
  -ms-transform: rotate(0.0deg);
}
#s-e57c7af8-7c31-4e9c-a91a-3205027dc2c1 #s-Image_85 {
  -ms-transform: rotate(180.0deg);
}
#s-e57c7af8-7c31-4e9c-a91a-3205027dc2c1 #s-Image_86 {
  -ms-transform: rotate(0.0deg);
}
#s-e57c7af8-7c31-4e9c-a91a-3205027dc2c1 #s-Image_67 {
  -ms-transform: rotate(0.0deg);
}
#s-e57c7af8-7c31-4e9c-a91a-3205027dc2c1 #s-Paragraph_2 {
  -ms-transform: rotate(0.0deg);
}
#s-e57c7af8-7c31-4e9c-a91a-3205027dc2c1 #s-Paragraph_3 {
  -ms-transform: rotate(0.0deg);
}
#s-e57c7af8-7c31-4e9c-a91a-3205027dc2c1 #s-Paragraph_5 {
  -ms-transform: rotate(0.0deg);
}
#s-e57c7af8-7c31-4e9c-a91a-3205027dc2c1 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-e57c7af8-7c31-4e9c-a91a-3205027dc2c1 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-e57c7af8-7c31-4e9c-a91a-3205027dc2c1 #s-Paragraph_6 {
  -ms-transform: rotate(0.0deg);
}
#s-e57c7af8-7c31-4e9c-a91a-3205027dc2c1 #s-Image_68 {
  -ms-transform: rotate(0.0deg);
}
#s-e57c7af8-7c31-4e9c-a91a-3205027dc2c1 #s-Image_72 {
  -ms-transform: rotate(0.0deg);
}
#s-e57c7af8-7c31-4e9c-a91a-3205027dc2c1 #s-Image_87 {
  -ms-transform: rotate(0.0deg);
}
#s-e57c7af8-7c31-4e9c-a91a-3205027dc2c1 #s-Paragraph_12 {
  -ms-transform: rotate(0.0deg);
}
#s-e57c7af8-7c31-4e9c-a91a-3205027dc2c1 #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-e57c7af8-7c31-4e9c-a91a-3205027dc2c1 #s-Line_12 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-e57c7af8-7c31-4e9c-a91a-3205027dc2c1 #s-Line_12 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-e57c7af8-7c31-4e9c-a91a-3205027dc2c1 #s-Line_13 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #757873;
  -ms-transform: rotate(89.0deg);
}
#s-e57c7af8-7c31-4e9c-a91a-3205027dc2c1 #s-Line_13 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #757873;
  -ms-transform: rotate(89.0deg);
}
#s-e57c7af8-7c31-4e9c-a91a-3205027dc2c1 #s-Rectangle_7 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=87);
  filter: alpha(opacity=87);
  -ms-transform: rotate(0.0deg);
}
#s-e57c7af8-7c31-4e9c-a91a-3205027dc2c1 #s-Paragraph_13 {
  -ms-transform: rotate(0.0deg);
}
#s-e57c7af8-7c31-4e9c-a91a-3205027dc2c1 #s-Rectangle_12 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  border-radius: 15px 15px 15px 15px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=97);
  filter: alpha(opacity=97);
  -ms-transform: rotate(0.0deg);
}
#s-e57c7af8-7c31-4e9c-a91a-3205027dc2c1 #s-Rectangle_14 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #08A2D8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #08A2D8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #08A2D8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #08A2D8;
  border-radius: 12px 12px 12px 12px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=97);
  filter: alpha(opacity=97);
  -ms-transform: rotate(0.0deg);
}
#s-e57c7af8-7c31-4e9c-a91a-3205027dc2c1 #s-Rectangle_9 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #08A2D8;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #08A2D8;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #08A2D8;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #08A2D8;
  -ms-transform: rotate(0.0deg);
}
#s-e57c7af8-7c31-4e9c-a91a-3205027dc2c1 #s-Rectangle_10 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #08A2D8;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #08A2D8;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #08A2D8;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #08A2D8;
  -ms-transform: rotate(0.0deg);
}
#s-e57c7af8-7c31-4e9c-a91a-3205027dc2c1 #s-Rectangle_13 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #F28F08;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #F28F08;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F28F08;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #F28F08;
  border-radius: 12px 12px 12px 12px;
  -ms-transform: rotate(0.0deg);
}
#s-e57c7af8-7c31-4e9c-a91a-3205027dc2c1 #s-Rectangle_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #F28B00;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #F28B00;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #F28B00;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #F28B00;
  -ms-transform: rotate(0.0deg);
}
#s-e57c7af8-7c31-4e9c-a91a-3205027dc2c1 #s-Rectangle_11 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #F28B00;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #F28B00;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #F28B00;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #F28B00;
  -ms-transform: rotate(0.0deg);
}
#s-e57c7af8-7c31-4e9c-a91a-3205027dc2c1 #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-e57c7af8-7c31-4e9c-a91a-3205027dc2c1 #s-Rectangle_15 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  -ms-transform: rotate(0.0deg);
}
#s-e57c7af8-7c31-4e9c-a91a-3205027dc2c1 #s-Paragraph_8 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98);
  filter: alpha(opacity=98);
  -ms-transform: rotate(0.0deg);
}
#s-e57c7af8-7c31-4e9c-a91a-3205027dc2c1 #s-Paragraph_14 {
  -ms-transform: rotate(0.0deg);
}
#s-e57c7af8-7c31-4e9c-a91a-3205027dc2c1 #s-Button_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 220px;
  height: 23px;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-e57c7af8-7c31-4e9c-a91a-3205027dc2c1 #s-Text_12 {
  -ms-transform: rotate(0.0deg);
}
#s-e57c7af8-7c31-4e9c-a91a-3205027dc2c1 #s-Rectangle_26 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  -ms-transform: rotate(0.0deg);
}
#s-e57c7af8-7c31-4e9c-a91a-3205027dc2c1 #s-Label_11 {
  -ms-transform: rotate(0.0deg);
}
#s-e57c7af8-7c31-4e9c-a91a-3205027dc2c1 #s-Rectangle_27 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  -ms-transform: rotate(0.0deg);
}
#s-e57c7af8-7c31-4e9c-a91a-3205027dc2c1 #s-Label_4 {
  -ms-transform: rotate(0.0deg);
}
#s-e57c7af8-7c31-4e9c-a91a-3205027dc2c1 #s-Paragraph_19 {
  -ms-transform: rotate(0.0deg);
}
#s-e57c7af8-7c31-4e9c-a91a-3205027dc2c1 #s-Button_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 220px;
  height: 23px;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-e57c7af8-7c31-4e9c-a91a-3205027dc2c1 #s-Label_9 {
  -ms-transform: rotate(0.0deg);
}
#s-e57c7af8-7c31-4e9c-a91a-3205027dc2c1 #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-e57c7af8-7c31-4e9c-a91a-3205027dc2c1 #s-Text_15 {
  -ms-transform: rotate(0.0deg);
}
#s-e57c7af8-7c31-4e9c-a91a-3205027dc2c1 #s-close-white {
  -ms-transform: rotate(0.0deg);
}
#s-e57c7af8-7c31-4e9c-a91a-3205027dc2c1 #s-Text_16 {
  -ms-transform: rotate(0.0deg);
}
#s-e57c7af8-7c31-4e9c-a91a-3205027dc2c1 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}