#s-f8a1a0de-0b67-42c6-9258-5fbf5b0a8619 #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  filter: alpha(opacity=60);
  -ms-transform: rotate(0.0deg);
}
#s-f8a1a0de-0b67-42c6-9258-5fbf5b0a8619 #s-Text_13 {
  -ms-transform: rotate(0.0deg);
}
#s-f8a1a0de-0b67-42c6-9258-5fbf5b0a8619 #s-Image_21 {
  -ms-transform: rotate(0.0deg);
}
#s-f8a1a0de-0b67-42c6-9258-5fbf5b0a8619 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=95);
  filter: alpha(opacity=95);
}
#s-f8a1a0de-0b67-42c6-9258-5fbf5b0a8619 #s-Rectangle_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=76);
  filter: alpha(opacity=76);
  -ms-transform: rotate(0.0deg);
}
#s-f8a1a0de-0b67-42c6-9258-5fbf5b0a8619 #s-Paragraph_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  filter: alpha(opacity=80);
  -ms-transform: rotate(0.0deg);
}
#s-f8a1a0de-0b67-42c6-9258-5fbf5b0a8619 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-f8a1a0de-0b67-42c6-9258-5fbf5b0a8619 #s-Paragraph_17 {
  -ms-transform: rotate(0.0deg);
}
#s-f8a1a0de-0b67-42c6-9258-5fbf5b0a8619 #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-f8a1a0de-0b67-42c6-9258-5fbf5b0a8619 #s-Paragraph_18 {
  -ms-transform: rotate(0.0deg);
}
#s-f8a1a0de-0b67-42c6-9258-5fbf5b0a8619 #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-f8a1a0de-0b67-42c6-9258-5fbf5b0a8619 #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-f8a1a0de-0b67-42c6-9258-5fbf5b0a8619 #s-Text_14 {
  -ms-transform: rotate(0.0deg);
}
#s-f8a1a0de-0b67-42c6-9258-5fbf5b0a8619 #s-Line_4 {
  border-top-width: 1px;
  border-top-style: dotted;
  border-top-color: #009FE3;
  -ms-transform: rotate(0.0deg);
}
#s-f8a1a0de-0b67-42c6-9258-5fbf5b0a8619 #s-Line_4 {
  border-top-width: 1px;
  border-top-style: dotted;
  border-top-color: #009FE3;
  -ms-transform: rotate(0.0deg);
}
#s-f8a1a0de-0b67-42c6-9258-5fbf5b0a8619 #s-Image_69 {
  -ms-transform: rotate(0.0deg);
}
#s-f8a1a0de-0b67-42c6-9258-5fbf5b0a8619 #s-Rectangle_6 {
  -ms-transform: rotate(0.0deg);
}
#s-f8a1a0de-0b67-42c6-9258-5fbf5b0a8619 #s-Rectangle_8 {
  -ms-transform: rotate(0.0deg);
}
#s-f8a1a0de-0b67-42c6-9258-5fbf5b0a8619 #s-Rectangle_16 {
  -ms-transform: rotate(0.0deg);
}
#s-f8a1a0de-0b67-42c6-9258-5fbf5b0a8619 #s-Rectangle_17 {
  -ms-transform: rotate(0.0deg);
}
#s-f8a1a0de-0b67-42c6-9258-5fbf5b0a8619 #s-Rectangle_18 {
  -ms-transform: rotate(0.0deg);
}
#s-f8a1a0de-0b67-42c6-9258-5fbf5b0a8619 #s-Rectangle_19 {
  -ms-transform: rotate(0.0deg);
}
#s-f8a1a0de-0b67-42c6-9258-5fbf5b0a8619 #s-Image_86 {
  -ms-transform: rotate(0.0deg);
}
#s-f8a1a0de-0b67-42c6-9258-5fbf5b0a8619 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-f8a1a0de-0b67-42c6-9258-5fbf5b0a8619 #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-f8a1a0de-0b67-42c6-9258-5fbf5b0a8619 #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-f8a1a0de-0b67-42c6-9258-5fbf5b0a8619 #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-f8a1a0de-0b67-42c6-9258-5fbf5b0a8619 #s-Text_15 {
  -ms-transform: rotate(0.0deg);
}
#s-f8a1a0de-0b67-42c6-9258-5fbf5b0a8619 #s-Line_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #757873;
  -ms-transform: rotate(89.0deg);
}
#s-f8a1a0de-0b67-42c6-9258-5fbf5b0a8619 #s-Line_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #757873;
  -ms-transform: rotate(89.0deg);
}
#s-f8a1a0de-0b67-42c6-9258-5fbf5b0a8619 #s-Line_5 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #757873;
  -ms-transform: rotate(89.0deg);
}
#s-f8a1a0de-0b67-42c6-9258-5fbf5b0a8619 #s-Line_5 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #757873;
  -ms-transform: rotate(89.0deg);
}
#s-f8a1a0de-0b67-42c6-9258-5fbf5b0a8619 #s-Line_6 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #757873;
  -ms-transform: rotate(89.0deg);
}
#s-f8a1a0de-0b67-42c6-9258-5fbf5b0a8619 #s-Line_6 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #757873;
  -ms-transform: rotate(89.0deg);
}
#s-f8a1a0de-0b67-42c6-9258-5fbf5b0a8619 #s-Line_7 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #757873;
  -ms-transform: rotate(89.0deg);
}
#s-f8a1a0de-0b67-42c6-9258-5fbf5b0a8619 #s-Line_7 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #757873;
  -ms-transform: rotate(89.0deg);
}
#s-f8a1a0de-0b67-42c6-9258-5fbf5b0a8619 #s-Line_8 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-f8a1a0de-0b67-42c6-9258-5fbf5b0a8619 #s-Line_8 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-f8a1a0de-0b67-42c6-9258-5fbf5b0a8619 #s-Line_9 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-f8a1a0de-0b67-42c6-9258-5fbf5b0a8619 #s-Line_9 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-f8a1a0de-0b67-42c6-9258-5fbf5b0a8619 #s-Line_10 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-f8a1a0de-0b67-42c6-9258-5fbf5b0a8619 #s-Line_10 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-f8a1a0de-0b67-42c6-9258-5fbf5b0a8619 #s-Line_11 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-f8a1a0de-0b67-42c6-9258-5fbf5b0a8619 #s-Line_11 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-f8a1a0de-0b67-42c6-9258-5fbf5b0a8619 #s-Line_12 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-f8a1a0de-0b67-42c6-9258-5fbf5b0a8619 #s-Line_12 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-f8a1a0de-0b67-42c6-9258-5fbf5b0a8619 #s-Image_67 {
  -ms-transform: rotate(0.0deg);
}
#s-f8a1a0de-0b67-42c6-9258-5fbf5b0a8619 #s-Paragraph_3 {
  -ms-transform: rotate(0.0deg);
}
#s-f8a1a0de-0b67-42c6-9258-5fbf5b0a8619 #s-Paragraph_4 {
  -ms-transform: rotate(0.0deg);
}
#s-f8a1a0de-0b67-42c6-9258-5fbf5b0a8619 #s-Paragraph_5 {
  -ms-transform: rotate(0.0deg);
}
#s-f8a1a0de-0b67-42c6-9258-5fbf5b0a8619 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-f8a1a0de-0b67-42c6-9258-5fbf5b0a8619 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-f8a1a0de-0b67-42c6-9258-5fbf5b0a8619 #s-Paragraph_6 {
  -ms-transform: rotate(0.0deg);
}
#s-f8a1a0de-0b67-42c6-9258-5fbf5b0a8619 #s-Image_68 {
  -ms-transform: rotate(0.0deg);
}
#s-f8a1a0de-0b67-42c6-9258-5fbf5b0a8619 #s-Image_72 {
  -ms-transform: rotate(0.0deg);
}
#s-f8a1a0de-0b67-42c6-9258-5fbf5b0a8619 #s-Image_87 {
  -ms-transform: rotate(0.0deg);
}
#s-f8a1a0de-0b67-42c6-9258-5fbf5b0a8619 #s-Paragraph_12 {
  -ms-transform: rotate(0.0deg);
}
#s-f8a1a0de-0b67-42c6-9258-5fbf5b0a8619 #s-Rectangle_7 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=87);
  filter: alpha(opacity=87);
  -ms-transform: rotate(0.0deg);
}
#s-f8a1a0de-0b67-42c6-9258-5fbf5b0a8619 #s-Paragraph_44 {
  -ms-transform: rotate(0.0deg);
}
#s-f8a1a0de-0b67-42c6-9258-5fbf5b0a8619 #s-Image_88 {
  -ms-transform: rotate(0.0deg);
}
#s-f8a1a0de-0b67-42c6-9258-5fbf5b0a8619 #s-Image_89 {
  -ms-transform: rotate(0.0deg);
}
#s-f8a1a0de-0b67-42c6-9258-5fbf5b0a8619 #s-Image_90 {
  -ms-transform: rotate(0.0deg);
}
#s-f8a1a0de-0b67-42c6-9258-5fbf5b0a8619 #s-Paragraph_13 {
  -ms-transform: rotate(0.0deg);
}
#s-f8a1a0de-0b67-42c6-9258-5fbf5b0a8619 #s-Button_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 8px 8px 8px 8px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  width: 157px;
  height: 38px;
  -ms-transform: rotate(0.0deg);
}
#s-f8a1a0de-0b67-42c6-9258-5fbf5b0a8619 #s-Image_91 {
  -ms-transform: rotate(0.0deg);
}
#s-f8a1a0de-0b67-42c6-9258-5fbf5b0a8619 #s-Image_84 {
  -ms-transform: rotate(0.0deg);
}
#s-f8a1a0de-0b67-42c6-9258-5fbf5b0a8619 #s-Image_85 {
  -ms-transform: rotate(0.0deg);
}
#s-f8a1a0de-0b67-42c6-9258-5fbf5b0a8619 #s-Image_92 {
  -ms-transform: rotate(0.0deg);
}
#s-f8a1a0de-0b67-42c6-9258-5fbf5b0a8619 #s-Paragraph_14 {
  -ms-transform: rotate(0.0deg);
}
#s-f8a1a0de-0b67-42c6-9258-5fbf5b0a8619 #s-Button_4 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 8px 8px 8px 8px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  width: 157px;
  height: 38px;
  -ms-transform: rotate(0.0deg);
}
#s-f8a1a0de-0b67-42c6-9258-5fbf5b0a8619 #s-Image_93 {
  -ms-transform: rotate(0.0deg);
}
#s-f8a1a0de-0b67-42c6-9258-5fbf5b0a8619 #s-close-white {
  -ms-transform: rotate(0.0deg);
}
#s-f8a1a0de-0b67-42c6-9258-5fbf5b0a8619 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}